<% provide(:title, "MESSAGES") %>
  <div style="margin-top: 60px;" id="enable_disable">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div id="enable_message"></div>
        <h1>Messages</h1>
        <table class="table table-hover">
          <theader>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Subject</th>
              <th></th>
              <th></th>
            </tr>
          </theader>
          <tbody>
            <% @messages.each_with_index do |message, index| %>
              <tr id="line_<%= message.id %>">
                <td><%= message.name %></td>
                <td><%= message.email %></td>
                <td><%= message.subject %></td>
                <td id="show-message-button-<%= message.id %>"><a href="javascript: showMessage(<%= message.id %>);"><i class="fa fa-<% if message.active == true %>envelope<% else %>unlock-alt<% end %>"></i></a></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="message-preview" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title"><div id="message-preview-title"></div></h4>
				</div>
					<div class="modal-body">
						<div id="message-preview-message"></div>
						<div id="message-preview-body"></div>
					</div>
					<div class="modal-footer">
						<button type="reset" class="btn btn-default" data-dismiss="modal"><i class="fa fa-remove"></i> <%= getTextMessage("close") %></button>
					</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<div class="modal fade" id="generate-password-modal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">New password</h4>
				</div>
					<div class="modal-body">
						<div id="generate-password-message"></div>
						<div id="generate-password-body"></div>
					</div>
					<div class="modal-footer">
						<button type="reset" class="btn btn-default" data-dismiss="modal"><i class="fa fa-remove"></i> <%= getTextMessage("close") %></button>
					</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
  
  <script>
    var changeRead = function(message_id) {
      changeStatus(message_id, 1);
    };
    
    var changeNotRead = function(message_id) {
      changeStatus(message_id, 0);
    };
    
    var changeStatus = function(message_id, status) {
      $.ajax({
    		type: 'GET',
    		url: '/message_change',
    		dataType: "json",
    		data: { 
    			'id': message_id
    		},
    		success: function(data) {
    			if (data.status == "success") {
    			  clearMessage("message-preview-message");
    			  if (status == 1) {
    			    $("#show-message-button-" + message_id).html("<a href=\"javascript: showMessage(" + message_id + ");\"><i class=\"fa fa-envelope\"></i></a>");
    			  }
    			  else {
    			    $("#show-message-button-" + message_id).html("<a href=\"javascript: showMessage(" + message_id + ");\"><i class=\"fa fa-unlock-alt\"></i></a>");
    			  }
    			}
    			else if (data.status == "fail") {
    			  alertMessage("message-preview-message", "Please try again.", "warning", false);
    			}
    		},
    		error: function(data) {
    			console.log("error");
    			console.log(data);
    			alertMessage("message-preview-message", "Please try again.", "warning", false);
    		}
    	});
    };
    
    var newPassword = function(message_id) {
      $("#message-preview").modal("hide");
      
      $.ajax({
    		type: 'GET',
    		url: '/message_recovery',
    		dataType: "json",
    		data: { 
    			'id': message_id
    		},
    		success: function(data) {
    			if (data.status == "success") {
    			  var content = "";
    			  
    			  content += "<br>";
    			  content += "<div class=\"row\">";
    			  content += "  <div class=\"col-md-3\">";
    			  content += "    <label>Name</label>";
    			  content += "  </div>";
    			  content += "  <div class=\"col-md-9\">";
    			  content += "  " + data.email;
    			  content += "  </div>";
    			  content += "</div>";
    			  
    			  content += "<br>";
    			  content += "<div class=\"row\">";
    			  content += "  <div class=\"col-md-3\">";
    			  content += "    <label>New password</label>";
    			  content += "  </div>";
    			  content += "  <div class=\"col-md-9\">";
    			  content += "  " + data.password;
    			  content += "  </div>";
    			  content += "</div>";
    			  
    			  $("#generate-password-body").html(content);
    			}
    			else if (data.status == "fail") {
    			  alertMessage("generate-password-message", "Please try again.", "warning", false);
    			}
    			else if (data.status == "not_registered") {
    			  alertMessage("generate-password-message", "User not registered: " + data.email, "warning", false);
    			}
    			$("#generate-password-modal").modal("show");
    		},
    		error: function(data) {
    			console.log("error");
    			console.log(data);
    			alertMessage("generate-password-message", "Please try again.", "warning", false);
    		}
    	});
    };
    
    var showMessage = function(message_id) {
      $.ajax({
    		type: 'GET',
    		url: '/message_get',
    		dataType: "json",
    		data: { 
    			'id': message_id
    		},
    		success: function(data) {
    			if (data.status == "success") {
    			  clearMessage("message-preview-message");
    			  
    			  var content = "";
            console.log(data.message);    
            content += "<div class=\"btn-group\" data-toggle=\"buttons\">";
            content += "  <label class=\"btn btn-primary " + (data.message.active ? "active" : "") + "\">";
            content += "    <input type=\"radio\" name=\"message_active\" id=\"read-no\" autocomplete=\"off\" onchange=\"changeRead(" + data.message.id + ")\" " + (data.message.active ? "checked" : "") + "> <i class=\"fa fa-envelope\"></i>";
            content += "  </label>";
            content += "  <label class=\"btn btn-primary " + (data.message.active ? "" : "active") + "\">";
            content += "    <input type=\"radio\" name=\"message_active\" id=\"read-yes\" autocomplete=\"off\" onchange=\"changeNotRead(" + data.message.id + ")\" " + (data.message.active ? "" : "checked") + "> <i class=\"fa fa-unlock-alt\"></i>";
            content += "  </label>";
            content += "</div>";
            
            content += "<a href=\"javascript: newPassword(" + message_id + ");\" class=\"btn btn-primary pull-right\"><i class=\"fa fa-recycle\"></i> <%= getTextMessage("generate_password") %></a>";
            
            content += "<br><br>";
            content += "<hr>";
            content += "<div class=\"row\">";
            content += "  <div class=\"col-md-3\">";
            content += "    <label>Name</label>";
            content += "  </div>";
            content += "  <div class=\"col-md-9\">";
            content += "    " + data.message.name;
            content += "  </div>";
            content += "</div>";
            
            content += "<br>";
            content += "<div class=\"row\">";
            content += "  <div class=\"col-md-3\">";
            content += "    <label>Email</label>";
            content += "  </div>";
            content += "  <div class=\"col-md-9\">";
            content += "    " + data.message.email;
            content += "  </div>";
            content += "</div>";
            
            content += "<br>";
            content += "<div class=\"row\">";
            content += "  <div class=\"col-md-3\">";
            content += "    <label>Subject</label>";
            content += "  </div>";
            content += "  <div class=\"col-md-9\">";
            content += "    " + data.message.subject;
            content += "  </div>";
            content += "</div>";
            
            content += "<br>";
            content += "<div class=\"row\">";
            content += "  <div class=\"col-md-3\">";
            content += "    <label>Message</label>";
            content += "  </div>";
            content += "  <div class=\"col-md-9\">";
            content += "    " + data.message.body;
            content += "  </div>";
            content += "</div>";
            
            $("#message-preview-body").html(content);
            $("#message-preview-title").html("Message #" + message_id);
            $("#message-preview").modal("show");
    			}
    			else if (data.status == "fail") {
    			  alertMessage("message-preview-message", "Please try again.", "warning", false);
    			}
    		},
    		error: function(data) {
    			console.log("error");
    			console.log(data);
    			alertMessage("message-preview-message", "Please try again.", "warning", false);
    		}
    	});
    };
  </script>