    <% provide(:title, "Change password") %>
		
		<div class="container" id="homepage">
		  <%= form_for(@user, url: user_change_password_path, onSubmit: "return validateChangePassword()") do |f| %>
		    <%= f.hidden_field :id, :value => @user.id %>
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<div class="page-header">
						  <h3 class="text-center"><i class="fa fa-lock text-danger"></i> <%= getTextMessage("change_password") %></h3>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div id="change_password_message"></div>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
								<i class="fa fa-lock"></i> <%= f.label :password, getTextMessage("new_password") %> <i class="fa fa-asterisk text-danger"></i>
								<%= f.password_field :password, class: "form-control", placeholder: getTextMessage("new_password") %>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
								<i class="fa fa-lock"></i> <%= f.label :password_confirmation, getTextMessage("confirm_password") %> <i class="fa fa-asterisk text-danger"></i>
								<%= f.password_field :password_confirmation, class: "form-control", placeholder: getTextMessage("confirm_password") %>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-12 col-md-offset-0" align="center">
								<%= f.submit getTextMessage("change"), class: "btn btn-danger", onclick: "return validateChangePassword()" %>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>