<% provide(:title, "Home") %>
		
		<div class="container" id="homepage">
			<br>
			<% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>" role="alert">
          	<strong><%= value %></strong>
						<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          </div>
      <% end %>
			<div class="page-header">
			  <h2><%= getTextMessage("hello") %> <%= current_user.first_name %>! <a id="compatibility_research_button_home" href="javascript: launcher = 'home'; launchCompatibilityDialog();" class="btn btn-info btn-lg pull-right"><% if !@compatibility_complete %><i class="fa fa-star fa-spin"><i class="fa fa-star-o fa-spin"></i></i> <%= getTextMessage("compatibility_research") %> <i class="fa fa-star-o fa-spin"><i class="fa fa-star fa-spin"></i></i><% else %><%= getTextMessage("compatibility_research") %><% end %></a></h2>
			</div>
			<ul class="nav nav-tabs" role="tablist">
			  <li class="active"><a href="#republics" role="tab" data-toggle="tab"><i class="fa fa-home"></i> <%= getTextMessage("announced_vacancy") %> </a></li>
			  <li><a href="#contact" role="tab" data-toggle="tab"><i class="fa fa-cog"></i> <%= getTextMessage("settings") %></a></li>
			</ul>
			<!-- Tab panes -->
			<div class="tab-content">
			  <div class="tab-pane fade in active" id="republics">
			  	<% if current_user.republics.where(active: true).length > 0 %>
			  		<div class="row">
							<div class="col-md-4 col-md-offset-0">
								<br>
								<table class="table table-hover table-bordered">
									<thread>
										<tr>
											<th><%= getTextMessage("your_vacancies") %></th>
										</tr>
									</thread>
									<tbody>
										<% current_user.republics.each do |rep| %>
											<% if rep.active %>
												<tr>
													<td><a href="javascript: republic_content_builder(<%= rep.id %>);" id="title_link_<%= rep.id %>"><%= rep.title %><b><%= " | " + getTextMessage("home_add_pictures") + "!" if rep.pictures.length == 0 %></b></a></td>
												</tr>
											<% end %>
										<% end %>
										<tr>
											<td>
												<!-- <a href="javascript: republic_content_builder(0);"><i class="fa fa-plus"></i> Adicionar outra <b>(Em breve)</b></a> -->
												<a href="#" data-toggle="modal" data-target="#announce_type" ><i class="fa fa-plus"></i> <%= getTextMessage("add_other") %></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="col-md-8 col-md-offset-0">
								<div id="republic_content"></div>
							</div>
						</div>
					<% else %>
						<br><br>
						<p class="lead" align="center"><%= getTextMessage("no_vacancies") %> <i class="fa fa-frown-o"></i></p>
						<p align="center"><a href="#" data-toggle="modal" data-target="#announce_type" class="btn btn-success"><i class="fa fa-smile-o"></i> <%= getTextMessage("register_now") %>!</a></p>
					<% end %>
			  </div>
			  <div class="tab-pane fade" id="contact">
			  	<br>
			  	<ul class="nav nav-pills" role="tablist">
					  <li class="active"><a href="#info_data" role="tab" data-toggle="tab"><i class="fa fa-user"></i> <%= getTextMessage("your_data") %></a></li>
					  <li><a href="#change_password" role="tab" data-toggle="tab"><i class="fa fa-lock"></i> <%= getTextMessage("change_password") %></a></li>
					</ul>
					<!-- Tab panes -->
					<div class="tab-content">
					  <div class="tab-pane active" id="info_data">
					  	<%= form_for(current_user, url: user_edit_path, onSubmit: "return validateEdit()") do |f| %>
								<div class="row">
									<div class="col-md-6 col-md-offset-3">
										<div class="page-header">
										  <h3 class="text-center"><%= getTextMessage("contact_data") %> <small>(<%= getTextMessage("required_fields") %> <i class="fa fa-asterisk text-danger"></i>)</small></h3>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div id="edit_user_message"></div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6 col-md-offset-0">
												<i class="fa fa-chevron-right"></i> <%= f.label :first_name, getTextMessage("name") %> <i class="fa fa-asterisk text-danger"></i>
												<%= f.text_field :first_name, class: "form-control", placeholder: getTextMessage("name") %>
											</div>
											<div class="col-md-6 col-md-offset-0">
												<i class="fa fa-chevron-right"></i> <%= f.label :last_name, getTextMessage("surname") %> <i class="fa fa-asterisk text-danger"></i>
												<%= f.text_field :last_name, class: "form-control", placeholder: getTextMessage("surname") %>
											</div>
										</div>
										<br>
										<div class="row">
											<div class="col-md-12 col-md-offset-0">
											  <i class="fa fa-facebook-official"></i> <%= f.label :facebook, placeholder: getTextMessage("facebook") %>
												<%= f.text_field :facebook, class: "form-control", placeholder: getTextMessage("facebook") %>
											</div>
										</div>
										<br>
										<div class="row">
											<div class="col-md-6 col-md-offset-0">
												<i class="fa fa-inbox"></i> <%= f.label :email %> <i class="fa fa-asterisk text-danger"></i>
												<div class="pull-right"><%= f.check_box :hide_email %> <%= f.label :hide_email, getTextMessage("hide") %> <b><span data-toggle="tooltip" data-placement="top" title="<%= getTextMessage("hide_explanation") %>">[?]</span></b></div>
												<%= f.text_field :email, class: "form-control", placeholder: getTextMessage("email") %>
											</div>
											<div class="col-md-6 col-md-offset-0">
												<i class="fa fa-phone"></i> <%= f.label :phone %>
												<div class="pull-right"><%= f.check_box :hide_phone %> <%= f.label :hide_phone, getTextMessage("hide") %></div>
												<%= f.text_field :phone, class: "form-control", placeholder: getTextMessage("phone") %>
											</div>
										</div>
										<br>
										<div class="row">
											<div class="col-md-12 col-md-offset-0" align="center">
												<%= f.submit getTextMessage("change"), class: "btn btn-danger", onclick: "return validateEdit()" %>
											</div>
										</div>
									</div>
								</div>
							<% end %>
					  </div>
					  <div class="tab-pane" id="change_password">
					  	<%= form_for(current_user, url: user_edit_password_path, onSubmit: "return validateEditPassword()") do |f| %>
								<div class="row">
									<div class="col-md-6 col-md-offset-3">
										<div class="page-header">
										  <h3 class="text-center"><i class="fa fa-lock text-danger"></i> <%= getTextMessage("change_password") %> <small>(<%= getTextMessage("required_fields") %> <i class="fa fa-asterisk text-danger"></i>)</small></h3>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div id="edit_user_password_message"></div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6 col-md-offset-3">
												<i class="fa fa-unlock"></i> <%= f.label :password_old, getTextMessage("current_password") %> <i class="fa fa-asterisk text-danger"></i>
												<%= f.password_field :password_old, class: "form-control", placeholder: getTextMessage("current_password") %>
											</div>
										</div>
										<br>
										<div class="row">
											<div class="col-md-6 col-md-offset-3">
												<i class="fa fa-lock"></i> <%= f.label :password, getTextMessage("new_password") %> <i class="fa fa-asterisk text-danger"></i>
												<%= f.password_field :password, class: "form-control", placeholder: getTextMessage("new_password") %>
											</div>
										</div>
										<br>
										<div class="row">
											<div class="col-md-6 col-md-offset-3">
												<i class="fa fa-lock"></i> <%= f.label :password_confirmation, getTextMessage("confirm_password") %> <i class="fa fa-asterisk text-danger"></i>
												<%= f.password_field :password_confirmation, class: "form-control", placeholder: getTextMessage("confirm_password") %>
											</div>
										</div>
										<br>
										<div class="row">
											<div class="col-md-12 col-md-offset-0" align="center">
												<%= f.submit getTextMessage("change"), class: "btn btn-danger", onclick: "return validateEditPassword()" %>
											</div>
										</div>
									</div>
								</div>
							<% end %>
					  </div>
					</div>
			  </div>
			</div>
		</div>