<% provide(:title, "Team") %>

    <div class="container" id="teampage">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist" >
        <li role="presentation" class="active"><a href="#newlistings" aria-controls="newlistings" role="tab" data-toggle="tab"><i class="fa fa-inbox"></i> Listings</a></li>
        <li role="presentation"><a href="#edit" aria-controls="edit" role="tab" data-toggle="tab"><i class="fa fa-pencil-square-o"></i> Edit</a></li>
        <li role="presentation"><a href="#search" aria-controls="search" role="tab" data-toggle="tab"><i class="fa fa-search"></i> Search</a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><i class="fa fa-envelope"></i> Messages</a></li>
        <li role="presentation"><a href="#newsletter" aria-controls="newsletter" role="tab" data-toggle="tab"><i class="fa fa-bullhorn"></i> Newsletter</a></li>
      </ul>
    
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="newlistings">
          <% if @new_republics.length > 0 %>
            <div class="row">
              <div class="col-md-12 col-md-offset-0" id="whole_save_coordinates">
                <br>
                <div id="save_coordinates_message"></div>
                <h1>Coordinates to set</h1>
                <table class="table table-hover">
                  <theader>
                    <tr>
                      <th>#ID</th>
                      <th>Address</th>
                      <th>Number</th>
                      <th>Latitude</th>
                      <th>Longitude</th>
                    </tr>
                  </theader>
                  <tbody>
                    <% @new_republics.each_with_index do |republic, index| %>
                      <tr id="line_<%= republic.id %>">
                        <td><%= republic.id %></td>
                        <td><%= republic.address %></td>
                        <td><%= republic.number %></td>
                        <td><input type="text" name="latitude_<%= republic.id %>" id="latitude_<%= republic.id %>" class="form-control" placeholder="latitude"></td>
                        <td><input type="text" name="longitude_<%= republic.id %>" id="longitude_<%= republic.id %>" class="form-control" placeholder="longitude"></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <a href="javascript: saveCoordinates();" class="btn btn-success pull-right">Save</a>
              </div>
            </div>
          <% else %>
            <div class="col-md-12 col-md-offset-0">
              <h1>Dammit, nothing to do!</h1>
            </div>
          <% end %>
        </div>
        <div role="tabpanel" class="tab-pane" id="edit">
          <div class="row">
            <div class="col-md-12 col-md-offset-0">
              <div id="enable_message"></div>
              <h1>Edit properties</h1>
              <table class="table table-hover">
                <theader>
                  <tr>
                    <th>#ID</th>
                    <th>Title</th>
                    <th>Coordinates</th>
                    <th>Delete Images</th>
                    <th>Enable</th>
                    <th></th>
                  </tr>
                </theader>
                <tbody>
                  <% @edit_republics.each_with_index do |republic, index| %>
                    <tr id="line_<%= republic.id %>">
                      <td><%= republic.id %></td>
                      <td><%= republic.title %></td>
                      <td><input type="text" name="coordinates_<%= republic.id %>" id="coordinates_<%= republic.id %>" class="form-control" value="<%= republic.latitude %>, <%= republic.longitude %>" onblur="updateCoordinates(this, <%= republic.id %>)"></td>
                      <td><a href="javascript: deleteImages(<%= republic.id %>)" class="btn btn-danger"><i class="fa fa-picture-o"></i> Delete</a></td>
                      <td>
                        <div class="btn-group" data-toggle="buttons">
                          <label class="btn btn-primary <% if republic.active %>active<% end %>">
                            <input type="radio" name="options_<%= republic.id %>" id="option_<%= republic.id %>_yes" autocomplete="off" onchange="activate(<%= republic.id %>);" <% if republic.active %>checked<% end %>> Activated
                          </label>
                          <label class="btn btn-primary <% if !republic.active %>active<% end %>">
                            <input type="radio" name="options_<%= republic.id %>" id="option_<%= republic.id %>_no" autocomplete="off" onchange="deactivate(<%= republic.id %>);" <% if !republic.active %>checked<% end %>> Deactivated
                          </label>
                        </div>
                      </td>
                      <td><div id="alert_<%= republic.id %>"></div></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="search">...</div>
        <div role="tabpanel" class="tab-pane" id="messages">
          <div class="row">
            <div class="col-md-12 col-md-offset-0">
              <div id="enable_message"></div>
              <h1>Messages</h1>
              <table class="table table-hover">
                <theader>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Subject</th>
                    <th></th>
                    <th></th>
                  </tr>
                </theader>
                <tbody>
                  <% @messages.each_with_index do |message, index| %>
                    <tr id="line_<%= message.id %>">
                      <td><%= message.name %></td>
                      <td><%= message.email %></td>
                      <td><%= message.subject %></td>
                      <td id="show-message-button-<%= message.id %>"><a href="javascript: showMessage(<%= message.id %>);"><i class="fa fa-<% if message.active == true %>envelope<% else %>unlock-alt<% end %>"></i></a></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal fade" id="message-preview" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        		<div class="modal-dialog">
        			<div class="modal-content">
        				<div class="modal-header">
        					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        					<h4 class="modal-title"><div id="message-preview-title"></div></h4>
        				</div>
        					<div class="modal-body">
        						<div id="message-preview-message"></div>
        						<div id="message-preview-body"></div>
        					</div>
        					<div class="modal-footer">
        						<button type="reset" class="btn btn-default" data-dismiss="modal"><i class="fa fa-remove"></i> <%= getTextMessage("close") %></button>
        					</div>
        			</div><!-- /.modal-content -->
        		</div><!-- /.modal-dialog -->
        	</div><!-- /.modal -->
        	<div class="modal fade" id="generate-password-modal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        		<div class="modal-dialog">
        			<div class="modal-content">
        				<div class="modal-header">
        					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        					<h4 class="modal-title">New password</h4>
        				</div>
        					<div class="modal-body">
        						<div id="generate-password-message"></div>
        						<div id="generate-password-body"></div>
        					</div>
        					<div class="modal-footer">
        						<button type="reset" class="btn btn-default" data-dismiss="modal"><i class="fa fa-remove"></i> <%= getTextMessage("close") %></button>
        					</div>
        			</div><!-- /.modal-content -->
        		</div><!-- /.modal-dialog -->
        	</div><!-- /.modal -->
        </div>
        <div role="tabpanel" class="tab-pane" id="newsletter">
          <br><br>
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#emails" aria-controls="emails" role="tab" data-toggle="tab"><i class="fa fa-users"></i> Emails</a></li>
            <li role="presentation"><a href="#current" aria-controls="current" role="tab" data-toggle="tab"><i class="fa fa-image"></i> Current message</a></li>
            <li role="presentation"><a href="#sendemails" aria-controls="sendemails" role="tab" data-toggle="tab"><i class="fa fa-paper-plane"></i> Send emails</a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="emails">
              <br><br>
              <div class="row">
                <div class="col-md-4">
                  <a href="#" class="btn btn-primary"><i class="fa fa-check"></i> Save</a>
                  <a href="#" class="btn btn-default"><i class="fa fa-remove"></i> Cancel</a>
                  <br><br>
                  <% for i in 1..10 do %>
                    <label for="add_email_<%= i %>"><i class="fa fa-envelope"></i> Email <%= i %></label>
                    <input type="text" id="add_email_<%= i %>" name="add_email_<%= i %>" class="form-control" placeholder="add an email">
                    <br>
                  <% end %>
                </div>
                <div class="col-md-8">
                  <form class="form-inline">
                    <input type="text" class="form-control" id="deactivate" placeholder="Newsletters - Views = ">
                    <a href="#" class="btn btn-info"><i class="fa fa-toggle-off"></i> Deactivate</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="btn btn-success"><i class="fa fa-refresh"></i> Refresh</a>
                  </form>
                  <br><br>
                  <div style="overflow:auto; max-height: 800px;">
                    <table class="table table-hover table-striped">
                      <theader>
                        <tr>
                          <th>Email</th>
                          <th>Newsletters</th>
                          <th>Views</th>
                          <th>Active</th>
                          <th>Delete</th>
                        </tr>
                      </theader>
                      <tbody>
                        <% for i in 1..100 do %>
                          <tr>
                            <td>thiago.lc.melo@gmail.com</td>
                            <td><%= i %></td>
                            <td><%= 100 - i %></td>
                            <td>
                              <input type="checkbox" checked>
                            </td>
                            <td><a href="#"><i class="fa fa-remove"></i></a></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>  
              
            </div>
            <div role="tabpanel" class="tab-pane" id="current">...</div>
            <div role="tabpanel" class="tab-pane" id="sendemails">...</div>
          </div>
          
        </div>
      </div>
    </div>
    
    <script>
    var index = 0;
    var saveCoordinates = function() {
      var republics = [<% @new_republics.each_with_index do |republic, index| %><% if index < @new_republics.length - 1 %><%= republic.id %>,<% else %><%= republic.id %><% end %><% end %>];
      var latitude = $("#latitude_" + republics[index]).val();
      var longitude = $("#longitude_" + republics[index]).val();
      if (latitude === undefined || latitude == "" || longitude === undefined || longitude == "") {
        if (index < republics.length - 1) {
			    index++;
			    saveCoordinates();
			  }
      }
      else {
        $.ajax({
      		type: 'GET',
      		url: '/save_maps',
      		dataType: "json",
      		data: { 
      			'id': republics[index],
      			'latitude': $("#latitude_" + republics[index]).val(),
      			'longitude': $("#longitude_" + republics[index]).val()
      		},
      		success: function(data) {
      			if (data.status == "success") {
      			  clearMessage("save_coordinates_message");
      			  alertMessage("save_coordinates_message", "Success! Id: [" + republics[index] + "] is saved.", "success", false);
      			  $("#line_" + republics[index]).hide('slow', function(){ $("#line_" + republics[index]).remove(); });
      			  if (index < republics.length - 1) {
      			    index++;
      			    saveCoordinates();
      			  }
      			  else {
                var content = "";
                content += "<div class=\"col-md-12 col-md-offset-0\">";
                content += "  <h1>Dammit, nothing to do!</h1>";
                content += "</div>";
                setTimeout(function() {
                  $("#whole_save_coordinates").html(content);
                }, 3000);
      			  }
      			}
      			else if (data.status == "fail") {
      				alertMessage("save_coordinates_message", "Please try again.", "warning", false);
      			}
      		},
      		error: function(data) {
      			console.log("error");
      			console.log(data);
      			alertMessage("save_coordinates_message", "Problems with server.", "danger", false);
      		}
      	});
      }
    };
    
    var deleteImages = function(republic_id) {
      $.ajax({
    		type: 'GET',
    		url: '/enable_delete',
    		dataType: "json",
    		data: { 
    			'id': republic_id
    		},
    		success: function(data) {
    			if (data.status == "success") {
    			  clearMessage("enable_message");
    			  $("#alert_" + republic_id).html("<i class=\"fa fa-thumbs-o-up\"></i>");
    			  setTimeout(function() {
              $("#alert_" + republic_id).html("");
            }, 3000);
    			}
    			else if (data.status == "fail") {
    				alertMessage("enable_message", "Please try again.", "warning", false);
    				$("#alert_" + republic_id).html("<i class=\"fa fa-thumbs-o-down\"></i>");
    			}
    		},
    		error: function(data) {
    			console.log("error");
    			console.log(data);
    			alertMessage("enable_message", "Problems with server.", "danger", false);
    			$("#alert_" + republic_id).html("<i class=\"fa fa-thumbs-o-down\"></i>");
    		}
    	});
    };

    var updateCoordinates = function(obj, republic_id) {
      var coordinates = obj.value.split(", ");
      $.ajax({
    		type: 'GET',
    		url: '/update_coordinates',
    		dataType: "json",
    		data: { 
    			'id': republic_id,
    			'latitude': coordinates[0],
    			'longitude': coordinates[1],
    		},
    		success: function(data) {
    			if (data.status == "success") {
    			  clearMessage("enable_message");
    			  $("#alert_" + republic_id).html("<i class=\"fa fa-thumbs-o-up\"></i>");
    			  setTimeout(function() {
              $("#alert_" + republic_id).html("");
            }, 3000);
    			}
    			else if (data.status == "fail") {
    				alertMessage("enable_message", "Please try again.", "warning", false);
    				$("#alert_" + republic_id).html("<i class=\"fa fa-thumbs-o-down\"></i>");
    			}
    		},
    		error: function(data) {
    			console.log("error");
    			console.log(data);
    			alertMessage("enable_message", "Problems with server.", "danger", false);
    			$("#alert_" + republic_id).html("<i class=\"fa fa-thumbs-o-down\"></i>");
    		}
    	});
    };
  
    var republics = [<% @edit_republics.each_with_index do |republic, index| %><% if index < @edit_republics.length - 1 %><%= republic.id %>,<% else %><%= republic.id %><% end %><% end %>];
  
    var activate = function(republic_id) {
      changeStatus(republic_id, 1);
    };
    
    var deactivate = function(republic_id) {
      changeStatus(republic_id, 0);
    };
    
    var changeStatus = function(republic_id, status) {
      $.ajax({
    		type: 'GET',
    		url: '/activate',
    		dataType: "json",
    		data: { 
    			'id': republic_id,
    			'status': status
    		},
    		success: function(data) {
    			if (data.status == "success") {
    			  clearMessage("enable_message");
    			  $("#alert_" + republic_id).html("<i class=\"fa fa-thumbs-o-up\"></i>");
    			  setTimeout(function() {
              $("#alert_" + republic_id).html("");
            }, 3000);
    			}
    			else if (data.status == "fail") {
    				alertMessage("enable_message", "Please try again.", "warning", false);
    				$("#alert_" + republic_id).html("<i class=\"fa fa-thumbs-o-down\"></i>");
    			}
    		},
    		error: function(data) {
    			console.log("error");
    			console.log(data);
    			alertMessage("enable_message", "Problems with server.", "danger", false);
    			$("#alert_" + republic_id).html("<i class=\"fa fa-thumbs-o-down\"></i>");
    		}
    	});
    };
    
    var changeRead = function(message_id) {
      changeStatus(message_id, 1);
    };
    
    var changeNotRead = function(message_id) {
      changeStatus(message_id, 0);
    };
    
    var changeStatus = function(message_id, status) {
      $.ajax({
    		type: 'GET',
    		url: '/message_change',
    		dataType: "json",
    		data: { 
    			'id': message_id
    		},
    		success: function(data) {
    			if (data.status == "success") {
    			  clearMessage("message-preview-message");
    			  if (status == 1) {
    			    $("#show-message-button-" + message_id).html("<a href=\"javascript: showMessage(" + message_id + ");\"><i class=\"fa fa-envelope\"></i></a>");
    			  }
    			  else {
    			    $("#show-message-button-" + message_id).html("<a href=\"javascript: showMessage(" + message_id + ");\"><i class=\"fa fa-unlock-alt\"></i></a>");
    			  }
    			}
    			else if (data.status == "fail") {
    			  alertMessage("message-preview-message", "Please try again.", "warning", false);
    			}
    		},
    		error: function(data) {
    			console.log("error");
    			console.log(data);
    			alertMessage("message-preview-message", "Please try again.", "warning", false);
    		}
    	});
    };
    
    var newPassword = function(message_id) {
      $("#message-preview").modal("hide");
      
      $.ajax({
    		type: 'GET',
    		url: '/message_recovery',
    		dataType: "json",
    		data: { 
    			'id': message_id
    		},
    		success: function(data) {
    			if (data.status == "success") {
    			  var content = "";
    			  
    			  content += "<br>";
    			  content += "<div class=\"row\">";
    			  content += "  <div class=\"col-md-3\">";
    			  content += "    <label>Name</label>";
    			  content += "  </div>";
    			  content += "  <div class=\"col-md-9\">";
    			  content += "  " + data.email;
    			  content += "  </div>";
    			  content += "</div>";
    			  
    			  content += "<br>";
    			  content += "<div class=\"row\">";
    			  content += "  <div class=\"col-md-3\">";
    			  content += "    <label>New password</label>";
    			  content += "  </div>";
    			  content += "  <div class=\"col-md-9\">";
    			  content += "  " + data.password;
    			  content += "  </div>";
    			  content += "</div>";
    			  
    			  $("#generate-password-body").html(content);
    			}
    			else if (data.status == "fail") {
    			  alertMessage("generate-password-message", "Please try again.", "warning", false);
    			}
    			else if (data.status == "not_registered") {
    			  alertMessage("generate-password-message", "User not registered: " + data.email, "warning", false);
    			}
    			$("#generate-password-modal").modal("show");
    		},
    		error: function(data) {
    			console.log("error");
    			console.log(data);
    			alertMessage("generate-password-message", "Please try again.", "warning", false);
    		}
    	});
    };
    
    var showMessage = function(message_id) {
      $.ajax({
    		type: 'GET',
    		url: '/message_get',
    		dataType: "json",
    		data: { 
    			'id': message_id
    		},
    		success: function(data) {
    			if (data.status == "success") {
    			  clearMessage("message-preview-message");
    			  
    			  var content = "";
            console.log(data.message);    
            content += "<div class=\"btn-group\" data-toggle=\"buttons\">";
            content += "  <label class=\"btn btn-primary " + (data.message.active ? "active" : "") + "\">";
            content += "    <input type=\"radio\" name=\"message_active\" id=\"read-no\" autocomplete=\"off\" onchange=\"changeRead(" + data.message.id + ")\" " + (data.message.active ? "checked" : "") + "> <i class=\"fa fa-envelope\"></i>";
            content += "  </label>";
            content += "  <label class=\"btn btn-primary " + (data.message.active ? "" : "active") + "\">";
            content += "    <input type=\"radio\" name=\"message_active\" id=\"read-yes\" autocomplete=\"off\" onchange=\"changeNotRead(" + data.message.id + ")\" " + (data.message.active ? "" : "checked") + "> <i class=\"fa fa-unlock-alt\"></i>";
            content += "  </label>";
            content += "</div>";
            
            content += "<a href=\"javascript: newPassword(" + message_id + ");\" class=\"btn btn-primary pull-right\"><i class=\"fa fa-recycle\"></i> <%= getTextMessage("generate_password") %></a>";
            
            content += "<br><br>";
            content += "<hr>";
            content += "<div class=\"row\">";
            content += "  <div class=\"col-md-3\">";
            content += "    <label>Name</label>";
            content += "  </div>";
            content += "  <div class=\"col-md-9\">";
            content += "    " + data.message.name;
            content += "  </div>";
            content += "</div>";
            
            content += "<br>";
            content += "<div class=\"row\">";
            content += "  <div class=\"col-md-3\">";
            content += "    <label>Email</label>";
            content += "  </div>";
            content += "  <div class=\"col-md-9\">";
            content += "    " + data.message.email;
            content += "  </div>";
            content += "</div>";
            
            content += "<br>";
            content += "<div class=\"row\">";
            content += "  <div class=\"col-md-3\">";
            content += "    <label>Subject</label>";
            content += "  </div>";
            content += "  <div class=\"col-md-9\">";
            content += "    " + data.message.subject;
            content += "  </div>";
            content += "</div>";
            
            content += "<br>";
            content += "<div class=\"row\">";
            content += "  <div class=\"col-md-3\">";
            content += "    <label>Message</label>";
            content += "  </div>";
            content += "  <div class=\"col-md-9\">";
            content += "    " + data.message.body;
            content += "  </div>";
            content += "</div>";
            
            $("#message-preview-body").html(content);
            $("#message-preview-title").html("Message #" + message_id);
            $("#message-preview").modal("show");
    			}
    			else if (data.status == "fail") {
    			  alertMessage("message-preview-message", "Please try again.", "warning", false);
    			}
    		},
    		error: function(data) {
    			console.log("error");
    			console.log(data);
    			alertMessage("message-preview-message", "Please try again.", "warning", false);
    		}
    	});
    };
  </script>