/* sections */

/* first page - begin */

#firstpage {
	background-image: url('../img/background_f.jpg');
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-position:50% 50%9 !important;
	padding-top: 5%;
	height:100%;
}

#firstpage h2 {
	color: #fff;
	margin-bottom: 10%;
}

.mainheader {
	border-bottom: 2px solid #fff;
	margin-bottom: 5%;
}

.mainheader h1 {
	color: #fff;
	font-size: 400%;
}

.mainfooter {
	border-top: 2px solid #fff;
	margin-top: 15%;
}

.mainfooter h1 {
	color: #fff;
	font-size: 200%;
}

.mainfooter p {
	color: #fff;
	font-size: 200%;
}

/* first page - end */
/*----------------------------------------------*/
/* find page - begin */

#findpage {
	height:100%;
}

.findheader {
	border-bottom: 2px solid #e3070a;
	margin-bottom: 10%;
	padding-top: 5%;	
}

.findheader h1 {
}

.findheader p {
	
}

.findfooter {
	border-top: 2px solid #e3070a;
	margin-top: 7%;
	margin-bottom: 3%;
}

/* find page - end */
/*----------------------------------------------*/
/* advertise page - begin */

#advertisepage {
	background-color: #606075;
	/*
	background-image: url('../img/advertise.jpg');
	background-repeat: no-repeat;
	background-position:50% 50%;
	background-position:50% 50%9 !important;
	height:100%;
	*/
	padding-top: 3%;
	height:100%;
}

.advertiseheader {
	border-bottom: 2px solid #fff;
}

.advertiseheader h1 {
	color: #fff;
	font-size: 400%;
}

.advertisefooter {
	border-top: 2px solid #fff;
	margin-top: 5%;
	margin-bottom: 5%;
	color: #fff;
}

.advertisetext p {
	margin-top: 5%;
	margin-bottom: 5%;
	color: #fff;
}

/* advertise page - end */
/*----------------------------------------------*/
/* about page - begin */

#aboutpage {
	height:100%;
	background-color: #fff;
	padding-top: 3%;
}

.aboutheader {
	border-bottom: 2px solid #e3070a;
	margin-bottom: 2%;
}

.aboutfooter {
	border-top: 2px solid #e3070a;
	margin-top: 3%;
}

/* about page - end */
/*----------------------------------------------*/
/* contact page - begin */

#contactpage {
	background-image: url('../img/map.jpg');
	background-repeat: no-repeat;
	background-position:50% 50%;
	background-position:50% 50%9 !important;
	padding-top: 3%;
	height:100%;
	color: #fff;
	background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

#contactpage label {
	font-size: 150%;
}

.contactheader {
	border-bottom: 2px solid #fff;
	margin-bottom: 2%;
}

.contacttext p {
	margin-top: 2%;
	margin-bottom: 5%;
	color: #fff;
}

/* contact page - end */
/*----------------------------------------------*/
/* footer page - begin */

.footer {
	padding-top: 2.5%;
	padding-bottom: 1%;
	background-color: #7a7a84;
	color: #fff;
}

.footer p a {
	font-weight: bold;
	text-decoration: none;
	color: #fff;
}

.footer p a:hover {
	text-decoration: underline;
}

/* footer page - end */
/*----------------------------------------------*/


/* miscellaneous */

#main_navbar {
	/*margin-top: 10px;*/
}

html, body{
  height:100%;
}

.top-5 {
	margin-top: 5%;
}

.top-15 {
	margin-top: 10%;
}
