<% provide(:title, "Phone Views") %>

<div class="container" style="padding-top: 100px;">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Address</th>
            <th>Number</th>
            <th>User</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Views</th>
          </tr>
        </thead>
        <tbody>
          <% @republics.each_with_index do |republic, index| %>
            <tr>
              <td><%= republic.id %></td>
              <td><%= republic.title %></td>
              <td><%= republic.address %></td>
              <td><%= republic.number %></td>
              <td><%= republic.user.first_name + " " + republic.user.last_name  %></td>
              <td><%= republic.user.email %></td>
              <td><%= republic.user.phone %></td>
              <td><%= republic.phone_views %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>