/**
 * this function create all the compatibility questions dialog
 * being able to keep itself alive while still are questions to be
 * answered
 * 
 * the variable [laucher] stores the information of where this process
 * has been called, in order to offer an appropriate finalize button
 * 
 * @params: there is no params, this is awesome
 * 
 * @author: Thiago Melo
 * @version: 2015-03-27
 */
var launcher = undefined;
var launchCompatibilityDialog = function() {
  var question_modal = new ModalWrapper('compatibility_dialog', 'large');
  $.ajax({
		type: 'GET',
		url: '/answer_compatibility_process',
		dataType: "json",
		data: { 
			'id': 1
		},
		success: function(response) {
			if (response.status == "success") {
			  question_modal.setTitle(response.title);
			  var body = new QuestionBody(response.question, response.answers);
			  question_modal.setBody(body.getBody());
			  var next_button = $('<a/>').addClass('btn btn-success pull-right').append(icon('mail-forward')).append(' ' + getTextMessage['next_f']);
			  next_button.click(function() {
			  	question_modal.hide();
			  	// it send the answer and pops up again if there are any question yet
			  	body.sendAnswer(launchCompatibilityDialog);
			  });
			  question_modal.setFooter(next_button);
			  question_modal.show();
			}
			else if (response.status == "done") {
				question_modal.setTitle(getTextMessage['congratulations'] + '!');
				var body = bootstrapRow(
					bootstrapFastCol(10, 10, 1, 1).append(
						$('<p/>').addClass('lead').append(getTextMessage['all_questions_answered'])
					).append(
						$('<p/>').append(getTextMessage['change_questions'])
					)
				);
				question_modal.setBody(body);
				var remake_button = $('<a/>').addClass('btn btn-success').append(icon('refresh')).append(' ' + getTextMessage['remake']).click(function() {
					question_modal.hide();
					resetQuestions();
				});
				
				var finalize_button = '';
				if (launcher == 'home') {
					finalize_button = $('<a/>').addClass('btn btn-info').append(icon('thumbs-o-up')).append(' ' + getTextMessage['finalize']).click(function() {
						question_modal.hide();
					});
				}
				else {
					finalize_button = $('<a/>').addClass('btn btn-info').append(icon('cogs')).append(' ' + getTextMessage['run_compatibility']).click(function() {
						question_modal.hide();
						searchAdvertiments();
					});
				}
				
				var buttons = $('<div/>').append(remake_button).append(finalize_button);
				question_modal.setFooter(buttons);
			
				$('#compatibility_research_button_home').empty().append(getTextMessage['compatibility_research']);
				$('#compatibility_research_button_search').empty().append(getTextMessage['smarty_search']);
				
				question_modal.show();
			}
			else if (response.status == "fail") {
				console.log(response);
			}
		},
		error: function(response) {
			console.log(response);
		}
	});
};

/**
 * this function reset the current users questions and starts the asking
 * process again
 * 
 * @author: Thiago Melo
 * @version: 2015-03-28
 */
var resetQuestions = function() {
	$.ajax({
		type: 'GET',
		url: '/reset_questions',
		dataType: "json",
		data: { 
			'id': 1
		},
		success: function(response) {
			if (response.status == "success") {
			  launchCompatibilityDialog();
			}
			else if (response.status == "fail") {
				console.log(response);
			}
		},
		error: function(response) {
			console.log(response);
		}
	});
};

/**
 * this class has creates an easy way to build, handle and validate
 * a specific question and its answers
 * 
 * @author: Thiago Melo
 * @version: 2015-03-27
 * 
 */
var QuestionBody = function(question, answers) {
  this.question = question;
  this.answers = answers;
  
  this.randomBG = function() {
    var option = parseInt(Math.random() * 5, 10);
    var type;
    switch (option) {
      case 0:
        type = 'primary';
        break;
      case 1:
        type = 'success';
        break;
      case 2:
        type = 'info';
        break;
      case 3:
        type = 'warning';
        break;
      case 4:
        type = 'danger';
        break;
    }
    return 'bg-' + type;
  };
  
  this.getBody = function () {
    var question = this.question;
    var alert_message = $('<div/>').prop('id', 'question_' + this.question.id + '_alert');
    var question_text = $('<p/>').addClass('lead').append(this.question.question);
    var max_answers = undefined;
    if (question.max_answers > 1) {
      max_answers = $('<p/>').addClass('text-right').append($('<i/>').addClass('fa fa-asterisk')).append(' ' + getTextMessage['pick'] + ' ' + question.max_answers);
    }
    var answers_box = $('<div/>').prop('id', 'answers_box');
    $.each(this.answers, function(index, answer) {
      $('<p/>').append(
        $('<label/>').append(
          $('<input/>').prop('type', question.max_answers == 1 ? 'radio' : 'checkbox')
            .prop('id', 'answer_' + answer.id).prop('name', 'question_' + question.id + '_answer')
            .val(answer.id)
        ).append(' ').append(answer.answer)
      ).appendTo(answers_box);
    });
    var body = bootstrapRow().append(
    	bootstrapFastCol(10, 10, 1, 1).append(alert_message).append(question_text).append(max_answers).append(answers_box)
    );
    return body;
  };
  
  this.sendAnswer = function(callback) {
  	var question_id = this.question.id;
  	var answers_array = [];
  	// it needs to be cjecked again
  	var max_answers = question.max_answers;
  	$.each(this.answers, function(index, answer) {
  		if($('#answer_' + answer.id).is(':checked') && max_answers > 0) {
  			answers_array.push(answer.id);
  			max_answers--;
  		}
  	});
  	var answers_ids = answers_array.join('|');
  	answers_ids = answers_ids === undefined ? '' : answers_ids;
  	$.ajax({
			type: 'GET',
			url: '/quick_answer',
			dataType: "json",
			data: { 
				'question_id': question_id,
				'answers_ids': answers_ids
			},
			success: function(response) {
				if (response.status == "success") {
				  callback();
				}
				else if (response.status == "fail") {
					console.log(response);
				}
				else if (response.status == "empty") {
					
				}
				else {
					
				}
			},
			error: function(response) {
				console.log(response);
			}
		});
  };
};