var validateEditRepublic = function() {
	clearMessage("republic_info_message");
	if (!validateNotEmpty($("#title").val())) {
		alertMessage("republic_info_message", getTextMessage['advertise_message_validate_title'], "warning", false);
		$("#title").focus();
		return false;
	}
	if (!validateNumber($("#cost").val())) {
		alertMessage("republic_info_message", getTextMessage['advertise_message_validate_cost'], "warning", false);
		$("#cost").focus();
		return false;
	}
	if (!validateNotEmpty($("#description").val())) {
		alertMessage("republic_info_message", getTextMessage['advertise_message_validate_description'], "warning", false);
		$("#description").focus();
		return false;
	}
	if (!validateDecimal($("#bathrooms").val()) || $("#bathrooms").val() < 0) {
		alertMessage("republic_info_message", getTextMessage['advertise_message_validate_bathrooms'], "warning", false);
		$("#bathrooms").focus();
		return false;
	}
	if (!validateNotEmpty($("#address").val())) {
		alertMessage("republic_info_message", getTextMessage['advertise_message_validate_address'], "warning", false);
		$("#address").focus();
		return false;
	}
	if (!validateNumber($("#number").val())) {
		alertMessage("republic_info_message", getTextMessage['advertise_message_validate_number'], "warning", false);
		$("#number").focus();
		return false;
	}
	return true;
}

var validateEdit = function() {
	
	clearMessage("edit_user_message");
	if (!validateNotEmpty($("#user_first_name").val())) {
		alertMessage("edit_user_message", getTextMessage['advertise_message_validate_first_name'], "warning", false);
		$("#user_first_name").focus();
		return false;
	}
	if (!validateNotEmpty($("#user_last_name").val())) {
		alertMessage("edit_user_message", getTextMessage['advertise_message_validate_last_name'], "warning", false);
		$("#user_last_name").focus();
		return false;
	}
	if (!validateEmail($("#user_email").val())) {
		alertMessage("edit_user_message", getTextMessage['advertise_message_validate_email'], "warning", false);
		$("#user_email").focus();
		return false;
	}
	return true;
};

var validateEditPassword = function() {
	
	clearMessage("edit_user_password_message");
	
	if (!validatePassword($("#user_password_old").val())) {
		alertMessage("edit_user_password_message", getTextMessage['edit_user_password_message_invalid_old'], "warning", false);
		$("#user_password_old").val("");
		$("#user_password").val("");
		$("#user_password_confirmation").val("");
		$("#user_password_old").focus();
		return false;
	}
	
	if (!validatePassword($("#user_password").val()) || !validatePassword($("#user_password_confirmation").val()) || $("#user_password").val() != $("#user_password_confirmation").val()) {
		alertMessage("edit_user_password_message", getTextMessage['advertise_message_validate_password'], "warning", false);
		$("#user_password").val("");
		$("#user_password_confirmation").val("");
		$("#user_password").focus();
		return false;
	}
	return true;
};

var validateChangePassword = function() {
	
	clearMessage("change_password_message");
	
	if (!validatePassword($("#user_password").val()) || !validatePassword($("#user_password_confirmation").val()) || $("#user_password").val() != $("#user_password_confirmation").val()) {
		alertMessage("change_password_message", getTextMessage['advertise_message_validate_password'], "warning", false);
		$("#user_password").val("");
		$("#user_password_confirmation").val("");
		$("#user_password").focus();
		return false;
	}
	return true;
};

var republic_content_builder = function(republic_id, tab) {
  if (republic_id === 0) {
    build_for_new();
  }
  else {
    $("#title_link_" + republic_id).html("<i class=\"fa fa-spinner fa-spin\"></i> " + getTextMessage['loading']);
    $.ajax({
  		type: 'GET',
  		url: '/repuplic_information',
  		dataType: "json",
  		data: { 
  			'republic_id': republic_id
  		},
  		success: function(data) {
  			if (data.status == "success") {
  			  var content = "";
					content += "<ul class=\"nav nav-pills\" role=\"tablist\">";
					if (tab === undefined || tab === 0) {
						content += "  <li class=\"active\"><a href=\"#information\" role=\"tab\" data-toggle=\"tab\"><i class=\"fa fa-database\"></i> " + getTextMessage['information'] + "</a></li>";
						content += "  <li><a href=\"#pictures\" role=\"tab\" data-toggle=\"tab\"><i class=\"fa fa-picture-o\"></i> " + getTextMessage['pictures'] + "</a></li>";
						content += "  <li><a href=\"#delete\" role=\"tab\" data-toggle=\"tab\"><i class=\"fa fa-trash\"></i> " + getTextMessage['delete'] + "</a></li>";
					}
					else if(tab == 1) {
						content += "  <li><a href=\"#information\" role=\"tab\" data-toggle=\"tab\"><i class=\"fa fa-database\"></i>  " + getTextMessage['information'] + "</a></li>";
						content += "  <li class=\"active\"><a href=\"#pictures\" role=\"tab\" data-toggle=\"tab\"><i class=\"fa fa-picture-o\"></i>  " + getTextMessage['pictures'] + "</a></li>";
						content += "  <li><a href=\"#delete\" role=\"tab\" data-toggle=\"tab\"><i class=\"fa fa-trash\"></i> " + getTextMessage['delete'] + "</a></li>";
					}
					
					content += "</ul>";
					content += "<div class=\"tab-content\">";
					
					if (tab === undefined || tab === 0) {
						content += "  <div class=\"tab-pane active\" id=\"information\">";
					}
					else if(tab == 1) {
						content += "  <div class=\"tab-pane\" id=\"information\">";
					}
					
					content += "<input type=\"hidden\" name=\"republic[id]\" id=\"republic_id\" value=\"" + data.republic.id + "\">";
					content += "<div class=\"page-header\">";
					content += "  <h3>" + getTextMessage['vacancy_information'] + " <small>(" + getTextMessage['required_fields'] + " <i class=\"fa fa-asterisk text-danger\"></i>)</small></h3>";
					content += "</div>";
					content += "<div id=\"republic_info_message\"></div>";
					
					
					content += "<blockquote>";
					
					if (data.republic.is_people) {
						content += "<p>" + getTextMessage['people_announcement'] + "</p>";
					}
					else if (data.republic.is_landlord) {
						content += "<p>" + getTextMessage['property'] + "</p>";
					}
					else {
						content += "<p>" + getTextMessage['vacancy'] + "</p>";
					}
					content += "</blockquote>";
					
					
					
					content += "<div class=\"row\">";
					
					content += "<input type=\"hidden\" name=\"republic[is_people]\" id=\"is_people\" value=\"" + (data.republic.is_people ? "true" : "false") + "\">";
					content += "<input type=\"hidden\" name=\"republic[is_landlord]\" id=\"is_landlord\" value=\"" + (data.republic.is_landlord ? "true" : "false") + "\">";
					
					
					content += "	<div class=\"col-md-5 col-md-offset-0\">";
					content += "		<label for=\"title\"><i class=\"fa fa-tags\"></i> " + getTextMessage['title'] + " <i class=\"fa fa-asterisk text-danger\"></i></label>";
					content += "		<input type=\"text\" name=\"republic[title]\" id=\"title\" class=\"form-control\" placeholder=\"" + getTextMessage['title'] + "\" value=\"" + data.republic.title + "\">";
					content += "	</div>";
					content += "	<div class=\"col-md-5 col-md-offset-0\">";
					content += "		<label for=\"address\"><i class=\"fa fa-envelope\"></i> " + getTextMessage['street_label'] + " <i class=\"fa fa-asterisk text-danger\"></i></label>";
					
					content += "		<div class=\"pull-right\"><input type=\"checkbox\" name=\"republic[hide_address]\" id=\"hide_address\" " + (data.republic.hide_address ? "checked" : "") + "> <label for=\"hide_address\">" + getTextMessage["hide"] + "</label> <b><span data-toggle=\"tooltip\" data-placement=\"top\" title=\"" + getTextMessage["hide_address"] + "\">[?]</span></b></div>";
					
					content += "		<input type=\"text\" name=\"republic[address]\" id=\"address\" class=\"form-control\" placeholder=\"" + getTextMessage['street_label'] + "\" value=\"" + data.republic.address + "\">";
					content += "	</div>";
					content += "	<div class=\"col-md-2 col-md-offset-0\">";
					content += "		<label for=\"number\">" + getTextMessage['number'] + " <i class=\"fa fa-asterisk text-danger\"></i></label>";
					content += "		<input type=\"text\" name=\"republic[number]\" id=\"number\" class=\"form-control\" placeholder=\"" + getTextMessage['number'] + "\" value=\"" + data.republic.number + "\">";
					content += "	</div>";
					content += "</div>";
					content += "<br>";
					content += "<div class=\"row\">";
					content += "	<div class=\"col-md-3 col-md-offset-0\">";
					content += "		<label for=\"shape\"><i class=\"fa fa-newspaper-o\"></i> " + getTextMessage['shape'] + " <i class=\"fa fa-asterisk text-danger\"></i></label>";
					content += "		<select id=\"shape\" name=\"republic[shape]\" class=\"form-control\">";
					$.each(data.rep_types, function( index, value ) {
            content += "				<option value=\""+ index + "\" " + (index == data.republic.shape ? "selected" : "") + ">" + value + "</option>";
          });
					content += "		</select>";
					content += "	</div>";
					
					if (data.republic.is_landlord) {
						content += "		<input type=\"hidden\" id=\"gender\" name=\"republic[gender]\" value=\"0\">";
					}
					else {
						content += "	<div class=\"col-md-3 col-md-offset-0\">";
						content += "		<label for=\"gender\"><i class=\"fa fa-male\"></i> <i class=\"fa fa-female\"></i> " + getTextMessage['gender'] + " <i class=\"fa fa-asterisk text-danger\"></i></label>";
						content += "		<select id=\"gender\" name=\"republic[gender]\" class=\"form-control\">";
						$.each(data.rep_genders, function( index, value ) {
	            content += "				<option value=\""+ index + "\" " + (index == data.republic.gender ? "selected" : "") + ">" + value + "</option>";
	          });
						content += "		</select>";
						content += "	</div>";
					}
					
					content += "	<div class=\"col-md-3 col-md-offset-0\">";
					content += "		<label for=\"cost\"><i class=\"fa fa-usd\"></i> " + getTextMessage['cost'] + " <i class=\"fa fa-asterisk text-danger\"></i></label>";
					content += "		<input type=\"text\" id=\"cost\" name=\"republic[cost]\" class=\"form-control\" placeholder=\"" + getTextMessage['cost'] + "\" value=\"" + data.republic.cost + "\">";
					content += "	</div>";
					content += "	<div class=\"col-md-3 col-md-offset-0\">";
					content += "		<label for=\"roommates\"><i class=\"fa fa-users\"></i> " + getTextMessage['roommates'] + "</label>";
					content += "		<input type=\"text\" id=\"roommates\" name=\"republic[roommates]\" class=\"form-control\" placeholder=\"" + getTextMessage['roommates'] + "\" value=\"" + data.republic.roommates + "\">";
					content += "	</div>";
					
					//content += "</div>";
					
					
					content += "	<div class=\"col-md-3 col-md-offset-0\">";
					content += "		<label for=\"lease\"><i class=\"fa fa-book\"></i> " + getTextMessage['lease_options'] + "</label>";
					content += "		<select id=\"lease\" name=\"republic[lease]\" class=\"form-control\">";
					$.each(data.lease_options, function( index, value ) {
            content += "				<option value=\""+ index + "\" " + (index == data.republic.lease ? "selected" : "") + ">" + value + "</option>";
          });
					content += "		</select>";
					content += "	</div>";
					content += "	<div class=\"col-md-3 col-md-offset-0\">";
					content += "		<label for=\"bathrooms\"><i class=\"fa fa-recycle\"></i> " + getTextMessage['bathrooms'] + " <i class=\"fa fa-asterisk text-danger\"></i></label>";
					content += "		<input type=\"text\" id=\"bathrooms\" name=\"republic[bathrooms]\" class=\"form-control\" placeholder=\"" + getTextMessage['bathrooms'] + "\" value=\"" + data.republic.bathrooms + "\">";
					content += "	</div>";
					content += "	<div class=\"col-md-2 col-md-offset-0\">";
					content += "		<label for=\"pets\"><i class=\"fa fa-cube\"></i> " + getTextMessage['pets'] + "</label>";
					content += "		<br>";
					content += "		<div class=\"btn-group\" data-toggle=\"buttons\">";
					content += "		  <label class=\"btn btn-primary " + (data.republic.pets ? "active" : "" ) + "\">";
					content += "		    <input type=\"radio\" name=\"republic[pets]\" id=\"pets_true\" value=\"true\" autocomplete=\"off\" " + (data.republic.pets ? "checked" : "" ) + "> <i class=\"fa fa-check\"></i>";
					content += "		  </label>";
					content += "		  <label class=\"btn btn-primary " + (!data.republic.pets ? "active" : "" ) + "\">";
					content += "		    <input type=\"radio\" name=\"republic[pets]\" id=\"pets_false\" value=\"false\" autocomplete=\"off\" " + (!data.republic.pets ? "active" : "" ) + "> <i class=\"fa fa-remove\"></i>";
					content += "		  </label>";
					content += "		</div>";
					content += "	</div>";
					content += "	<div class=\"col-md-2 col-md-offset-0\">";
					content += "		<label for=\"heating\"><i class=\"fa fa-tachometer\"></i> " + getTextMessage['heating'] + "</label>";
					content += "		<br>";
					content += "		<div class=\"btn-group\" data-toggle=\"buttons\">";
					content += "		  <label class=\"btn btn-primary " + (data.republic.heating ? "active" : "" ) + "\">";
					content += "		    <input type=\"radio\" name=\"republic[heating]\" id=\"heating_true\" value=\"true\" autocomplete=\"off\" " + (data.republic.heating ? "checked" : "" ) + "> <i class=\"fa fa-check\"></i> ";
					content += "		  </label>";
					content += "		  <label class=\"btn btn-primary " + (!data.republic.heating ? "active" : "" ) + "\">";
					content += "		    <input type=\"radio\" name=\"republic[heating]\" id=\"heating_false\" value=\"false\" autocomplete=\"off\" " + (!data.republic.pets ? "checked" : "" ) + "> <i class=\"fa fa-remove\"></i>";
					content += "		  </label>";
					content += "		</div>";
					content += "	</div>";
					content += "	<div class=\"col-md-2 col-md-offset-0\">";
					content += "		<label for=\"parking\"><i class=\"fa fa-car\"></i> " + getTextMessage['parking'] + "</label>";
					content += "		<br>";
					content += "		<div class=\"btn-group\" data-toggle=\"buttons\">";
					content += "		  <label class=\"btn btn-primary " + (data.republic.parking ? "active" : "" ) + "\">";
					content += "		    <input type=\"radio\" name=\"republic[parking]\" id=\"parking_true\" value=\"true\" autocomplete=\"off\" " + (data.republic.parking ? "checked" : "" ) + "> <i class=\"fa fa-check\"></i> ";
					content += "		  </label>";
					content += "		  <label class=\"btn btn-primary " + (!data.republic.parking ? "active" : "" ) + "\">";
					content += "		    <input type=\"radio\" name=\"republic[parking]\" id=\"parking_false\" value=\"false\" autocomplete=\"off\" " + (!data.republic.parking ? "checked" : "" ) + "> <i class=\"fa fa-remove\"></i>";
					content += "		  </label>";
					content += "		</div>";
					content += "	</div>";
					
					
					if (data.republic.is_landlord) {
						content += "		<input type=\"hidden\" id=\"organization\" name=\"republic[organization]\" value=\"0\">";
						content += "		<input type=\"hidden\" id=\"parties\" name=\"republic[parties]\" value=\"0\">";
						content += "		<input type=\"hidden\" id=\"stuff\" name=\"republic[stuff]\" value=\"0\">";
					}
					else {
						content += "	<div class=\"col-md-3 col-md-offset-0\">";
						content += "		<label for=\"organization\"><i class=\"fa fa-cutlery\"></i> " + getTextMessage['organization'] + "</label>";
						content += "		<select id=\"organization\" name=\"republic[organization]\" class=\"form-control\">";
						$.each(data.organization_options, function( index, value ) {
	            content += "				<option value=\""+ index + "\" " + (index == data.republic.organization ? "selected" : "") + ">" + value + "</option>";
	          });
						content += "		</select>";
						content += "	</div>";
						content += "	<div class=\"col-md-3 col-md-offset-0\">";
						content += "		<label for=\"parties\"><i class=\"fa fa-birthday-cake\"></i> " + getTextMessage['parties'] + "</label>";
						content += "		<select id=\"parties\" name=\"republic[parties]\" class=\"form-control\">";
						$.each(data.parties_options, function( index, value ) {
	            content += "				<option value=\""+ index + "\" " + (index == data.republic.parties ? "selected" : "") + ">" + value + "</option>";
	          });
						content += "		</select>";
						content += "	</div>";
						
						if (getTextMessage['country'] == "us") {
							content += "		<div class=\"col-md-2 col-md-offset-0\">";
							content += "			<label for=\"stuff\"><i class=\"fa fa-clock-o\"></i> " + getTextMessage['stuff'] + "</label>";
							content += "			<select id=\"stuff\" name=\"republic[stuff]\" class=\"form-control\">";
							$.each(data.stuff_options, function( index, value ) {
		            content += "				<option value=\""+ index + "\" " + (index == data.republic.stuff ? "selected" : "") + ">" + value + "</option>";
		          });
							content += "			</select>";
							content += "		</div>";
						}
						else {
							content += "		<input type=\"hidden\" id=\"stuff\" name=\"republic[stuff]\" value=\"0\">";
						}
					}
					
					content += "	<div class=\"col-md-2 col-md-offset-0\">";
					content += "		<label for=\"smoking\"><i class=\"fa fa-fire\"></i> " + getTextMessage['smoking'] + "</label>";
					content += "		<br>";
					content += "		<div class=\"btn-group\" data-toggle=\"buttons\">";
					content += "		  <label class=\"btn btn-primary " + (data.republic.smoking ? "active" : "" ) + "\">";
					content += "		    <input type=\"radio\" name=\"republic[smoking]\" id=\"smoking_true\" value=\"true\" autocomplete=\"off\"> <i class=\"fa fa-check\"></i> ";
					content += "		  </label>";
					content += "		  <label class=\"btn btn-primary " + (!data.republic.smoking ? "active" : "" ) + "\">";
					content += "		    <input type=\"radio\" name=\"republic[smoking]\" id=\"smoking_false\" value=\"false\" autocomplete=\"off\" checked> <i class=\"fa fa-remove\"></i>";
					content += "		  </label>";
					content += "		</div>";
					content += "	</div>";
					content += "	<div class=\"col-md-2 col-md-offset-0\">";
					content += "		<label for=\"alcohol\"><i class=\"fa fa-beer\"></i> " + getTextMessage['alcohol'] + "</label>";
					content += "		<br>";
					content += "		<div class=\"btn-group\" data-toggle=\"buttons\">";
					content += "		  <label class=\"btn btn-primary " + (data.republic.alcohol ? "active" : "" ) + "\">";
					content += "		    <input type=\"radio\" name=\"republic[alcohol]\" id=\"alcohol_true\" value=\"true\" autocomplete=\"off\" " + (data.republic.alcohol ? "checked" : "" ) + "> <i class=\"fa fa-check\"></i> ";
					content += "		  </label>";
					content += "		  <label class=\"btn btn-primary " + (!data.republic.alcohol ? "active" : "" ) + "\">";
					content += "		    <input type=\"radio\" name=\"republic[alcohol]\" id=\"alcohol_false\" value=\"false\" autocomplete=\"off\" " + (!data.republic.alcohol ? "checked" : "" ) + "> <i class=\"fa fa-remove\"></i>";
					content += "		  </label>";
					content += "		</div>";
					content += "	</div>";
					content += "</div>";
					
					
					
					
					content += "<br>";
					content += "<div class=\"row\">";
					content += "	<div class=\"col-md-12 col-md-offset-0\">";
					content += "		<label for=\"description\"><i class=\"fa fa-home\"></i> " + getTextMessage['description_long'] + " <i class=\"fa fa-asterisk text-danger\"></i></label>";
					content += "		<textarea class=\"form-control\" name=\"republic[description]\" id=\"description\" placeholder=\"" + getTextMessage['description'] + "\" rows=\"3\">" + data.republic.description + "</textarea>";
					content += "	</div>";
					content += "</div>";
					content += "<br>";
					content += "<div class=\"row\">";
					content += "	<div class=\"col-md-12 col-md-offset-0\" align=\"center\">";
					content += "		<a href=\"javascript: editRepublic();\" class=\"btn btn-danger\"><i class=\"fa fa-edit\"></i> " + getTextMessage['change'] + "</a>";
					content += "	</div>";
					content += "</div>";
					content += "  </div>";
					
					if (tab === undefined || tab === 0) {
						content += "  <div class=\"tab-pane\" id=\"pictures\">";
					}
					else if(tab == 1) {
						content += "  <div class=\"tab-pane active\" id=\"pictures\">";
					}
					
					content += "<div class=\"page-header\">";
					content += "  <h3>" + getTextMessage['pictures'] + "</h3>";
					content += "</div>";
					content += "<div id=\"republic_pictures_message\"></div>";
					
					if (data.pictures.length > 0) {
						content += "<div class=\"row\" align=\"center\">";
						var j;
						for (j = 0; j < data.pictures.length; j++) {
							content += "	<div class=\"col-md-3 col-md-offset-0 preview-image-block\" id=\"picture_" + data.pictures[j].id + "\">";
							content += "		<img src=\"" + data.pictures[j].path + "\" alt=\"\" class=\"img-thumbnail preview-image\">";
							content += "		<a href=\"javascript: deletePicture(" + data.pictures[j].id + ");\">" + getTextMessage['remove'] + "</a>";
							content += "	</div>";
						}
						content += "</div>";
						
					}
					
					content += "<div class=\"row\">";
					content += "	<div class=\"col-md-12 col-md-offset-0\">";
					content += "		<div class=\"fileUpload btn btn-primary\">";
					content += "			<i class=\"fa fa-picture-o\"></i>";
					content += "			<span>" + getTextMessage['add'] + "</span>";
					content += "			<input type=\"file\" accept=\"image/*\" class=\"upload\" onchange=\"pictures_preview(" + republic_id + ");\" multiple/ id=\"republic_pictures\" name=\"pictures[]\">";
					content += "		</div>";
					content += "	</div>";
					content += "</div>";
					
					content += "<div class=\"row\" id=\"pictures_preview\" align=\"center\"></div>";
					content += "<div class=\"upload_box\" id=\"pictures_preview_upload\"></div>";
					
					
					content += "  </div>";
					content += "  <div class=\"tab-pane\" id=\"delete\">";
					content += "		<div class=\"page-header\">";
					content += "		  <h3>" + getTextMessage['delete'] + "</h3>";
					content += "		</div>";
					content += "		<div id=\"republic_delete_message\"></div>";
					content += "	  <p align=\"center\">" + getTextMessage['delete_confirmation'] + "</p>";
					content += "	  <p align=\"center\"><a href=\"javascript: deleteAnnounce();\" class=\"btn btn-danger\"><i class=\"fa fa-trash\"></i> " + getTextMessage["delete"] + "</a></p>";
					
					content += "	  </div>";
					content += "</div>";
					
					$("#republic_content").html(content);
					$("#title_link_" + republic_id).html(data.republic.title + (data.pictures.length > 0 ? "" : "<b> | " + getTextMessage['home_add_pictures'] + "!</b>"));
					//console.log(data.pictures);
  			}
  			else if (data.status == "fail") {
  				alertMessage("republic_content", getTextMessage['republic_content_fail'], "warning", false);
  			}
  		},
  		error: function(data) {
  			console.log("error");
  			console.log(data);
  			alertMessage("republic_content", getTextMessage['republic_content_error'], "danger", false);
  		}
  	});
  }
};

var build_for_new = function() {
  
};

var pictures_count_pog;
var dont_upload;
var num_pictures;
var pictures_preview = function(republic_id) {
	var input_pictures = document.getElementById('republic_pictures').files;
	var i;
	var content = "";
	var button_upload = "";
	var readers = [];
	pictures_count_pog = 0;
	dont_upload = [];
	num_pictures = input_pictures.length;
	
	button_upload += "<div class=\"row\">";
	button_upload += "	<div class=\"col-md-12 col-md-offset-0\">";
	button_upload += "		<div class=\"progress\">";
	button_upload += "			<div id=\"upload_progress_bar\" class=\"progress-bar progress-bar-success progress-bar-striped\" role=\"progressbar\" aria-valuenow=\"0\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width: 0%\">";
	button_upload += "		</div>";
	button_upload += "	</div>";
	button_upload += "</div>";
	button_upload += "<div class=\"row\">";
	button_upload += "	<div class=\"col-md-12 col-md-offset-0\" align=\"center\">";
	button_upload += "		<a href=\"javascript: uploadPictures(" + republic_id + ");\" class=\"btn btn-danger\" id=\"upload_button\"><i class=\"fa fa-cloud-upload\"></i> " + getTextMessage['save'] + "</a>";
	button_upload += "	</div>";
	button_upload += "</div>";
	
	content += "<h4>" + getTextMessage['home_js_preview_upload_header'] + "</h4>";
	for (i = 0; i < num_pictures; i++) {
		readers.push(new FileReader());
		readers[i].onload = function(e) {
			var picture_loaded = "<img src=\"" + e.target.result + "\" alt=\"\" class=\"img-thumbnail\">";
			picture_loaded += "<a href=\"javascript: removePicture(" + pictures_count_pog + ");\">" + getTextMessage['remove'] + "</a>";
			if ((pictures_count_pog + 1) % 4 == 0) {
				picture_loaded += "<br><br>";
			}
			$("#preview_img_" + pictures_count_pog).html(picture_loaded);
			pictures_count_pog++;
    };
    readers[i].readAsDataURL(input_pictures[i]);
		content += "	<div class=\"col-md-3 col-md-offset-0\" id=\"preview_img_" + i + "\">";
		content += "		<i class=\"fa fa-spinner fa-spin fa-5x\"></i>";
		content += "	</div>";
	}
	$("#pictures_preview").html(content);
	$("#pictures_preview_upload").html(button_upload);
	//console.log(input_pictures);
};

var removePicture = function(index) {
	$("#preview_img_" + index).remove();
	dont_upload.push(index);
};

var deletePicture = function(index) {
	$("#picture_" + index).remove();
	$.ajax({
		type: 'GET',
		url: '/delete_image',
		dataType: "json",
		data: { 
			'picture_id': index
		},
		success: function(data) {
			if (data.status == "success") {
			  alertMessage("republic_pictures_message", getTextMessage['republic_pictures_message_delete_picture_success'], "success", false);
			}
			else if (data.status == "fail") {
				alertMessage("republic_pictures_message", getTextMessage['republic_pictures_message_delete_picture_fail'], "warning", false);
			}
		},
		error: function(data) {
			console.log("error");
			console.log(data);
			alertMessage("republic_pictures_message", getTextMessage['republic_pictures_message_delete_picture_error'], "danger", false);
		}
	});
};

var deleteAnnounce = function() {
	$.ajax({
		type: 'GET',
		url: '/delete_announce',
		dataType: "json",
		data: { 
			'id': $("#republic_id").val(),
		},
		success: function(data) {
			if (data.status == "success") {
			  alertMessage("republic_delete_message", getTextMessage['republic_pictures_message_delete_announce_success'], "success", false);
			  setTimeout(function(){ window.location.href = '/user_home' }, 5000);
			}
			else if (data.status == "fail") {
				alertMessage("republic_delete_message", getTextMessage['republic_pictures_message_delete_announce_fail'], "warning", false);
			}
		},
		error: function(data) {
			console.log("error");
			console.log(data);
			alertMessage("republic_delete_message", getTextMessage['republic_pictures_message_delete_announce_error'], "danger", false);
		}
	});
};

var current_picture;
var uploadPictures = function(republic_id) {
	var input_pictures = document.getElementById('republic_pictures').files;
	if (current_picture === undefined) {
		current_picture = 0;
	}
	if (current_picture >= num_pictures) {
		current_picture = 0;
		republic_content_builder(republic_id, 1);
		return;
	}
	if (!!input_pictures[current_picture].type.match(/image.*/)) {
		var formData = new FormData();
		formData.append("republic_id", republic_id);
		formData.append("image", input_pictures[current_picture]);
		$("#upload_button").html("<i class=\"fa fa-spinner fa-spin\"></i> " + getTextMessage['loading'] + "");
		/* big master pog ever in my life */
		document.getElementById("upload_button").style.left = document.getElementById("upload_button").offsetLeft;
		$.ajax({
			url: "/upload_image",
			type: 'POST',
			data: formData,
			async: false,
			cache: false,
			contentType: false,
			processData: false,
			success: function(response) {
				if (response.status == "success") {
					current_picture++;
					barPercentage(100 * (current_picture + 1.0) / num_pictures);
					uploadPictures(republic_id);
				}
				else if (response.status == "fail") {
					alertMessage("republic_pictures_message", getTextMessage['republic_pictures_message_upload_fail'], "danger", false);
					console.log(response.error);
				}
			},
			error: function(response) {
				console.log("error");
				console.log(response);
				alertMessage("republic_pictures_message", getTextMessage['republic_pictures_message_upload_error'], "danger", false);
				console.log(response.error);
			}
		});
	}
	else {
		current_picture++;
		barPercentage(100 * (current_picture + 1.0) / num_pictures);
		uploadPictures(republic_id);
	}
};

var barPercentage = function(value) {
	$("#upload_progress_bar").attr("aria-valuenow", value);
	$("#upload_progress_bar").attr("style", "width: " + value + "%");
};

var editRepublic = function() {
	if (!validateEditRepublic()) {
		return;
	}
	$.ajax({
		type: 'GET',
		url: '/update_republic',
		dataType: "json",
		data: { 
			'republic[id]': $("#republic_id").val(),
			'republic[is_people]': $("#is_people").val(),
			'republic[is_landlord]': $("#is_landlord").val(),
			'republic[title]': $("#title").val(),
			'republic[address]': $("#address").val(),
			'republic[hide_address]': ($("#hide_address").prop("checked") ? "true" : "false"),
			'republic[number]': $("#number").val(),
			'republic[gender]': $("#gender").val(),
			'republic[shape]': $("#shape").val(),
			'republic[cost]': $("#cost").val(),
			'republic[roommates]': $("#roommates").val(),
			'republic[description]': $("#description").val(),
			'republic[pets]': ($("#pets_true").prop("checked") ? "true" : "false"),
			'republic[smoking]': ($("#smoking_true").prop("checked") ? "true" : "false"),
			'republic[alcohol]': ($("#alcohol_true").prop("checked") ? "true" : "false"),
			'republic[stuff]': $("#stuff").val(),
			'republic[bathrooms]': $("#bathrooms").val(),
			'republic[heating]': ($("#heating_true").prop("checked") ? "true" : "false"),
			'republic[parking]': ($("#parking_true").prop("checked") ? "true" : "false"),
			'republic[parties]': $("#parties").val(),
			'republic[organization]': $("#organization").val(),
			'republic[lease]': $("#lease").val()
		},
		success: function(data) {
			if (data.status == "success") {
			  alertMessage("republic_info_message", getTextMessage['republic_info_message_edit_republic_success'], "success", false);
			}
			else if (data.status == "fail") {
				alertMessage("republic_info_message", getTextMessage['republic_info_message_edit_republic_fail'], "danger", false);
			}
		},
		error: function(data) {
			console.log("error");
			console.log(data);
			alertMessage("republic_info_message", getTextMessage['republic_info_message_edit_republic_error'], "danger", false);
		}
	});
};