/* maps republic representation bengin */

function MapsRepublicRepresentation(id, title, gender, shape, cost, address, roommates, description, images, latitude, longitude) {
  this.id = id;
  this.title = title;
  this.gender = gender;
  this.shape = shape;
  this.cost = cost;
  this.address = address;
  this.roommates = roommates;
  this.description = description;
  this.images = images;
  this.latitude = latitude;
  this.longitude = longitude;
}

var displayMapsPreview = function(republic_id) {
  var i;
  //$("#advanced_options").hide();
  for (i = 0; i < currentRepublics.length; i++) {
    if (currentRepublics[i].id == republic_id) {
      infowindow.setContent("<div style=\"width: 100px; cursor: pointer;\" align=\"center\" class=\"lead\" onclick=\"openDetail(" + currentRepublics[i].id + ")\"><b><i class=\"fa fa-smile-o\"></i> " + getTextMessage['capital_here'] + "!</b></div>");//contents[i]);
      infowindow.open(map, markers[i]);
      //console.log(republic_id);
    }
  }
};

var openDetailPartner = function(partner_id) {
  var i;
  var partner;
  var pictures;
  var content = "";
  for (i = 0; i < currentPartners.length; i++) {
    if (currentPartners[i].id == partner_id) {
      partner = currentPartners[i];
    }
  }
  $("#detail_title").html("<a href=\"javascript: bePartner();\">" + getTextMessage['wanna_be_partner'] + "</a>");
  content += "<div class=\"row\">";
  content += "  <div class=\"col-md-10 col-md-offset-1\">";
  content += "    <div class=\"row\" align=\"center\">";
  content += "      <div class=\"col-md-12\" align=\"center\">";
  content += "        <img style=\"height: 60px;\" src=\"" + partner.logo + "\">";
  content += "      </div>";
  content += "    </div>";
  content += "    <br>";
  content += "    <div class=\"row\">";
  content += "      <div class=\"col-md-12\">";
  content += "        <h2>" + partner.name + "</h2>";
  content += "        <p class=\"well\">" + partner.description.replace(/\n/g, "<br />") + "</p>";
  content += "      </div>";
  content += "    </div>";
  content += "    <div class=\"row\">";
  content += "      <div class=\"col-md-12\">";
  content += "        <h2>" + getTextMessage['contact_info'] + "</h2>";
  content += "      </div>";
  content += "    </div>";
  content += "    <div class=\"row\">";
  content += "      <div class=\"col-md-4\">";
  content += "        <label><i class=\"fa fa-inbox\"></i> " + getTextMessage['email'] + ":</label> " + partner.email;
  content += "      </div>";
  content += "      <div class=\"col-md-4\">";
  content += "        <label><i class=\"fa fa-phone\"></i> " + getTextMessage['phone'] + ":</label> " + partner.phone;
  content += "      </div>";
  content += "      <div class=\"col-md-4\">";
  content += "        <label><i class=\"fa fa-envelope\"></i> " + getTextMessage['address'] + ":</label> " + partner.address;
  content += "      </div>";
  content += "    </div>";
  content += "    <br>";
  content += "    <div class=\"row\">";
  content += "      <div class=\"col-md-4 col-md-offset-2\">";
  if (partner.website !== undefined && partner.website != "") {
    content += "        <a href=\"javascript: window.open('" + partner.website + "');\" class=\"btn btn-primary btn-block\"><i class=\"fa fa-globe\"></i> " + getTextMessage['website'] + "</a>";
  }
  else {
    content += "        <a href=\"#\" class=\"btn btn-primary btn-block disabled\"><i class=\"fa fa-globe\"></i> " + getTextMessage['website'] + "</a>";
  }
  content += "      </div>";
  content += "      <div class=\"col-md-4\">";
  if (partner.facebook !== undefined && partner.facebook != "") {
    content += "        <a href=\"javascript: window.open('" + partner.facebook + "');\" class=\"btn btn-info btn-block\"><i class=\"fa fa-facebook\"></i> Facebook</a>";
  }
  else {
    content += "        <a href=\"#\" class=\"btn btn-info btn-block disabled\"><i class=\"fa fa-facebook\"></i> Facebook</a>";
  }
  content += "      </div>";
  content += "    </div>";
  content += "  </div>";
  content += "</div>";
	$("#detail_body").html(content);
  $("#detail").modal("show");
};

var openDetail = function(republic_id) {
  
  trackHousing("clickOnList", republic_id);
  
  window.open("http://" + getTextMessage['domain'] + "/listing_preview?id=" + republic_id);
  return;
  
  var i;
  var rep;
  var pictures;
  var content = "";
  for (i = 0; i < currentRepublics.length; i++) {
    if (currentRepublics[i].id == republic_id) {
      rep = currentRepublics[i];
    }
  }
  pictures = currentPictures_paths[rep.id];
  user = currentUsers_info[rep.id];
  $("#detail_title").html("<b>" + rep_types[rep.shape] + "</b> - " + rep.title);
  if (!rep.hide_address) {
    $("#detail_footer_text").html("<label><i class=\"fa fa-envelope\"></i> " + getTextMessage['address'] + ":</label> " + rep.address)
  }
  else {
    $("#detail_footer_text").html("")
  }
  content += "<div class=\"row\">";
  
  content += "  <div class=\"col-md-6\">";
  
  var gender = "";
  switch (parseInt(rep.gender, 10)) {
    case 0:
      gender = "<i class=\"fa fa-male\"></i> <i class=\"fa fa-female\"></i>";
      break;
    case 1:
      gender = "<i class=\"fa fa-female\"></i>";
      break;
    case 2:
      gender = "<i class=\"fa fa-male\"></i>";
      break;
  }
  var per_room = getTextMessage['per_room_' + rep.roommates];
  
  content += "<h3>" + getTextMessage['main_info'] + "</h3>";
  content += "<div class=\"row\">";
	content += "	<div class=\"col-md-6 col-md-offset-0\">";
	content += "		<label><i class=\"fa fa-chevron-right\"></i> " + getTextMessage['gender'] + ":</label> " + rep_genders[rep.gender];// + " " + gender;// + " <i class=\"fa fa-male\"></i> <i class=\"fa fa-female\"></i> ";
	content += "	</div>";
	content += "	<div class=\"col-md-6 col-md-offset-0\">";
	content += "		<label><i class=\"fa fa-usd\"></i> " + getTextMessage['cost'] + ":</label> " + getTextMessage['currency'] + " " + rep.cost;
	content += "	</div>";
	content += "</div>";
  content += "<br>";
	content += "<div class=\"row\">";
	content += "	<div class=\"col-md-12 col-md-offset-0\">";
	content += "		<label><i class=\"fa fa-users\"></i> " + getTextMessage['share'] + ":</label> " + per_room;
	content += "	</div>";
	content += "</div>";
	
	content += "<br>";
	content += "<div class=\"row\">";
	content += "	<div class=\"col-md-12 col-md-offset-0\">";
	$.each(lease_options, function( index, value ) {
	  if (rep.lease == index) {
	    content += "		<label><i class=\"fa fa-book\"></i> " + getTextMessage['lease_option'] + ":</label> " + value;
	  }
  });
	content += "	</div>";
	content += "</div>";
	content += "<br>";
  content += "<hr>";
  
  content += "<h3>" + getTextMessage['contact_info'] + "</h3>";
  
  content += "<div class=\"row\">";
	content += "	<div class=\"col-md-6 col-md-offset-0\">";
	content += "		<label><i class=\"fa fa-chevron-right\"></i> " + user.first_name + " " + user.last_name + "</label>";
	content += "	</div>";
	if (!user.hide_phone) {
	  content += "	<div class=\"col-md-6 col-md-offset-0\">";
  	content += "		<div id=\"view_phone_hide\"><label><i class=\"fa fa-phone\"></i> " + getTextMessage['phone'] + ":</label> <a href=\"javascript: showPhoneNumber(" + rep.id + ")\">" + user.phone.substring(0, user.phone.length / 2) + "...</a></div>";
  	content += "		<div id=\"view_phone_show\" style=\"display: none;\"><label><i class=\"fa fa-phone\"></i> " + getTextMessage['phone'] + ":</label> " + user.phone + "</div>";
  	content += "	</div>";
	}
	content += "</div>";
	
	if (!user.hide_phone) {
	  content += "<br>";
	  content += "<div class=\"row\">";
  	content += "	<div class=\"col-md-12 col-md-offset-0\" align=\"center\">";
  	content += "	  <p class=\"bg-success\">" + getTextMessage['saw_in_site'] + "</p>";
    content += "	</div>";
  	content += "</div>";
	}
	
	content += "<br>";
	content += "<div class=\"row\">";
	content += "	<div class=\"col-md-6 col-md-offset-0\">";
	content += "		<a href=\"javascript: hiddenEmail(\'" + rep.id + "\');\" class=\"btn btn-primary btn-block\"><i class=\"fa fa-envelope\"></i> " + getTextMessage['send_message'] + "</a>";
	content += "	</div>";
	content += "	<div class=\"col-md-6\">";
  if (user.facebook && 0 !== user.facebook.length) {
	  content += "	  <a href=\"javascript: window.open('" + user.facebook + "');\" style=\"backgound-color: #3b5998;\" class=\"btn btn-info btn-block\"><i class=\"fa fa-facebook-square\"></i> Facebook</a>";
  }
  else {
    content += "	  <a href=\"#\" class=\"btn btn-info btn-block disabled\"><i class=\"fa fa-facebook-square\"></i> Facebook</a>";
  }
	content += "	</div>";
	content += "</div>";
	content += "<br>";
	content += "<div class=\"row\">";
	content += "	<div class=\"col-md-12 col-md-offset-0\">";
	content += "		<label><i class=\"fa fa-link\"></i> " + getTextMessage['link'] + ":</label>";
	content += "		<input type=\"text\" class=\"form-control\" placeholder=\"" + getTextMessage['link'] + "\" id=\"announcement_link\" value=\"http://" + getTextMessage['domain'] + "/listing_preview?id=" + rep.id + "\">";
	content += "	</div>";
	content += "</div>";
  
  
  content += "  </div>";
  
  if (pictures != null && pictures.length > 0) {
    content += "  <div class=\"col-md-6\">";
    
   //var dateS = new Date(parseInt(rep.created_at.substring(0, 4), 10), parseInt(rep.created_at.substring(5, 6), 10)-1, parseInt(rep.created_at.substring(8, 9), 10));
	 //content += "	  <p>" + getTextMessage['created_at'] + ": " + (getTextMessage['country'] == "us" ? (dateS.getUTCMonth()+1) + "/" + dateS.getUTCDate() : dateS.getUTCDate() + "/" + (dateS.getUTCMonth()+1)) + "/" + dateS.getFullYear() + "</p>";
    
    content += "<div id=\"carousel-" + rep.id + "\" class=\"carousel slide main-preview-image\" data-ride=\"carousel\" style=\"height: 420px;\">";
    content += "  <div class=\"carousel-inner\">";
    var j;
    content += "<ol class=\"carousel-indicators\">";
    for (j = 0; j < pictures.length; j++) {
      content += "  <li data-target=\"#carousel-" + rep.id + "\" data-slide-to=\"" + j + "\" " + (j === 0 ? "class=\"active\"" : "") + "></li>";
    }
    content += "</ol>";
    for (j = 0; j < pictures.length; j++) {
      content += "    <div class=\"item " + (j === 0 ? "active" : "") + "\"  align=\"center\">";
      content += "      <img src=\"" + pictures[j].path + "\" alt=\"" + rep.title + "\" style=\"max-height: 420px;\">";
      content += "      <div class=\"carousel-caption\">";
      content += "      </div>";
      content += "    </div>";
    }
    content += "  </div>";
    content += "  <a class=\"left carousel-control\" href=\"#carousel-" + rep.id + "\" role=\"button\" data-slide=\"prev\">";
    content += "    <span class=\"glyphicon glyphicon-chevron-left\"></span>";
    content += "  </a>";
    content += "  <a class=\"right carousel-control\" href=\"#carousel-" + rep.id + "\" role=\"button\" data-slide=\"next\">";
    content += "    <span class=\"glyphicon glyphicon-chevron-right\"></span>";
    content += "  </a>";
    content += "</div>";
    content += "  </div>";
    
  }
  else {
    content += "  <div class=\"col-md-6\">";
    
    //var dateS = new Date(parseInt(rep.created_at.substring(0, 4), 10), parseInt(rep.created_at.substring(5, 6), 10)-1, parseInt(rep.created_at.substring(8, 9), 10));
	  //content += "	  <p>" + getTextMessage['created_at'] + ": " + (getTextMessage['country'] == "us" ? (dateS.getUTCMonth()+1) + "/" + dateS.getUTCDate() : dateS.getUTCDate() + "/" + (dateS.getUTCMonth()+1)) + "/" + dateS.getFullYear() + "</p>";
    
    if (rep.is_people) {
			content += "			<img src=\"assets/img/person.png\" width=\"100%\">";
		}
		else {
			content += "			<img src=\"assets/img/gray_light_" + getTextMessage["lang"] + ".png\" width=\"100%\">";
		}
    //content += "    <img src=\"assets/img/gray_light_" + getTextMessage["lang"] + ".png\" width=\"100%\">";
    content += "  </div>";
  }
  
  content += "</div>";
  
  content += "<hr>";
  
  content += "<h3>" + getTextMessage['additional_info'] + "</h3>";
  content += "<div class=\"row\">";
  content += "  <div class=\"col-md-4\">";
  content += "		<label><i class=\"fa fa-recycle\"></i> " + getTextMessage['bathrooms'] + ":</label> " + rep.bathrooms;
  content += "  </div>";
  content += "  <div class=\"col-md-4\">";
  content += "		<label><i class=\"fa fa-cube\"></i> " + getTextMessage['pets'] + ":</label> <i class=\"fa fa-thumbs-o-" + (rep.pets ? "up" : "down") + "\"></i>";
  content += "  </div>";
  content += "  <div class=\"col-md-4\">";
  content += "		<label><i class=\"fa fa-tachometer\"></i> " + getTextMessage['heating'] + ":</label> <i class=\"fa fa-thumbs-o-" + (rep.heating ? "up" : "down") + "\"></i>";
  content += "  </div>";
  content += "<div class=\"row\">";
  content += "</div>";
  content += "  <div class=\"col-md-4\">";
  content += "		<label><i class=\"fa fa-car\"></i> " + getTextMessage['parking'] + ":</label> <i class=\"fa fa-thumbs-o-" + (rep.parking ? "up" : "down") + "\"></i>";
  content += "  </div>";
  content += "  <div class=\"col-md-4\">";
  content += "		<label><i class=\"fa fa-fire\"></i> " + getTextMessage['smoking'] + ":</label> <i class=\"fa fa-thumbs-o-" + (rep.smoking ? "up" : "down") + "\"></i>";
  content += "  </div>";
  content += "  <div class=\"col-md-4\">";
  content += "		<label><i class=\"fa fa-beer\"></i> " + getTextMessage['alcohol'] + ":</label> <i class=\"fa fa-thumbs-o-" + (rep.alcohol ? "up" : "down") + "\"></i>";
  content += "  </div>";
  content += "</div>";
	content += "<div class=\"row\">";
	content += "	<div class=\"col-md-4 col-md-offset-0\">";
	$.each(organization_options, function( index, value ) {
	  if (rep.organization == index) {
	    content += "		<label><i class=\"fa fa-cutlery\"></i> " + getTextMessage['organization'] + ":</label> " + value;
	  }
  });
	content += "	</div>";
	content += "	<div class=\"col-md-4 col-md-offset-0\">";
	$.each(parties_options, function( index, value ) {
	  if (rep.parties == index) {
	    content += "		<label><i class=\"fa fa-birthday-cake\"></i> " + getTextMessage['parties'] + ":</label> " + value;
	  }
  });
	content += "	</div>";
	if (getTextMessage['country'] == "us") {
	  content += "	<div class=\"col-md-4 col-md-offset-0\">";
  	$.each(stuff_options, function( index, value ) {
  	  if (rep.stuff == index) {
  	    content += "		<label><i class=\"fa fa-clock-o\"></i> " + getTextMessage['stuff'] + ":</label> " + value;
  	  }
    });
  	content += "	</div>";
	}
	content += "</div>";
	
	content += "<hr>";
	
	content += "<div class=\"row\">";
	content += "	<div class=\"col-md-12 col-md-offset-0\">";
	content += "		<label><i class=\"fa fa-home\"></i> " + getTextMessage['description'] + "</label>";
	content += "	  <div id=\"description_text\">" + rep.description + "</div>";
	content += "	</div>";
	content += "</div>";
	
	$("#detail_body").html(content);
  $("#detail").modal("show");
  
  var latlngbounds = new google.maps.LatLngBounds();
  latlng.each(function(n){
     latlngbounds.extend(n);
  });
  map.setCenter(latlngbounds.getCenter());
  map.fitBounds(latlngbounds);
};

var toggleDescription = function() {
  $("#description_text").toggle( "slow", function() {
    if ($("#description_text").is(":visible")) {
      $("#show_description_button").html("<i class=\"fa fa-compress\"></i> " + getTextMessage['hide']);
    }
    else {
      $("#show_description_button").html("<i class=\"fa fa-expand\"></i> " + getTextMessage['show']);
    }
  });
};

/* maps republic representation end */

var map;
var infowindow;
var markers = [];
var contents = [];
var partnerContents = [];

function initialize() {
  var mapOptions = {
    zoom: parseInt($("#university_zoom").val()),
    center: new google.maps.LatLng(parseFloat($("#university_latitude").val()), parseFloat($("#university_longitude").val()))
  };
  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  //setMarkers(beaches);
}

function setMarkers(r, data) {
  var republics = [];
  var partners = [];
  var images = [];
  var i;
  var j;
  infowindow =  new google.maps.InfoWindow({
    content: "",
    maxWidth: 300
  });
  for (i = 0; i < markers.length; i++) {
    markers[i].setMap(null);
  }
  markers = [];
  contents = [];
  partnerContents = [];
  
  for (i = 0; i < currentRepublics.length; i++) {
    var img_src;
    republics.push([currentRepublics[i].title, currentRepublics[i].latitude, currentRepublics[i].longitude, i]);
    /* very dangerous code below, jeopardizing all the bahavior */
    
    img_src = 'assets/img/marker.png';
    
    /*
    if (getTextMessage['lang'] == "en") {
      switch (parseInt(currentRepublics[i].shape)) {
        case 0:
          img_src = 'assets/img/h.png';
          break;
        case 1:
          img_src = 'assets/img/a.png';
          break;
        case 2:
          img_src = 'assets/img/s.png';
          break;
        case 3:
          img_src = 'assets/img/st.png';
          break;
        case 4:
          img_src = 'assets/img/d.png';
          break;
      }
    }
    else {
      switch (parseInt(currentRepublics[i].shape)) {
        case 0:
          img_src = 'assets/img/r.png';
          break;
        case 1:
          img_src = 'assets/img/p.png';
          break;
        case 2:
          img_src = 'assets/img/q.png';
          break;
        case 3:
          img_src = 'assets/img/a.png';
          break;
        case 4:
          img_src = 'assets/img/c.png';
          break;
      }
    }
    */
    /* very dangerous code above, jeopardizing all the bahavior */
    images.push({
      url: img_src,
      // This marker is 20 pixels wide by 32 pixels tall.
      //size: new google.maps.Size(22, 56),
      size: new google.maps.Size(30, 40),
      // The origin for this image is 0,0.
      origin: new google.maps.Point(0,0),
      // The anchor for this image is the base of the flagpole at 0,32.
      //anchor: new google.maps.Point(0, 56)
      anchor: new google.maps.Point(0, 40)
    });
    
    var per_room = "";
		var gender = "";
		var content = "";
	  content += "	<div class=\"single-preview-maps\" onclick=\"openDetail(" + currentRepublics[i].id + ")\">";
		if (currentRepublics[i].id in currentPictures_paths && currentPictures_paths[currentRepublics[i].id] != null) {
		  content += "			<img src=\"" + currentPictures_paths[currentRepublics[i].id][0].path + "\" class=\"main-preview-image\">";
		}
		else {
		  if (currentRepublics[i].is_people) {
  			content += "			<img src=\"assets/img/person.png\" class=\"no-main-preview-image\">";
  		}
  		else {
  			content += "			<img src=\"assets/img/gray_light_" + getTextMessage["lang"] + ".png\" class=\"no-main-preview-image\">";
  		}
		}
		if (parseInt(currentRepublics[i].roommates, 10) == 1) {
			per_room = "Individual";
		}
		else if (parseInt(currentRepublics[i].roommates, 10) < 4) {
			per_room = currentRepublics[i].roommates + " " + getTextMessage['per_room'];
		}
		else {
			per_room = "+3 " + getTextMessage['per_room'];
		}
		content += "		<span class=\"text-over-preview shape\"><b>" + rep_types[currentRepublics[i].shape] + "</b> - " + per_room + "</span>";
		content += "		<span class=\"text-over-preview cost\">" + getTextMessage['currency'] + " " + currentRepublics[i].cost + "</span>";
		switch (parseInt(currentRepublics[i].gender, 10)) {
			case 0:
				gender = "<i class=\"fa fa-female fa-inverse\"></i> <i class=\"fa fa-male fa-inverse\"></i>";
				break;
			case 1:
				gender = "<i class=\"fa fa-female fa-inverse\"></i> <i class=\"fa fa-female fa-inverse\"></i>";
				break;
			case 2:
				gender = "<i class=\"fa fa-male fa-inverse\"></i> <i class=\"fa fa-male fa-inverse\"></i>";
				break;
		}
		content += "		<span class=\"text-over-preview gender\">" + gender + "</span>";
		content += "		<span class=\"text-over-preview title\">" + lease_options[currentRepublics[i].lease] + "</span>";
		content += "	</div>";
    contents.push(content);
  }
  
  for (i = 0; i < currentPartners.length; i++) {
    var img_src;
    partners.push([currentPartners[i].name, currentPartners[i].latitude, currentPartners[i].longitude, i]);
    img_src = currentPartners[i].small_logo;
    /* very dangerous code above, jeopardizing all the bahavior */
    images.push({
      url: img_src,
      // This marker is 20 pixels wide by 32 pixels tall.
      size: new google.maps.Size(56, 56),
      // The origin for this image is 0,0.
      origin: new google.maps.Point(0,0),
      // The anchor for this image is the base of the flagpole at 0,32.
      anchor: new google.maps.Point(0, 56)
    });
    partnerContents.push("<div style=\"width: 200px; cursor: pointer;\" align=\"center\" class=\"lead\" onclick=\"openDetailPartner(" + currentPartners[i].id + ")\"><b><img style=\"width: 200px;\" src=\"" + currentPartners[i].logo  + "\"><br><br>" + currentPartners[i].name  + "</b></div>");
  }
  
  var shape = {
      coords: [1, 1, 1, 56, 22, 56, 22, 1],
      type: 'poly'
  };
  var partnersShape = {
      coords: [1, 1, 1, 56, 56, 56, 56, 1],
      type: 'poly'
  };
  
  for (i = 0; i < republics.length; i++) {
    var rep = republics[i];
    var myLatLng = new google.maps.LatLng(rep[1], rep[2]);
    markers.push(new google.maps.Marker({
        position: myLatLng,
        map: map,
        icon: images[i],
        shape: shape,
        title: rep[0],
        zIndex: rep[3]
    }));
    bindInfoWindow(markers[i], contents[i]);
  }
  
  for (j = i; j < partners.length + i; j++) {
    var partner = partners[j - i];
    var myLatLng = new google.maps.LatLng(partner[1], partner[2]);
    markers.push(new google.maps.Marker({
        position: myLatLng,
        map: map,
        icon: images[j],
        shape: partnersShape,
        title: partner[0],
        zIndex: partner[3]
    }));
    bindInfoWindow(markers[j], partnerContents[j - i]);
  }
  //return r;
  r.resolve(data);
}

function bindInfoWindow(marker, strDescription) {
  google.maps.event.addListener(marker, 'click', function() {
    infowindow.setContent(strDescription);
    infowindow.open(map, marker);
  });
}

function loadScript() {
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyArkvQlzfE9VVPs5PP7NNu4_NGCT_P0ee8&sensor=false&callback=initialize&language=' + getTextMessage['lang'] + '&region=' + getTextMessage['country'];
  document.body.appendChild(script);
}

//window.onload = loadScript;

var hiddenEmail = function(ref) {
  try {
    trackHousing("sendMessage", document.location.search.substring(1).split("=")[1]);
  } catch (err) {
    
  }
  
  $("#detail").modal("hide");
  $("#message_id_for_user").val(ref);
  $("#contact_user_message").html("");
  $('#contact_user').modal('show');
	$("#message_name_for_user").focus();
};

var bePartner = function(id) {
  if (typeof id !== 'undefined') {
    $("#detail_" + id).modal("hide");
  }
  else {
    $("#detail").modal("hide");
  }
  $("#contact_partner").modal("show");
};

var showPhoneNumber = function(republic_id) {
  $("#view_phone_hide").hide();
  $("#view_phone_show").show();
  
  $.ajax({
		type: 'GET',
		url: '/increment_phone_views',
		dataType: "json",
		data: { 
			'republic_id': republic_id
		},
		success: function(data) {
			if (data.status == "success") {
			  
			}
			else if (data.status == "fail") {
				
			}
		},
		error: function(data) {
			console.log(data);
		}
	});
};

var phoneView = function(phone, rep_id) {
  trackHousing("phoneView", rep_id);
  $("#phoneViewLink").hide();
  $("#phoneSpan").html(phone);
};