/* filter functions and params */

var currentRepublics = [];
var currentPartners = [];
var currentPictures_paths = [];
var currentUsers_info = [];
var rep_types = [];
var rep_genders = [];
var lease_options = [];
var parties_options = [];
var stuff_options = [];
var organization_options = [];
var all_images = [];
var pog = 0;

var current_page = 1;

var searchAdvertiments = function() {
	current_page = 1;
	searchAdvertimentsPOG();
};

var goToPage = function(page) {
	current_page = page;
	searchAdvertimentsPOG();
};

var searchAdvertimentsPOG = function() {
  var range = $("#filter_cost_range").val();
  //var key_word = $("#filter_key_word").val();
  var university_id = $("#university_id").val();
  var gender = $("#filter_gender").val();
  var shape = $("#filter_shape").val();
  var roommates = $("#filter_roommates").val();
  var costs = range.split(" - ");
  var i = 0;
  //var is_landlord = $("#filter_is_landlord").val();
  
  var bathrooms = $("#filter_bathrooms").val();
  var pets = $("#filter_pets").val();
  var parking = $("#filter_parking").val();
  var heating = $("#filter_heating").val();
  var smoking = $("#filter_smoking").val();
  var alcohol = $("#filter_alcohol").val();
  var organization = $("#filter_organization").val();
  var parties = $("#filter_parties").val();
  var stuff = $("#filter_stuff").val();
  var lease = $("#filter_lease").val();
  
  pog = 0;
  costs[0] = parseInt(costs[0].substring(3, costs[0].length), 10);
  costs[1] = parseInt(costs[1].substring(3, costs[1].length), 10);
  var content = "<div class\"row\"><div class=\"cold-md-12 filter-shadow\" align=\"center\"><i class=\"fa fa-spinner fa-spin fa-5x\"></i></div></div>";
  
  $("#advertises_preview").html(content);
  
  $.ajax({
		type: 'GET',
		url: '/filter_republics',
		dataType: "json",
		data: { 
			'university_id': university_id,
			'cost_min': costs[0],
			'cost_max': costs[1],
			'gender': gender,
			'shape': shape,
			'roommates': roommates,
			//'key_word': key_word,
			//'is_landlord': is_landlord,
			'bathrooms': bathrooms,
		  'pets': pets,
		  'parking': parking,
		  'heating': heating,
		  'smoking': smoking,
		  'alcohol': alcohol,
		  'organization': organization,
		  'parties': parties,
		  'stuff': stuff,
		  'lease': lease,
		  'page': current_page
		},
		success: function(data) {
			if (data.status == "success") {
				console.log(data.scores);
				
			  clearMessage("filter_message");
			  currentRepublics = [];
			  currentPictures_paths = data.pictures_paths;
			  currentUsers_info = data.users_info;
			  rep_genders = data.rep_genders;
			  rep_types = data.rep_types;
			  currentPartners = data.partners;
			  currentRepublics = data.republics;
			  
			  lease_options = data.lease_options;
			  parties_options = data.parties_options;
			  stuff_options = data.stuff_options;
			  organization_options = data.organization_options;
			  all_images = [];
			  
			  var r = $.Deferred();
			  
			  r.done(function(data) {
			  	if (data.republics.length > 0) {
				  	var contentLeft = "";
					  var contentRight = "";
					  var contentLine = "";
					  var pagination = "";
					  
					  contentLeft += "<div class=\"col-md-6 col-sm-12 col-xs-12 col-md-offset-0 republic-preview left\">";
					  contentRight += "<div class=\"col-md-6 col-sm-12 col-xs-12 col-md-offset-0 republic-preview right\">";
					  $.each(data.republics, function( index, rep ) {
					  	var per_room = "";
							var gender = "";
							var content = "";
							//currentRepublics.push(rep);
						  content = "";
						  content += "	<div class=\"single-preview\" onmouseover=\"displayMapsPreview(" + rep.id + ");\" onclick=\"openDetail(" + rep.id + ")\">";
						  
						  var img = new Image();
						  if (rep.id in data.pictures_paths && data.pictures_paths[rep.id] != null) {
								img.src = data.pictures_paths[rep.id][0].path;
								//content += "			<img src=\"" + data.pictures_paths[rep.id][0].path + "\" class=\"main-preview-image\">";
							}
							else {
								if (rep.is_people) {
									img.src = "assets/img/person.png";
									//content += "			<img src=\"assets/img/person.png\" class=\"no-main-preview-image\">";
								}
								else {
									img.src = "assets/img/gray_light_" + getTextMessage["lang"] + ".png";
									//content += "			<img src=\"assets/img/gray_light_" + getTextMessage["lang"] + ".png\" class=\"no-main-preview-image\">";
								}
							}
							img.onload = onloadImage;
							img.id = "main-" + rep.id;
							all_images.push(img);
							content += "<div style=\"width: 100%\" id=\"view-main-" + rep.id + "\">";
							content += "	<i class=\"fa fa-spinner fa-spin fa-5x\"></i>";
							content += "</div>";
							if (parseInt(rep.roommates, 10) == 1) {
								per_room = getTextMessage['individual'];
							}
							else if (parseInt(rep.roommates, 10) < 4) {
								per_room = rep.roommates + " " + getTextMessage['per_room'];
							}
							else {
								per_room = "+3 " + getTextMessage['per_room'];
							}
							content += "		<span class=\"text-over-preview shape\"><b>" + data.rep_types[rep.shape] + "</b> - " + per_room + "</span>";
							content += "		<span class=\"text-over-preview cost\">" + getTextMessage['currency'] + " " + rep.cost + "</span>";
							switch (parseInt(rep.gender, 10)) {
								case 0:
									gender = "<i class=\"fa fa-venus-mars fa-inverse fa-2x\"></i>";
									break;
								case 1:
									gender = "<i class=\"fa fa-venus fa-inverse fa-2x\" style=\"margin-left: 6px;\"></i>";
									break;
								case 2:
									gender = "<i class=\"fa fa-mars fa-inverse fa-2x\"></i>";
									break;
							}
							
							if (data.scores[rep.id] > 0) {
								var compatibility = getTextMessage['for_you'] + ": ";
								var count_c = 0;
								for (count_c = 0; count_c < data.scores[rep.id]; count_c++) {
									compatibility += "<i class=\"fa fa-heart fa-inverse\"></i> ";
								}
								for (count_c = data.scores[rep.id]; count_c < 5; count_c++) {
									compatibility += "<i class=\"fa fa-heart-o fa-inverse\"></i> ";
								}
								content += "		<span class=\"text-over-preview compatibility text-center\">" + compatibility + "</span>";
							}
							
							content += "		<span class=\"text-over-preview gender\">" + gender + "</span>";
							//content += "		<span class=\"text-over-preview title\">" + rep.title + "</span>";
							content += "		<span class=\"text-over-preview title\">" + lease_options[rep.lease] + "</span>";
							//if (rep.is_landlord) {
								//content += "		<span class=\"text-over-preview is_landlord\">" + (rep.is_landlord ? getTextMessage["whole_property"] : getTextMessage["to_share"]) + "</span>";
							//}
							content += "	</div>";
							if (index % 2 === 0) {
								contentLeft += content;
							}
							else {
								contentRight += content;
							}
						});
						contentLeft += "</div>";
					  contentRight += "</div>";
					  
					  
					  /*
					  $.each(data.republics, function( index, rep ) {
					  	var gender = "";
						  switch (parseInt(rep.gender, 10)) {
						    case 0:
						      gender = "<i class=\"fa fa-male\"></i> <i class=\"fa fa-female\"></i>";
						      break;
						    case 1:
						      gender = "<i class=\"fa fa-female\"></i>";
						      break;
						    case 2:
						      gender = "<i class=\"fa fa-male\"></i>";
						      break;
						  }
						  var per_room = getTextMessage['per_room_' + rep.roommates];
							//var content = "";
					  	
					  	contentLine += "<div class=\"row well\" style=\"cursor: pointer;\" onmouseover=\"displayMapsPreview(" + rep.id + ");\" onclick=\"openDetail(" + rep.id + ")\">";
						  contentLine += "	<div class=\"col-md-12\">";
						  contentLine += "		<p><i class=\"fa fa-chevron-right\"></i> <strong>" + rep.title + "</strong></p>";
						  contentLine += "		<div class=\"row\">";
						  contentLine += "			<div class=\"col-md-4\">";
						  
						  var img = new Image();
						  if (rep.id in data.pictures_paths && data.pictures_paths[rep.id] != null) {
								img.src = data.pictures_paths[rep.id][0].path;
							}
							else {
								if (rep.is_people) {
									img.src = "assets/img/person.png";
								}
								else {
									img.src = "assets/img/gray_light_" + getTextMessage["lang"] + ".png";
								}
							}
							img.onload = onloadImage;
							img.id = "main-" + rep.id;
							all_images.push(img);
							contentLine += "				<div style=\"width: 100%;\" id=\"view-main-" + rep.id + "\">";
							contentLine += "					<i class=\"fa fa-spinner fa-spin fa-5x\"></i>";
							contentLine += "				</div>";
						  contentLine += "			</div>";
						  contentLine += "			<div class=\"col-md-8\">";
						  contentLine += "				<div class=\"row\">";
						  contentLine += "					<div class=\"col-md-6\">";
						  contentLine += "						<p><label>" + data.rep_types[rep.shape] + "</label> - " + per_room + "</p>";
						  contentLine += "						<p><label>" + getTextMessage['gender'] + ":</label> " + rep_genders[rep.gender] + "</p>";
						  contentLine += "					</div>";
						  contentLine += "					<div class=\"col-md-6\">";
						  contentLine += "						<p><label>" + getTextMessage['cost'] + ":</label> " + getTextMessage['currency'] + " " + rep.cost + "</p>";
						  $.each(lease_options, function( index, value ) {
							  if (rep.lease == index) {
							  	contentLine += "						<p><label>" + getTextMessage['lease_option'] + ":</label> " + value + "</p>";
							  }
						  });
						  contentLine += "					</div>";
						  contentLine += "				</div>";
						  
						  
						  contentLine += "			</div>";
						  contentLine += "		</div>";
						  contentLine += "	</div>";
						  contentLine += "</div>";
					  });
					  */
					  
					  pagination += "<div class=\"row\">";
					  pagination += "	<div class=\"col-md-12\">";
					  pagination += "		<nav>";
						pagination += "		  <ul class=\"pagination pagination-sm\">";
						if (current_page > 1) {
							pagination += "		    <li>";
							pagination += "		      <a href=\"javascript: goToPage(" + (current_page - 1) + ");\" aria-label=\"Previous\">";
							pagination += "		        <span aria-hidden=\"true\">&laquo;</span>";
							pagination += "		      </a>";
							pagination += "		    </li>";	
						}
						else {
							pagination += "		    <li class=\"disabled\">";
							pagination += "		      <span aria-hidden=\"true\">&laquo;</span>";
							pagination += "		    </li>";	
						}
						for (i = 1; i <= data.total_pages_under_filter; i++) {
							pagination += "		    <li class=\"" + (i == current_page ? "active" : "") + "\"><a href=\"javascript: goToPage(" + i + ");\">" + i + "</a></li>";
						}
						if (current_page < data.total_pages_under_filter) {
							pagination += "		    <li>";
							pagination += "		      <a href=\"javascript: goToPage(" + (current_page + 1) + ");\" aria-label=\"Next\">";
							pagination += "		        <span aria-hidden=\"true\">&raquo;</span>";
							pagination += "		      </a>";
							pagination += "		    </li>";
						}
						else {
							pagination += "		    <li class=\"disabled\">";
							pagination += "		      <span aria-hidden=\"true\">&raquo;</span>";
							pagination += "		    </li>";
						}
						pagination += "		  </ul>";
						pagination += "		</nav>";
					  pagination += "	</div>";
					  pagination += "</div>";
					  
					  contentLine = contentLeft + contentRight;
					  
					  //$("#advertises_preview").html(pagination + "<div class=\"row\">" + contentLeft + contentRight + "</div><br>" + pagination);
					  $("#advertises_preview").html(pagination + contentLine + "<br>" + pagination);
				  }
				  else {
				  	$("#advertises_preview").html("<div class=\"row\"><div class=\"col-md-8 col-md-offset-2\" align=\"center\"><p class=\"lead\">" + getTextMessage["no_results_message"] + " <i class=\"fa fa-smile-o\"><i></p></div></div>");
				  }	
			  });
			  
			  setMarkers(r, data);
			  
			  
			  //console.log(currentRepublics);
				/*setTimeout(function() {
					
				}, 3000);*/
			}
			else if (data.status == "fail") {
				alertMessage("filter_message", getTextMessage['contact_message_fail'], "warning", false);
			}
		},
		error: function(data) {
			console.log("error");
			console.log(data);
			alertMessage("filter_message", getTextMessage['contact_message_error'], "danger", false);
		}
	});
};

var onloadImage = function() {
	var canvas = document.createElement('canvas');
  var ctx = canvas.getContext('2d');
  var width = $("#view-" + this.id).width();
  var height = 300;//$("#view-" + this.id).height() * 1.2;
  canvas.width = width;
  canvas.height = height;
  
  var sx = 0;
  //var sy = 50;
  var swidth = this.width;
  var sheight = this.height * width / this.width > height ? height * this.width / width : this.height;
  var sy = (sheight - height) / 2.0;
  
  var dx = 0;
  var dy = this.height * width / this.width > height ? 0 : (height - this.height * width / this.width) / 2.0;
  var dwidth = width;
  var dheight = this.height * width / this.width > height ? height : this.height * width / this.width;
  
  ctx.drawImage(this, sx, sy, swidth, sheight, dx, dy, dwidth, dheight);
  //ctx.drawImage(this, 0, 0, this.width, this.height * width / this.width > 300 ? 300.0 * this.width / width : this.height, 0, this.height * width / this.width > 300 ? 0 : (300 - this.height * width / this.width) / 2.0, width, this.height * width / this.width > 300 ? 300 : this.height * width / this.width);
  $("#view-" + this.id).html(canvas);
};