var validateEmail = function(email) {
	var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
	return re.test(email);
};

var validatePassword = function(password) {
	if (!validateNotEmpty(password) || password.length < 6) {
		return false;
	}
	return true;
};

var validateNotEmpty = function (string) {
	if (string === "" || string === undefined) {
		return false;
	}
	return true;	
}

var validateNumber = function(number) {
	var re = /^\d+$/;
	if (number !== undefined && number !== "" && re.test(number)) {
		return true;
	}
    return false;
}

var validateDecimal = function(number) {
	var re = /^\d{0,2}(\.\d{0,2}){0,1}$/;
	if (number !== undefined && number !== "" && re.test(number)) {
		return true;
	}
    return false;
}

var clearMessage = function(id) {
	$("#" + id).html("");
	clearAllMessages();
};

var alertMessage = function (id, message, type, append) {
	var message_to_show = "";
	var message_call = "";
	var icon = "";
	clearAllMessages();
	currentAlerts.push(id);
	append = append === undefined ? false : append;
	switch (type) {
		case "success":
			message_call = getTextMessage['success'];
			icon = "ok";
			break;
		case "warning":
			message_call = getTextMessage['warning'];
			icon = "warning-sign";
			break;
		case "info":
			message_call = getTextMessage['attention'];
			icon = "info-sign";
			break;
		case "danger":
			message_call = getTextMessage['error'];
			icon = "remove";
			break;
		default:
			message_call = getTextMessage['warning'];
			type = "warning";
			icon = "exclamation-sign";
	}
	message_to_show = message_to_show + "<div class=\"alert alert-" + type + "\" role=\"alert\"><i class=\"fa fa-" + icon + "\"></i> <strong>" + message_call + "!</strong> " + message;
	message_to_show = message_to_show + "	<button type=\"button\" class=\"close\" data-dismiss=\"alert\"><span aria-hidden=\"true\">&times;</span><span class=\"sr-only\">Close</span></button>";
	message_to_show = message_to_show + "</div>";
	if (append) {
		$("#" + id).append(message_to_show);
	}
	else {
		$("#" + id).html(message_to_show);
	}
	$('html, body').animate({
    scrollTop: $("#" + id).offset().top - 60
  }, 500);
};

var currentAlerts = [];
var clearAllMessages = function() {
	var i = 0;
	for (i = 0; i < currentAlerts.length; i++) {
		$("#" + currentAlerts[i]).html("");
	}
	currentAlerts = [];
};