<% provide(:title, "EMAIL USER") %>
  <div style="margin-top: 60px;" id="enable_disable">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div id="email_user_message"></div>
        <h1><%= @rep.user.first_name %> <%= @rep.user.last_name %></h1>
        <p class="lead"><b>Email:</b> <%= @rep.user.email %></p>
        <p class="lead"><b>Phone:</b> <%= @rep.user.phone %></p>
        <p class="lead"><b>Facebook:</b> <%= @rep.user.facebook %></p>
        
        <p class="lead"><b>Obj_rep:</b> <%= @rep.inspect %></p>
        <p class="lead"><b>Obj_user:</b> <%= @rep.user.inspect %></p>
        
      </div>
    </div>
  </div>