<% provide(:title, "ENABLE") %>
  <div style="margin-top: 60px;" id="enable_disable">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div id="enable_message"></div>
        <h1>Coordinates to set</h1>
        <table class="table table-hover">
          <theader>
            <tr>
              <th>#ID</th>
              <th>Title</th>
              <th>Coordinates</th>
              <th>Delete Images</th>
              <th>Enable</th>
              <th></th>
            </tr>
          </theader>
          <tbody>
            <% @republics.each_with_index do |republic, index| %>
              <tr id="line_<%= republic.id %>">
                <td><%= republic.id %></td>
                <td><%= republic.title %></td>
                <td><input type="text" name="coordinates_<%= republic.id %>" id="coordinates_<%= republic.id %>" class="form-control" value="<%= republic.latitude %>, <%= republic.longitude %>" onblur="updateCoordinates(this, <%= republic.id %>)"></td>
                <td><a href="javascript: deleteImages(<%= republic.id %>)" class="btn btn-danger"><i class="fa fa-picture-o"></i> Delete</a></td>
                <td>
                  <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary <% if republic.active %>active<% end %>">
                      <input type="radio" name="options_<%= republic.id %>" id="option_<%= republic.id %>_yes" autocomplete="off" onchange="activate(<%= republic.id %>);" <% if republic.active %>checked<% end %>> Activated
                    </label>
                    <label class="btn btn-primary <% if !republic.active %>active<% end %>">
                      <input type="radio" name="options_<%= republic.id %>" id="option_<%= republic.id %>_no" autocomplete="off" onchange="deactivate(<%= republic.id %>);" <% if !republic.active %>checked<% end %>> Deactivated
                    </label>
                  </div>
                </td>
                <td><div id="alert_<%= republic.id %>"></div></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script>
    var deleteImages = function(republic_id) {
      $.ajax({
    		type: 'GET',
    		url: '/enable_delete',
    		dataType: "json",
    		data: { 
    			'id': republic_id
    		},
    		success: function(data) {
    			if (data.status == "success") {
    			  clearMessage("enable_message");
    			  $("#alert_" + republic_id).html("<i class=\"fa fa-thumbs-o-up\"></i>");
    			  setTimeout(function() {
              $("#alert_" + republic_id).html("");
            }, 3000);
    			}
    			else if (data.status == "fail") {
    				alertMessage("enable_message", "Please try again.", "warning", false);
    				$("#alert_" + republic_id).html("<i class=\"fa fa-thumbs-o-down\"></i>");
    			}
    		},
    		error: function(data) {
    			console.log("error");
    			console.log(data);
    			alertMessage("enable_message", "Problems with server.", "danger", false);
    			$("#alert_" + republic_id).html("<i class=\"fa fa-thumbs-o-down\"></i>");
    		}
    	});
    };

    var updateCoordinates = function(obj, republic_id) {
      var coordinates = obj.value.split(", ");
      $.ajax({
    		type: 'GET',
    		url: '/update_coordinates',
    		dataType: "json",
    		data: { 
    			'id': republic_id,
    			'latitude': coordinates[0],
    			'longitude': coordinates[1],
    		},
    		success: function(data) {
    			if (data.status == "success") {
    			  clearMessage("enable_message");
    			  $("#alert_" + republic_id).html("<i class=\"fa fa-thumbs-o-up\"></i>");
    			  setTimeout(function() {
              $("#alert_" + republic_id).html("");
            }, 3000);
    			}
    			else if (data.status == "fail") {
    				alertMessage("enable_message", "Please try again.", "warning", false);
    				$("#alert_" + republic_id).html("<i class=\"fa fa-thumbs-o-down\"></i>");
    			}
    		},
    		error: function(data) {
    			console.log("error");
    			console.log(data);
    			alertMessage("enable_message", "Problems with server.", "danger", false);
    			$("#alert_" + republic_id).html("<i class=\"fa fa-thumbs-o-down\"></i>");
    		}
    	});
    };
  
    var republics = [<% @republics.each_with_index do |republic, index| %><% if index < @republics.length - 1 %><%= republic.id %>,<% else %><%= republic.id %><% end %><% end %>];
  
    var activate = function(republic_id) {
      changeStatus(republic_id, 1);
    };
    
    var deactivate = function(republic_id) {
      changeStatus(republic_id, 0);
    };
    
    var changeStatus = function(republic_id, status) {
      $.ajax({
    		type: 'GET',
    		url: '/activate',
    		dataType: "json",
    		data: { 
    			'id': republic_id,
    			'status': status
    		},
    		success: function(data) {
    			if (data.status == "success") {
    			  clearMessage("enable_message");
    			  $("#alert_" + republic_id).html("<i class=\"fa fa-thumbs-o-up\"></i>");
    			  setTimeout(function() {
              $("#alert_" + republic_id).html("");
            }, 3000);
    			}
    			else if (data.status == "fail") {
    				alertMessage("enable_message", "Please try again.", "warning", false);
    				$("#alert_" + republic_id).html("<i class=\"fa fa-thumbs-o-down\"></i>");
    			}
    		},
    		error: function(data) {
    			console.log("error");
    			console.log(data);
    			alertMessage("enable_message", "Problems with server.", "danger", false);
    			$("#alert_" + republic_id).html("<i class=\"fa fa-thumbs-o-down\"></i>");
    		}
    	});
    };
  </script>