		<% provide(:title, "") %>
		<style>
			body {
				background: url(assets/img/<%= getTextMessage("background_src") %>.jpg) no-repeat center center fixed; 
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
			}
		</style>
		<div id="fb-root"></div>
		<script>
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=695738047142426&version=v2.0";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
		
		<div id="firstpage" style="background-color: rgba(75, 84, 103, 0.5);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 subheader text-center">
						<h1><strong><%= getTextMessage("web_site_subtitle_text_1") %></strong> <%= getTextMessage("web_site_subtitle_text_2") %> <strong><%= getTextMessage("web_site_subtitle_text_3") %></strong> <%= getTextMessage("web_site_subtitle_text_4") %></h1>
					</div>
					<div class="col-md-10 col-md-offset-1 subheader-text text-center">						
						<p class="lead"><%= getTextMessage("footer_message_1") %> <b><%= getTextMessage("footer_message_2") %></b> <%= getTextMessage("footer_message_3") %></p>
					</div>
				</div>
				<div class="row" align="center">
					<div class="hidden-xs hidden-sm">
						<div class="col-md-3 col-md-offset-3 button_bar">
							<a href="#" onmousedown="trackButton('homeButton', 'search')" data-toggle="modal" data-target="#search_type" class="btn btn-primary btn-lg btn-block"><i class="fa fa-search"></i> <%= getTextMessage("buttom_search") %></a>
						</div>
						<div class="col-md-3 button_bar">
							<% if logged_in? %>
								<a href="#" onmousedown="trackButton('homeButton', 'announce')" data-toggle="modal" data-target="#announce_type" class="btn btn-success btn-lg btn-block"><i class="fa fa-bullhorn"></i> <%= getTextMessage("button_announce") %></a>
							<% else %>
								<a href="#" onmousedown="trackButton('homeButton', 'announce')" data-toggle="modal" data-target="#signup" class="btn btn-success btn-lg btn-block"><i class="fa fa-bullhorn"></i> <%= getTextMessage("button_announce") %></a>
							<% end %>
						</div>
					</div>
					<div class="hidden-lg hidden-md hidden-xs">
						<div class="col-sm-4 col-sm-offset-2 button_bar">
							<a href="#" onmousedown="trackButton('homeButton', 'search')" data-toggle="modal" data-target="#search_type" class="btn btn-primary btn-lg btn-block"><i class="fa fa-search"></i> <%= getTextMessage("buttom_search") %></a>
						</div>
						<div class="col-sm-4 button_bar">
							<% if logged_in? %>
								<a href="#" onmousedown="trackButton('homeButton', 'announce')" data-toggle="modal" data-target="#announce_type" class="btn btn-success btn-lg btn-block"><i class="fa fa-bullhorn"></i> <%= getTextMessage("button_announce") %></a>
							<% else %>
								<a href="#" onmousedown="trackButton('homeButton', 'announce')" data-toggle="modal" data-target="#signup" class="btn btn-success btn-lg btn-block"><i class="fa fa-bullhorn"></i> <%= getTextMessage("button_announce") %></a>
							<% end %>
						</div>
					</div>
					<div class="hidden-lg hidden-md hidden-sm">
						<div class="col-xs-6 col-xs-offset-0 button_bar">
							<a href="#" data-toggle="modal" data-target="#search_type" class="btn btn-primary btn-lg btn-block"><i class="fa fa-search"></i> <%= getTextMessage("buttom_search") %></a>
						</div>
						<div class="col-xs-6 button_bar">
							<% if logged_in? %>
								<a href="#" data-toggle="modal" data-target="#announce_type" class="btn btn-success btn-lg btn-block"><i class="fa fa-bullhorn"></i> <%= getTextMessage("button_announce") %></a>
							<% else %>
								<a href="#" data-toggle="modal" data-target="#signup" class="btn btn-success btn-lg btn-block"><i class="fa fa-bullhorn"></i> <%= getTextMessage("button_announce") %></a>
							<% end %>
						</div>
					</div>
				</div>
			<!-- Sandro este aqui, e deu ruim =/   
			 <div class="row">
			   <div "col-md-4">
			   	 <img class="img-thumbnail" src="http://saecomp.org/wp-content/uploads/2015/11/logo-300x252.jpg">
			 
			   	 <img class="img-thumbnail" width="304" height="236"  src="http://educacao.estadao.com.br/blogs/paulo-saldana/wp-content/uploads/sites/85/2014/04/usp_NILTONFUKUDA-1024x670.jpg">
			     <img class="img-thumbnail" width="304" height="236" src="http://proad.ufabc.edu.br/images/headers/logo_ufabc.png">
			 
			 </div>
			-->	
			</div>
			<span class="pull-right" data-toggle="modal" data-target="#credits" style="position: absolute; color: #4b5467; bottom: 10px; right: 10px;"><strong><%= getTextMessage("image_credits") %>: <a href="javascript: window.open('<%= getTextMessage("image_credits_link") %>');" ><i class="fa fa-<%= getTextMessage("image_credits_icon") %>"></i><%= getTextMessage("image_credits_name") %></a> - <a href="javascript: window.open('https://creativecommons.org/licenses/by/2.0/');"><i class="fa fa-cc"></i></a></strong></span>
		</div>
		
		<div class="container-fluid facebook-bottom" style="background-color: #fff;" align="center">
			<div class="row hidden-xs" align="center">
				<div class="col-md-8 col-md-offset-2">
					<div style="background-color: #fff; padding: 10px 10px 10px 10px; margin-top: 10px;" class="fb-like" data-href="https://www.facebook.com/<%= getTextMessage("facebook_page") %>" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
				</div>
			</div>
		</div>
		
		<!-- MENINOS DEEM UMA OLHADA -->
		<div class="container-fluid" id="how-stuff-works" align="center">
			<div class="container">
				<h2><%= getTextMessage("how_it_works") %></h2>
	      <p class="lead"><%= getTextMessage("how_it_works_text_1") %> <b><%= getTextMessage("how_it_works_text_2") %></b> <%= getTextMessage("how_it_works_text_3") %> <b><%= getTextMessage("how_it_works_text_4") %></b> <%= getTextMessage("how_it_works_text_5") %> <b><%= getTextMessage("how_it_works_text_6") %></b> <%= getTextMessage("how_it_works_text_7") %> </p>
	  	</div>
		</div>
		
	  <div class="container-fluid" id="how-stuff-works-student" align="center">
	  	<div class="container">        
	      
	      <h2><%= getTextMessage("how_it_works_subtitle_1") %></h2>
	      <br>
	      <div class="row">
	        <div class="col-md-4">
	          <span class="fa-stack fa-4x">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-users fa-stack-1x fa-inverse"></i>
	          </span>
	          <h3><%= getTextMessage("how_it_works_subtitle_1_1") %></h3>
	          <p class="lead"><%= getTextMessage("how_it_works_subtext_1_1") %></p>
	          <p><a class="btn btn-info" href="/search_people" role="button"><%= getTextMessage("how_it_works_button_1_1") %> &raquo;</a></p>
	        </div>
	        <div class="col-md-4">
	          <span class="fa-stack fa-4x">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-home fa-stack-1x fa-inverse"></i>
	          </span>
	          <h3><%= getTextMessage("how_it_works_subtitle_1_2") %></h3>
	          <p class="lead"><%= getTextMessage("how_it_works_subtext_1_2") %></p>
	          <p><a class="btn btn-info" href="/search" role="button"><%= getTextMessage("how_it_works_button_1_2") %> &raquo;</a></p>
	       </div>
	        <div class="col-md-4">
	          <span class="fa-stack fa-4x">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-bullhorn fa-stack-1x fa-inverse"></i>
	          </span>
	          <h3><%= getTextMessage("how_it_works_subtitle_1_3") %></h3>
	          <p class="lead"><%= getTextMessage("how_it_works_subtext_1_3") %></p>
	          <% if logged_in? %>
							<p><a class="btn btn-info" href="#" data-toggle="modal" data-target="#announce_type" role="button"><%= getTextMessage("how_it_works_button_1_3") %> &raquo;</a></p>
						<% else %>
							<p><a class="btn btn-info" href="#" data-toggle="modal" data-target="#signup" role="button"><%= getTextMessage("how_it_works_button_1_3") %> &raquo;</a></p>
						<% end %>
	          
	        </div>
	      </div>
			</div>
		</div>
		
	  <div class="container-fluid" id="how-stuff-works" align="center">
	  	<div class="container">    
	      <h2><%= getTextMessage("how_it_works_subtitle_2") %></h2>
	      <br>
	      <div class="row">
	        <div class="col-md-4">
	          <span class="fa-stack fa-4x">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-bullhorn fa-stack-1x fa-inverse"></i>
	          </span>
	          <h3><%= getTextMessage("how_it_works_subtitle_2_1") %></h3>
	          <p class="lead"><%= getTextMessage("how_it_works_subtext_2_1") %></p>
	          <p><a class="btn btn-info" href="/register_property" role="button"><%= getTextMessage("how_it_works_button_2_1") %> &raquo;</a></p>
	        </div>
	        <div class="col-md-4">
	          <span class="fa-stack fa-4x">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-user fa-stack-1x fa-inverse"></i>
	          </span>
	          <h3><%= getTextMessage("how_it_works_subtitle_2_2") %></h3>
	          <p class="lead"><%= getTextMessage("how_it_works_subtext_2_2") %></p>
	          <p><a class="btn btn-info" href="/register_vacancy" role="button"><%= getTextMessage("how_it_works_button_2_2") %> &raquo;</a></p>
	       </div>
	        <div class="col-md-4">
	          <span class="fa-stack fa-4x">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
	          </span>
	          <h3><%= getTextMessage("how_it_works_subtitle_2_3") %></h3>
	          <p class="lead"><%= getTextMessage("how_it_works_subtext_2_3") %></p>
	          <p><a class="btn btn-info" href="#" data-toggle="modal" data-target="#contact" role="button"><%= getTextMessage("how_it_works_button_2_3") %></a></p>
	        </div>
	      </div>
			</div>
		</div>
		
		<script>
			/* scroll to page */
			$("a[data-section]").click(function(e) {
				e.preventDefault();
				var offSet = 50;
				$('html, body').animate({
					scrollTop: $("#" + $(this).data("section") + "page").offset().top - offSet
				}, 1000);
				$("li.active").toggleClass("active");
				$(this).parent().toggleClass("active");
			});
			<% flash.each do |key, value| %>
				$( document ).ready(function() {
					$("#login").modal("show");
					alertMessage("login_message", "<%= value %>", "<%= key %>", false);
				});
			<% end %>
		</script>
