    <% provide(:title, getTextMessage("listing_preview")) %>
    
    <div id="listing-preview" class="container" style="padding-bottom: 50px;">
      <div class="page-header">
			  <h2><%= @republic.title %> <!--<span class="small">(<%= getTextMessage("created_at") %>: <%= systemLanguage == "en" ? @republic.created_at.strftime("%m/%d/%Y") : @republic.created_at.strftime("%d/%m/%Y") %>)</span>--></h2>
			</div>
      <div class="row">
        <div class="col-md-12">
          <h3><%= getTextMessage("main_info") %></h3>
          <div class="row">
            <div class="col-md-3 col-md-offset-0">
              <label><i class="fa fa-chevron-right"></i> <%= getTextMessage("gender") %>:</label> <%= rep_genders[@republic.gender] %>
            </div>
            <div class="col-md-3 col-md-offset-0">
              <label><i class="fa fa-usd"></i> <%= getTextMessage("cost") %>:</label> <%= getTextMessage("currency") %> <%= @republic.cost %>
            </div>
            <div class="col-md-3">
              <label><i class="fa fa-users"></i> <%= getTextMessage("share") %>:</label> <%= getTextMessage("per_room_" + @republic.roommates.to_s()) %>
            </div>
            <div class="col-md-3">
              <label><i class="fa fa-book"></i> <%= getTextMessage("lease_option") %>:</label> <%= lease_options[@republic.lease] %>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <h3><%= getTextMessage("additional_info") %></h3>
          <div class="row">
            <div class="col-md-3">
              <label><i class="fa fa-recycle"></i> <%= getTextMessage("bathrooms") %>:</label> <%= @republic.bathrooms %>
            </div>
            <div class="col-md-3">
              <label><i class="fa fa-cube"></i> <%= getTextMessage("pets") %>:</label> <i class="fa fa-thumbs-o-<%= @republic.pets ? "up" : "down" %>"></i>
            </div>
            <div class="col-md-3">
              <label><i class="fa fa-tachometer"></i> <%= getTextMessage("heating") %>:</label> <i class="fa fa-thumbs-o-<%= @republic.heating ? "up" : "down" %>"></i>
            </div>
            <div class="col-md-3">
              <label><i class="fa fa-car"></i> <%= getTextMessage("parking") %>:</label> <i class="fa fa-thumbs-o-<%= @republic.parking ? "up" : "down" %>"></i>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-3">
              <label><i class="fa fa-fire"></i> <%= getTextMessage("smoking") %>:</label> <i class="fa fa-thumbs-o-<%= @republic.smoking ? "up" : "down" %>"></i>
            </div>
            <div class="col-md-3">
              <label><i class="fa fa-beer"></i> <%= getTextMessage("alcohol") %>:</label> <i class="fa fa-thumbs-o-<%= @republic.alcohol ? "up" : "down" %>"></i>
            </div>
            <div class="col-md-3">
              <label><i class="fa fa-cutlery"></i> <%= getTextMessage("organization") %>:</label> <%= organization_options[@republic.organization] %>
            </div>
            <div class="col-md-3">
              <label><i class="fa fa-birthday-cake"></i> <%= getTextMessage("parties") %>:</label> <%= parties_options[@republic.parties] %>
            </div>
          </div>
          <br>
          <% if systemLanguage == "en" %>
            <div class="row">
              <div class="col-md-3">
                <label><i class="fa fa-clock-o"></i> <%= getTextMessage("stuff") %>:</label> <%= stuff_options[@republic.stuff] %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <h3><%= getTextMessage("contact_info") %></h3>
          <div class="row">
            <div class="col-md-6">
              <label><i class="fa fa-chevron-right"></i> <%= @republic.user.first_name + " " + @republic.user.last_name %></label>
            </div>
            <% if !@republic.user.hide_phone and @republic.user.phone != "" %>
              <div class="col-md-6">
                <label><i class="fa fa-phone"></i> <%= getTextMessage("phone") %>:</label> <a href="javascript: phoneView('<%= @republic.user.phone %>','<%= @republic.id %>');" id="phoneViewLink"><%= getTextMessage("show_phone") %></a><span id="phoneSpan"></span>
              </div>
            <% end %>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <a href="javascript: hiddenEmail('<%= @republic.id %>');" class="btn btn-primary btn-block"><i class="fa fa-envelope"></i> <%= getTextMessage("send_message") %></a>
            </div>
            <div class="col-md-6">
              <% if !@republic.user.facebook.nil? and !@republic.user.facebook.empty? and !@republic.user.facebook != "" %>
                <a href="javascript: trackHousing('openFacebook', document.location.search.substring(1).split('=')[1]); window.open('<%= @republic.user.facebook %>');" class="btn btn-info btn-block"><i class="fa fa-facebook-official"></i> Facebook</a>
              <% else %>
                <a href="#" class="btn btn-info btn-block disabled"><i class="fa fa-facebook-official"></i> Facebook</a>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h3><%= getTextMessage("share_with_friends") %></h3>
          <div class="row">
            <div class="col-md-12">
              <label><i class="fa fa-link"></i> <%= getTextMessage("link") %>:</label>
              <br><br>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="<%= getTextMessage("link") %>" id="announcement_link" value="http://<%= getTextMessage("domain") %>/listing_preview?id=<%= @republic.id %>">
                <span class="input-group-btn">
                  <a href="javascript: openSendToFriendMessageBox(<%= @republic.id %>);" class="btn btn-primary pull-right"><i class="fa fa-at"></i> <%= getTextMessage("tell_a_friend") %></a>
                </span>
              </div><!-- /input-group -->
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <h3><%= getTextMessage("pictures") %> <small><%= getTextMessage("click_to_zoom") %> <i class="fa fa-search-plus"></i></small></h3>
          <div id="links"></div>
          <% if @republic.pictures.length > 0 %>
            <div id="pictures-gallery">
              <% @republic.pictures.each_with_index do |picture, index| %>
                <a href="<%= picture.path %>" title="<%= getTextMessage("picture") + " " + (index + 1).to_s %>" data-gallery="">
                  <img src="<%= picture.path %>" height="100">
                </a>
              <% end %>
            </div>
          <% else %>
            <% if @republic.is_people %>
              <img src="assets/img/person.png" align="center">
            <% else %>
              <img src="assets/img/gray_light_<%= getTextMessage("lang") %>.png">
            <% end %>
          <% end %>
        </div>
        <div class="col-md-6">
          <h3><%= getTextMessage("description") %></h3>
          <div class="row">
            <div class="col-md-12 well">
              <label class="sr-only"><i class="fa fa-home"></i> <%= getTextMessage("description") %>:</label>
              <%= @republic.description %>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery">
      <!-- The container for the modal slides -->
      <div class="slides"></div>
      <!-- Controls for the borderless lightbox -->
      <h3 class="title"></h3>
      <a class="prev">‹</a>
      <a class="next">›</a>
      <a class="close">×</a>
      <a class="play-pause"></a>
      <ol class="indicator"></ol>
      <!-- The modal dialog, which will be used to wrap the lightbox content -->
      <div class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" aria-hidden="true">&times;</button>
              <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body next"></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left prev">
                <i class="fa fa-chevron-left"></i>
                <%= getTextMessage("previous") %>
              </button>
              <button type="button" class="btn btn-primary next">
                <%= getTextMessage("next") %>
                <i class="fa fa-chevron-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="contact_user" tabindex="-1" role="dialog" aria-labelledby="contact_userModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="contact_user_title"><%= getTextMessage("contact_user_title") %></h4>
					</div>
					<div class="modal-body contactpage" id="contact_userpage">
						<input id="message_id_for_user" name="message_id_for_user" type="hidden">
						<div id="contact_user_message"></div>
						<h2 class="modal-title" id="contact_user_subtitle" align="center"></h2>
						<br>
						<div class="row">
							<div class="col-md-5 col-md-offset-1">
								<label for="message_name_for_user"><%= getTextMessage("name") %></label>
								<input id="message_name_for_user" name="message_name_for_user" type="text" class="form-control" placeholder="<%= getTextMessage("name") %>">
							</div>
							<div class="col-md-5 col-md-offset-0">
								<label for="message_email_for_user"><%= getTextMessage("email") %></label>
								<input id="message_email_for_user" name="message_email_for_user" type="text" class="form-control" placeholder="<%= getTextMessage("email") %>">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-10 col-md-offset-1">
								<label for="message_subject_for_user"><%= getTextMessage("subject") %></label>
								<input id="message_subject_for_user" name="message_subject_for_user" type="text" class="form-control" placeholder="<%= getTextMessage("subject") %>">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-10 col-md-offset-1">
								<label for="message_body_for_user"><%= getTextMessage("message") %></label>
								<textarea id="message_body_for_user" name="message_body_for_user" class="form-control" placeholder="<%= getTextMessage("message") %>" rows="6"></textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="reset" class="btn btn-default" data-dismiss="modal"><i class="fa fa-remove"></i> <%= getTextMessage("cancel") %></button>
						<a href="javascript: sendMessageToUser();" id="send_message_to_user_button" class="btn btn-success"><i class="fa fa-check"></i> <%= getTextMessage("send") %></a>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
    
    <div class="modal fade" id="contact_friend" tabindex="-1" role="dialog" aria-labelledby="contact_friendModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="contact_friend_title"><%= getTextMessage("contact_friend_title") %></h4>
					</div>
					<div class="modal-body contactpage" id="contact_friendpage">
						<input id="message_id_for_friend" name="message_id_for_friend" type="hidden">
						<div id="contact_friend_message"></div>
						<h2 class="modal-title" id="contact_friend_subtitle" align="center"></h2>
						<br>
						<div class="row">
							<div class="col-md-5 col-md-offset-1">
								<label for="message_name_for_friend"><%= getTextMessage("your_name") %></label>
								<input id="message_name_for_friend" name="message_name_for_friend" type="text" class="form-control" placeholder="<%= getTextMessage("your_name") %>">
							</div>
							<div class="col-md-5 col-md-offset-0">
								<label for="message_friend_name_for_friend"><%= getTextMessage("friend_name") %></label>
								<input id="message_friend_name_for_friend" name="message_friend_name_for_friend" type="text" class="form-control" placeholder="<%= getTextMessage("friend_name") %>">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-10 col-md-offset-1">
								<label for="message_email_for_friend"><%= getTextMessage("friend_email") %></label>
								<input id="message_email_for_friend" name="message_email_for_friend" type="text" class="form-control" placeholder="<%= getTextMessage("friend_email") %>">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-10 col-md-offset-1">
								<label for="message_subject_for_friend"><%= getTextMessage("subject") %></label>
								<input id="message_subject_for_friend" name="message_subject_for_friend" type="text" class="form-control" placeholder="<%= getTextMessage("subject") %>">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-10 col-md-offset-1">
								<label for="message_body_for_friend"><%= getTextMessage("message") %></label>
								<textarea id="message_body_for_friend" name="message_body_for_friend" class="form-control" placeholder="<%= getTextMessage("message") %>" rows="6"></textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="reset" class="btn btn-default" data-dismiss="modal"><i class="fa fa-remove"></i> <%= getTextMessage("cancel") %></button>
						<a href="javascript: sendMessageToFriend();" id="send_message_to_friend_button" class="btn btn-success"><i class="fa fa-check"></i> <%= getTextMessage("send") %></a>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
    
    <script>
      /*
       * Bootstrap Image Gallery 3.0.1
       * https://github.com/blueimp/Bootstrap-Image-Gallery
       *
       * Copyright 2013, Sebastian Tschan
       * https://blueimp.net
       *
       * Licensed under the MIT license:
       * http://www.opensource.org/licenses/MIT
       */
      
      /*global define, window */
      
      (function (factory) {
          'use strict';
          if (typeof define === 'function' && define.amd) {
              define([
                  'jquery',
                  './blueimp-gallery'
              ], factory);
          } else {
              factory(
                  window.jQuery,
                  window.blueimp.Gallery
              );
          }
      }(function ($, Gallery) {
          'use strict';
      
          $.extend(Gallery.prototype.options, {
              useBootstrapModal: true
          });
      
          var close = Gallery.prototype.close,
              imageFactory = Gallery.prototype.imageFactory,
              videoFactory = Gallery.prototype.videoFactory,
              textFactory = Gallery.prototype.textFactory;
      
          $.extend(Gallery.prototype, {
      
              modalFactory: function (obj, callback, factoryInterface, factory) {
                  if (!this.options.useBootstrapModal || factoryInterface) {
                      return factory.call(this, obj, callback, factoryInterface);
                  }
                  var that = this,
                      modalTemplate = this.container.children('.modal'),
                      modal = modalTemplate.clone().show()
                          .on('click', function (event) {
                              // Close modal if click is outside of modal-content:
                              if (event.target === modal[0] ||
                                      event.target === modal.children()[0]) {
                                  event.preventDefault();
                                  event.stopPropagation();
                                  that.close();
                              }
                          }),
                      element = factory.call(this, obj, function (event) {
                          callback({
                              type: event.type,
                              target: modal[0]
                          });
                          modal.addClass('in');
                      }, factoryInterface);
                  modal.find('.modal-title').text(element.title || String.fromCharCode(160));
                  modal.find('.modal-body').append(element);
                  return modal[0];
              },
      
              imageFactory: function (obj, callback, factoryInterface) {
                  return this.modalFactory(obj, callback, factoryInterface, imageFactory);
              },
      
              videoFactory: function (obj, callback, factoryInterface) {
                  return this.modalFactory(obj, callback, factoryInterface, videoFactory);
              },
      
              textFactory: function (obj, callback, factoryInterface) {
                  return this.modalFactory(obj, callback, factoryInterface, textFactory);
              },
      
              close: function () {
                  this.container.find('.modal').removeClass('in');
                  close.call(this);
              }
      
          });
      
      }));

    </script>