<% provide(:title, "MAPS") %>
  <div style="margin-top: 60px;" id="whole_save_coordinates">
    <% if @republics.length > 0 %>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div id="save_coordinates_message"></div>
          <h1>Coordinates to set</h1>
          <table class="table table-hover">
            <theader>
              <tr>
                <th>#ID</th>
                <th>Address</th>
                <th>Number</th>
                <th>Latitude</th>
                <th>Longitude</th>
              </tr>
            </theader>
            <tbody>
              <% @republics.each_with_index do |republic, index| %>
                <tr id="line_<%= republic.id %>">
                  <td><%= republic.id %></td>
                  <td><%= republic.address %></td>
                  <td><%= republic.number %></td>
                  <td><input type="text" name="latitude_<%= republic.id %>" id="latitude_<%= republic.id %>" class="form-control" placeholder="latitude"></td>
                  <td><input type="text" name="longitude_<%= republic.id %>" id="longitude_<%= republic.id %>" class="form-control" placeholder="longitude"></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <a href="javascript: saveCoordinates();" class="btn btn-success pull-right">Save</a>
        </div>
      </div>
    <% else %>
      <div class="col-md-10 col-md-offset-1">
        <h1>Perfect, nothing to do!</h1>
      </div>
    <% end %>
  </div>
  
  <script>
    var index = 0;
    var saveCoordinates = function() {
      var republics = [<% @republics.each_with_index do |republic, index| %><% if index < @republics.length - 1 %><%= republic.id %>,<% else %><%= republic.id %><% end %><% end %>];
      
      $.ajax({
    		type: 'GET',
    		url: '/save_maps',
    		dataType: "json",
    		data: { 
    			'id': republics[index],
    			'latitude': $("#latitude_" + republics[index]).val(),
    			'longitude': $("#longitude_" + republics[index]).val()
    		},
    		success: function(data) {
    			if (data.status == "success") {
    			  clearMessage("save_coordinates_message");
    			  alertMessage("save_coordinates_message", "Success! Id: [" + republics[index] + "] is saved.", "success", false);
    			  $("#line_" + republics[index]).hide('slow', function(){ $("#line_" + republics[index]).remove(); });
    			  if (index < republics.length - 1) {
    			    index++;
    			    saveCoordinates();
    			  }
    			  else {
              var content = "";
              content += "<div class=\"col-md-10 col-md-offset-1\">";
              content += "  <h1>Perfect, nothing to do!</h1>";
              content += "</div>";
              setTimeout(function() {
                $("#whole_save_coordinates").html(content);
              }, 3000);
    			  }
    			}
    			else if (data.status == "fail") {
    				alertMessage("save_coordinates_message", "Please try again.", "warning", false);
    			}
    		},
    		error: function(data) {
    			console.log("error");
    			console.log(data);
    			alertMessage("save_coordinates_message", "Problems with server.", "danger", false);
    		}
    	});
    };
  </script>