<!doctype html>
<html>
  <head>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title><%= getTextMessage("web_site_title") %> &#8226;</title>
     <link rel="icon" type="image/png" href="assets/img/favicon_<%= getTextMessage("mascot") %>.png?v=<%= getTextMessage("lang") %>">
     <link href="//fonts.googleapis.com/css?family=Roboto:400,300,200,100&subset=latin,cyrillic" rel="stylesheet">
     <style>
        body {
          margin: 0;
          padding: 0;
        }
        #headline {
          padding: 0.8em;
          color: white;
          font-family: Roboto, helvetica, arial, sans-serif;
          background-color: black;
          background-image: url('assets/img/background_f.jpg');
          background-size: cover;
        }
        #headline h1 {
          font-weight: 200;
          font-size: 60px;
          line-height: 1em;
          margin-bottom: 0;
        }
        #headline img {
          width: 80px;
        }
        #headline #blurb {
          font-weight: 300;
          font-size: 18px;
        }
        .btn-green {
          background-color: #5fcb52;
        }
        .btn-blue {
          background-color: #4641e3;
        }
        .btn-red {
          background-color: #ff2727;
        }
        .mybtn {
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          padding: 5px 15px 5px 15px;
          color: #fff;
          text-decoration: none;
          font-size: 24px;
          font-weight: bolder;
        }
        .mybtn:hover {
          -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
          -moz-box-shadow:    0px 0px 10px 0px rgba(255, 255, 255, 0.75);
          box-shadow:         0px 0px 10px 0px rgba(255, 255, 255, 0.75);
        }
     </style>
  </head>
  <body>
    <div id="headline">
      <div class="container" align="center">
        <div class="header">
          <img src="assets/img/owl.png" alt="own">
          <h1><%= getTextMessage("web_site_title") %></h1>
        </div>
        <div id="blurb">
          <p><%= getTextMessage("footer_message_1") %> <b><%= getTextMessage("footer_message_2") %></b> <%= getTextMessage("footer_message_3") %>!</p>
      		<p><b><%= getTextMessage("web_site_subtitle_free") %></b></p>
      		<a href="#" class="mybtn btn-green"><%= getTextMessage("buttom_search") %></a>
      		<a href="#" class="mybtn btn-blue"><%= getTextMessage("buttom_announce") %></a>
      		<p><%= getTextMessage("already_a_member") %></p>
      		<a href="#" class="mybtn btn-red"><%= getTextMessage("signin") %></a>
      	</div>
  		</div>
		</div>
		<div id="section1">
		  <div class="container">
        <h1><%= getTextMessage("why") %></h1>
        <p><%= getTextMessage("why_text_1") %></p>
        <p><%= getTextMessage("why_text_2") %></p>
        <p><%= getTextMessage("why_text_3") %></p>
      </div>
		</div>
  </body>
</html>