<% provide(:title, "Partners") %>
<div class="container" style="padding-top: 90px; padding-bottom: 90px;">
  <div id="partner_alert_message"></div>
  <%= csrf_meta_tag %>
  <br><br>
  <div class="row">
    <div class="col-md-6" id="partners_list">
      <label for="partner_id">Partners:</label>
      <select class="form-control" name="partner_id" id="partner_id" onchange="viewPartner();">
        <option value="0" selected>New</option>
        <% @partners.each_with_index do |partner, index| %>
          <option value="<%= partner.id %>"><%= partner.name %></option>
        <% end %>
      </select>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-4">
      <label for="partner_name"><i class="fa fa-asterisk"></i> Name:</label>
      <input type="text" name="partner[name]" id="partner_name" class="form-control" placeholder="Name">
    </div>
    <div class="col-md-4">
      <label for="partner_address">Address:</label>
      <input type="text" name="partner[address]" id="partner_address" class="form-control" placeholder="Address">
    </div>
    <div class="col-md-4">
      <label for="partner_email">Email:</label>
      <input type="text" name="partner[email]" id="partner_email" class="form-control" placeholder="Email">
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-6">
      <label for="partner_website">Website:</label>
      <input type="text" name="partner[website]" id="partner_website" class="form-control" placeholder="Website">
    </div>
    <div class="col-md-6">
      <label for="partner_facebook">Facebook:</label>
      <input type="text" name="partner[facebook]" id="partner_facebook" class="form-control" placeholder="Facebook">
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-3">
      <label for="partner_phone">Phone:</label>
      <input type="text" name="partner[phone]" id="partner_phone" class="form-control" placeholder="Phone">
    </div>
    <div class="col-md-3">
      <label for="partner_latitude"><i class="fa fa-asterisk"></i> Latitude:</label>
      <input type="text" name="partner[latitude]" id="partner_latitude" class="form-control" placeholder="Latitude">
    </div>
    <div class="col-md-3">
      <label for="partner_longitude"><i class="fa fa-asterisk"></i> Longitude:</label>
      <input type="text" name="partner[longitude]" id="partner_longitude" class="form-control" placeholder="Longitude">
    </div>
    <div class="col-md-3">
      <label for="partner_active">Active:</label>
      <input type="checkbox" name="partner[active]" id="partner_active" class="form-control" checked>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-12">
      <label for="partner_description">Description:</label>
      <textarea type="text" name="partner[description]" id="partner_description" class="form-control" placeholder="Description" rows="8"></textarea>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-4" align="center">
      <div class="input-group">
        <span class="input-group-btn">
          <div class="fileUpload btn btn-primary">
            <span id="logo_upload_button"><i class="fa fa-cube"></i> Upload Logo</span>
            <input type="file" accept="image/*" class="upload" id="partner_logo" onchange="loadPartnerPreview('logo');">
          </div>
        </span>
      </div>
      <br><br>
      <div id="partner_logo_preview"></div>
    </div>
    <div class="col-md-4" align="center">
      <div class="input-group">
        <span class="input-group-btn">
          <div class="fileUpload btn btn-primary">
            <span id="small_logo_upload_button"><i class="fa fa-cube"></i> Upload Small Logo</span>
            <input type="file" accept="image/*" class="upload" id="partner_small_logo" onchange="loadPartnerPreview('small_logo')">
          </div>
        </span>
      </div>
      <br><br>
      <div id="partner_small_logo_preview"></div>
    </div>
    <div class="col-md-4" align="center">
      <div class="input-group">
        <span class="input-group-btn">
          <div class="fileUpload btn btn-primary">
            <span id="picture_upload_button"><i class="fa fa-image"></i> Upload Picture</span>
            <input type="file" accept="image/*" class="upload" id="partner_picture" onchange="loadPartnerPreview('picture')">
          </div>
        </span>
      </div>
      <br><br>
      <div id="partner_picture_preview"></div>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-12" align="right">
      <a href="javascript: cleanPartnerScreen();" class="btn btn-default"><i class="fa fa-remove"></i> Cancel</a>
      <a href="javascript: savePartner();" class="btn btn-primary"><i class="fa fa-save"></i> Save</a>
    </div>
  </div>
</div>
<script>
  var loadPartnerPreview = function(type) {
    var input_picture = document.getElementById('partner_' + type).files;
    var reader = new FileReader();
  	reader.onload = function(e) {
			var picture_loaded = "<img src=\"" + e.target.result + "\" alt=\"\" class=\"img-thumbnail\">";
			$("#partner_" + type + "_preview").html(picture_loaded);
    };
    reader.readAsDataURL(input_picture[0]);
    $("#partner_" + type + "_preview").html("<i class=\"fa fa-spinner fa-spin fa-5x\"></i>");
  };
  
  var savePartner = function() {
    if (validSavePartner()) {
      
      var input_logo = document.getElementById('partner_logo').files;
      var input_small_logo = document.getElementById('partner_small_logo').files;
      var input_picture = document.getElementById('partner_picture').files;
      
  		var formData = new FormData();
  		var formTarget = "";
  		if ($("#partner_id").val() != "0") {
  		  formData.append("partner_id", $("#partner_id").val());
  		  formTarget = "/update_partner";
  		}
  		else {
  		  if (!!input_logo[0].type.match(/image.*/) && !!input_small_logo[0].type.match(/image.*/) && !!input_picture[0].type.match(/image.*/)) {
    		  formTarget = "/new_partner";
    		  formData.append("partner_logo", input_logo[0]);
      		formData.append("partner_small_logo", input_small_logo[0]);
      		formData.append("partner_picture", input_picture[0]);
  		  }
  		  else {
  		    return;
  		  }
  		}
  		formData.append("partner[name]", $("#partner_name").val());
  		formData.append("partner[address]", $("#partner_address").val());
  		formData.append("partner[email]", $("#partner_email").val());
  		formData.append("partner[website]", $("#partner_website").val());
  		formData.append("partner[facebook]", $("#partner_facebook").val());
  		formData.append("partner[phone]", $("#partner_phone").val());
  		formData.append("partner[latitude]", $("#partner_latitude").val());
  		formData.append("partner[longitude]", $("#partner_longitude").val());
  		formData.append("partner[active]", ($("#partner_active").prop("checked") ? "true" : "false"));
  		formData.append("partner[description]", $("#partner_description").val());
  		
  		$.ajax({
  			url: formTarget,
  			type: 'POST',
  			data: formData,
  			async: false,
  			cache: false,
  			contentType: false,
  			processData: false,
  			success: function(data) {
  				if (data.status == "success") {
  					alertMessage("partner_alert_message", "Success!", "success", false);
  					var content = "";
  					
  					if ($("#partner_id").val() != "0") {
        		  
        		}
        		else {
        		  content += "<label for=\"partner_id\">Partners:</label>";
              content += "<select class=\"form-control\" name=\"partner_id\" id=\"partner_id\" onchange=\"viewPartner();\">";
              content += "  <option value=\"0\" selected>New</option>";
              $.each(data.partners, function( index, partner ) {
                content += "  <option value=\"" + partner.id + "\">" + partner.name + "</option>";
              });
              content += "</select>";
              $("#partners_list").html(content);
        		}
  				}
  				else if (data.status == "fail") {
  					alertMessage("partner_alert_message", "Try again.", "warning", false);
  				}
  			},
  			error: function(data) {
  				console.log(data);
  				alertMessage("partner_alert_message", "Error!", "danger", false);
  			}
  		});
    }
  };
  
  var viewPartner = function() {
    var partner_id = $("#partner_id").val();
    if (partner_id == "0") {
      clearPartnerForm();
    }
    else {
      $.ajax({
    		type: 'GET',
    		url: '/partner_info',
    		dataType: "json",
    		data: { 
    			'partner_id': partner_id
    		},
    		success: function(data) {
    			if (data.status == "success") {
    			  $("#partner_name").val(data.partner.name);
            $("#partner_email").val(data.partner.email);
            $("#partner_address").val(data.partner.address);
            $("#partner_website").val(data.partner.website);
            $("#partner_facebook").val(data.partner.facebook);
            $("#partner_phone").val(data.partner.phone);
            $("#partner_latitude").val(data.partner.latitude);
            $("#partner_longitude").val(data.partner.longitude);
            $("#partner_active").prop("checked", data.partner.active);
            $("#partner_description").val(data.partner.description);
            /*
            $("#partner_logo").val("");
            $("#partner_small_logo").val("");
            $("#partner_picture").val("");
            
            $("#partner_logo_preview").html("");
            $("#partner_small_logo_preview").html("");
            $("#partner_picture_preview").html("");
            */
    			}
    			else if (data.status == "fail") {
    				alertMessage("partner_alert_message", "Try again.", "warning", false);
    			}
    		},
    		error: function(data) {
    			console.log(data);
    			alertMessage("partner_alert_message", "Error.", "danger", false);
    		}
    	});
    }
  };
  
  var clearPartnerForm = function() {
    $("#partner_name").val("");
    $("#partner_email").val("");
    $("#partner_address").val("");
    $("#partner_website").val("");
    $("#partner_facebook").val("");
    $("#partner_phone").val("");
    $("#partner_latitude").val("");
    $("#partner_longitude").val("");
    $("#partner_active").prop("checked", true);
    $("#partner_description").val("");
    $("#partner_logo").val("");
    $("#partner_small_logo").val("");
    $("#partner_picture").val("");
    $("#partner_logo_preview").html("");
    $("#partner_small_logo_preview").html("");
    $("#partner_picture_preview").html("");
  };
  
  var validSavePartner = function () {
    if (!validateNotEmpty($("#partner_name").val())) {
      alertMessage("partner_alert_message", "Fill the partner name.", "warning", false);
      $("#partner_name").focus();
      return false;
    }
    if (!validateNotEmpty($("#partner_latitude").val())) {
      alertMessage("partner_alert_message", "Fill the partner latitude.", "warning", false);
      $("#partner_latitude").focus();
      return false;
    }
    if (!validateNotEmpty($("#partner_longitude").val())) {
      alertMessage("partner_alert_message", "Fill the partner longitude.", "warning", false);
      $("#partner_longitude").focus();
      return false;
    }
    if (validateNotEmpty($("#partner_email").val()) && !validateEmail($("#partner_email").val())) {
      alertMessage("partner_alert_message", "Email invalid.", "warning", false);
      $("#partner_email").focus();
      return false;
    }
    if ($("#partner_id").val() == "0") {
		  if (!validateNotEmpty($("#partner_logo").val())) {
        alertMessage("partner_alert_message", "Fill the partner logo.", "warning", false);
        return false;
      }
      if (!validateNotEmpty($("#partner_small_logo").val())) {
        alertMessage("partner_alert_message", "Fill the partner small logo.", "warning", false);
        return false;
      }
		}
    return true;
  };
</script>