<% provide(:title, getTextMessage("partners")) %>
<div class="container" style="padding-top: 90px; padding-bottom: 90px;">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <h1><%= getTextMessage("partners") %></h1>
          <p class="lead pull-right"><a href="javascript: bePartner();"><%= getTextMessage("wanna_be_partner") %></a></p>
        </div>
      </div>
      <br><br>
      <div class="row">
        <% @partners.each_with_index do |partner, index| %>
          <div class="col-md-10 col-md-offset-1 well" align="center">
            <a class="lead" href="#" data-toggle="modal" data-target="#detail_<%= partner.id %>"><%= partner.name %></a>
            <br><br>
            <a href="#" data-toggle="modal" data-target="#detail_<%= partner.id %>"><img style="max-height: 200px; max-width: 100%;" src="<%= partner.logo %>"></a>
            <br><br>
            <a class="btn btn-info" href="#" data-toggle="modal" data-target="#detail_<%= partner.id %>"><%= getTextMessage("read_more") %> <i class="fa fa-search-plus"></i></a>
          </div>
        <% end %>
      </div>
      
      <% @partners.each_with_index do |partner, index| %>
        <div class="modal fade" id="detail_<%= partner.id %>" tabindex="-1" role="dialog" aria-labelledby="detail<%= partner.id %>ModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="detail_title"><a href="javascript: bePartner('<%= partner.id %>');"><%= getTextMessage("wanna_be_partner") %></a></h4>
              </div>
              <div class="modal-body">
                <div id="detail_message_messag"></div>
                <div id="detail_body">
                  <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                      <div class="row" align="center">
                        <div class="col-md-12" align="center">
                          <img style="height: 60px;" src="<%= partner.logo %>">
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-md-12">
                          <h2><%= partner.name %></h2>
                          <%= simple_format(partner.description, class: 'well') %>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <h2><%= getTextMessage("contact_info") %></h2>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <label><i class="fa fa-inbox"></i> <%= getTextMessage("email") %>:</label> <%= partner.email %>
                        </div>
                        <div class="col-md-4">
                          <label><i class="fa fa-phone"></i> <%= getTextMessage("phone") %>:</label> <%= partner.phone %>
                        </div>
                        <div class="col-md-4">
                          <label><i class="fa fa-envelope"></i> <%= getTextMessage("address") %>:</label> <%= partner.address %>
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-md-4 col-md-offset-2">
                          <% if !partner.website.nil? and !partner.website.empty? and !partner.website != "" %>
                            <a href="javascript: window.open('<%= partner.website %>');" class="btn btn-primary btn-block"><i class="fa fa-globe"></i> <%= getTextMessage("website") %></a>
                          <% else %>
                            <a href="#" class="btn btn-primary btn-block disabled"><i class="fa fa-globe"></i> <%= getTextMessage("website") %></a>
                          <% end %>
                        </div>
                        <div class="col-md-4">
                          <% if !partner.facebook.nil? and !partner.facebook.empty? and !partner.facebook != "" %>
                            <a href="javascript: window.open('<%= partner.facebook %>');" class="btn btn-info btn-block"><i class="fa fa-facebook"></i> Facebook</a>
                          <% else %>
                            <a href="#" class="btn btn-info btn-block disabled"><i class="fa fa-facebook"></i> Facebook</a>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <div id="detail_footer_text" class="pull-left" style="padding-top: 8px;"></div>
                <button type="reset" class="btn btn-default" data-dismiss="modal"><i class="fa fa-remove"></i> <%= getTextMessage("close") %></button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->      
      <% end %>
    </div>
  </div>
</div>