<% provide(:title, "Questions") %>

<div class="container" style="padding-top: 80px; padding-botton: 80px; margin-botton: 80px;">
  <div class="row">
    <div class="col-md-12 col-md-offset-0">
      <div id="questions_help_alert"></div>
      <h2>Universities</h2>
      <div class="row">
        <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
          <select id="university_id" onchange="changeQuestionsBoard();" class="form-control">
            <option value="0">-- Select a university --</option>
            <% @universities.each_with_index do |university, index| %>
              <option value="<%= university.id %>"><%= university.acronym %> - <%= university.name %></option>
            <% end %>
          </select>
        </div>
        
        <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
          <select id="language" onchange="changeQuestionsBoard();" class="form-control">
            <option value="pt" <% if systemLanguage == "pt" %>selected<% end %>>Português</option>
            <option value="en" <% if systemLanguage == "en" %>selected<% end %>>English</option>
            <option value="es" <% if systemLanguage == "es" %>selected<% end %>>Español</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div id="questions_board"></div>
</div>

<script>

  var addAnswerToNewQuestion = function() {
    current_new_answer++;
    $("#new_question").append($("<br>")).append(
      $("<div/>").addClass("row").append(
        $("<div/>").addClass("col-md-12 col-sm-10 col-md-offset-0 col-sm-offset-1").append(
          $("<label/>").prop("for", "new_question_answer_" + (current_new_answer)).append($("<i/>").addClass("fa fa-circle")).append(" Answer " + (current_new_answer + 1))
        ).append(
          $("<input/>").prop("type", "text").addClass("form-control").prop("name", "new_question_answer_" + (current_new_answer)).prop("id", "new_question_answer_" + (current_new_answer))
            .prop("placeholder", "Answer " + (current_new_answer + 1))
        )
      )
    );
  };
  
  var addAnswerToCurrentQuestion = function() {
    $("#current_question_answers").append($("<br>")).append(
      $("<div/>").addClass("row").append(
        $("<div/>").addClass("col-md-12 col-sm-10 col-md-offset-0 col-sm-offset-1").append(
          $("<label/>").prop("for", "current_question_new_answer_" + (current_question_new_answer)).append($("<i/>").addClass("fa fa-circle")).append(" New Answer " + (current_question_new_answer + 1))
        ).append(
          $("<input/>").prop("type", "text").addClass("form-control").prop("name", "current_question_new_answer_" + (current_question_new_answer)).prop("id", "current_question_new_answer_" + (current_question_new_answer))
            .prop("placeholder", "Answer " + (current_question_new_answer + 1))
        )
      )
    );
    current_question_new_answer++;
  };
  
  var saveNewQuestion = function() {
    if (validateQuestion("new_question")) {
      var formData = new FormData();
  		var i = 0;
  		formData.append("question[university_id]", $("#university_id").val());
  		formData.append("question[question]", $("#new_question_text").val());
  		formData.append("question[max_answers]", $("#new_question_max_answers").val());
  		formData.append("question[language]", $("#language").val());
  		// it starts in zero, take care
  		formData.append("answers_number", current_new_answer);
  		for (i = 0; i <= current_new_answer; i++) {
  		  formData.append("answer_" + i, $("#new_question_answer_" + i).val());
  		}
  		$.ajax({
  			url: "/new_question",
  			type: 'POST',
  			data: formData,
  			async: false,
  			cache: false,
  			contentType: false,
  			processData: false,
  			success: function(response) {
  				if (response.status == "success") {
  					changeQuestionsBoard();
  				}
  				else if (response.status == "fail") {
  					alertMessage("questions_help_alert", "Probably there are errors or information missing.", "danger", false);
  				}
  			},
  			error: function(response) {
  				console.log("error");
  				console.log(response);
  				alertMessage("questions_help_alert", "Error!", "danger", false);
  			}
  		});
    }
  };
  
  var validateQuestion = function(question_id) {
    clearAllMessages();
    if (!validateNotEmpty($("#" + question_id + "_text").val())) {
      alertMessage(question_id + "_alert", "Fill the question.", "danger", false);
      $("#" + question_id + "_text").focus();
      return false;
    }
    
    if (question_id == "new_question") {
      if (!validateNotEmpty($("#" + question_id + "_answer_0").val())) {
        alertMessage(question_id + "_alert", "Fill one answer at least.", "danger", false);
        $("#" + question_id + "_answer_0").focus();
        return false;
      } 
    }
    
    if (!validateNumber($("#" + question_id + "_max_answers").val())) {
      alertMessage(question_id + "_alert", "Fill max answers.", "danger", false);
      $("#" + question_id + "_max_answers").focus();
      return false;
    }
    return true;
  };
  
  var saveCurrentQuestion = function() {
    if (validateQuestion("current_question")) {
      var formData = new FormData();
  		var i = 0;
  		
  		formData.append("question_id", $("#question_id").val());
  		formData.append("question[question]", $("#current_question_text").val());
  		formData.append("question[max_answers]", $("#current_question_max_answers").val());
  		formData.append("question[active]", ($("#current_question_active").prop("checked") ? "true" : "false"));
  		
  		formData.append("new_answers_number", current_question_new_answer);
  		
  		for (i = 0; i < current_question_new_answer; i++) {
  		  formData.append("new_answer_" + i, $("#current_question_new_answer_" + i).val());
  		}
  		
  		$.ajax({
  			url: "/update_question",
  			type: 'POST',
  			data: formData,
  			async: false,
  			cache: false,
  			contentType: false,
  			processData: false,
  			success: function(response) {
  				if (response.status == "success") {
  				  $.each(response.old_answers, function(index, answer) {
  				    console.log(answer);
  				    saveAnswer(answer.id);
  				  });
  					changeQuestionsBoard();
  				}
  				else if (response.status == "fail") {
  					alertMessage("questions_help_alert", "Probably there are errors or information missing.", "danger", false);
  				}
  			},
  			error: function(response) {
  				console.log("error");
  				console.log(response);
  				alertMessage("questions_help_alert", "Error!", "danger", false);
  			}
  		});
    }
  }
  
  var saveAnswer = function(answer_id) {
    $.ajax({
      url: "/update_answer",
			type: 'GET',
      dataType: "json",
      data: { 
        'answer_id': answer_id,
			  'answer[answer]': $("#answer_" + answer_id).val(),
			  'answer[active]': ($("#active_answer_" + answer_id).prop("checked") ? "true" : "false")
      },
			success: function(response) {
				if (response.status == "success") {
				  // do nothing, we are good!
				}
				else if (response.status == "fail") {
					alertMessage("questions_help_alert", "Probably there are errors or information missing.", "danger", false);
				}
			},
			error: function(response) {
				console.log("error");
				console.log(response);
				alertMessage("questions_help_alert", "Error!", "danger", false);
			}
		});
  };
  
  var current_question_new_answer = 0;
  var getQuestionAnswers = function() {
    if($("#question_id").val() != 0) {
      $.ajax({
  			type: 'GET',
        url: '/question_answers',
        dataType: "json",
        data: { 
          'question_id': $("#question_id").val()
        },
  			success: function(response) {
  				if (response.status == "success") {
  					$("#answers_box").empty().append(
              $("<label/>").prop("for", "current_question_text").append($("<i/>").addClass("fa fa-thumb-tack")).append(" Question")
            ).append(
              $("<input/>").prop("type", "text").addClass("form-control").prop("name", "current_question_text").prop("id", "current_question_text")
                .prop("placeholder", "Question").val(response.question.question)
            ).append($("<br>")).append(
              $("<label/>").prop("for", "current_question_max_answers").append($("<i/>").addClass("fa fa-thumb-tack")).append(" Max Answers")
            ).append(
              $("<input/>").prop("type", "text").addClass("form-control").prop("name", "current_question_max_answers").prop("id", "current_question_max_answers")
                .prop("placeholder", "Max Answers").val(response.question.max_answers)
            ).append($("<br>")).append(
              $("<label/>").append(
                $("<input/>").prop("type", "checkbox").prop("id", "current_question_active").attr("checked", response.question.active)
              ).append(" Active")
            ).append($("<br>")).append($("<div/>").prop("id", "current_question_answers"));
            
            current_question_new_answer = 0;
            $.each(response.answers, function(index, answer) {
              $("#current_question_answers").append($("<br>")).append(
                $("<label/>").prop("for", "current_question_answer_" + index).append($("<i/>").addClass("fa fa-circle")).append(" Answer " + (index + 1))
              ).append(
                
                $("<div/>").addClass("input-group").append(
                  $("<span/>").addClass("input-group-addon").append(
                    $("<input/>").prop("type", "checkbox").prop("name", "active_answer_" + answer.id).prop("id", "active_answer_" + answer.id).attr("checked", answer.active)
                  )
                ).append(
                  $("<input/>").prop("type", "text").addClass("form-control").prop("name", "answer_" + answer.id).prop("id", "answer_" + answer.id)
                    .prop("placeholder", "Answer " + (index + 1)).val(answer.answer)
                )
              )
            });
            
            $("#answers_box").append($("<br>")).append(
              $("<div/>").addClass("row").append(
                $("<div/>").addClass("col-md-12 col-md-offset-0").prop("align", "right").append(
                  $("<a/>").addClass("btn btn-danger").append(
                    $("<i/>").addClass("fa fa-plus")
                  ).append(" Add Answer").click(function() {
                    addAnswerToCurrentQuestion();
                  })
                ).append(" ").append(
                  $("<a/>").addClass("btn btn-success").append(
                    $("<i/>").addClass("fa fa-save")
                  ).append(" Save Question").click(function() {
                    saveCurrentQuestion();
                  })
                )
              )
            ).append($("<br>")).append($("<br>"));
  				}
  				else if (response.status == "fail") {
  					alertMessage("questions_help_alert", "Probably there are errors or information missing.", "danger", false);
  				}
  			},
  			error: function(response) {
  				console.log("error");
  				console.log(response);
  				alertMessage("questions_help_alert", "Error!", "danger", false);
  			}
  		});
    }
    else {
      $("#answers_box").empty();
    }
  };
  
  
  var current_new_answer = 0;
  var changeQuestionsBoard = function() {
    if ($("#university_id").val() == "0") {
      $("#questions_board").empty();
    }
    else {
      current_new_answer = 0;
      $.ajax({
        type: 'GET',
        url: '/university_questions',
        dataType: "json",
        data: { 
          'university_id': $("#university_id").val(),
          'language': $("#language").val(),
        },
        success: function(data) {
          if (data.status == "success") {
            var board = $("#questions_board").empty();
            var current_questions = $("<select/>").addClass("form-control").prop("id", "question_id").prop("name", "question_id").change(function() {
              getQuestionAnswers();
            });
            current_questions.append($("<option/>").prop("value", "0").prop("selected", "selected").append("-- Select Question --"));
            $.each(data.questions, function(index, question) {
              current_questions.append($("<option/>").prop("value", question.id).append(question.question));
            });
            
            var frame = $("<div/>").addClass("row").append(
              $("<div/>").addClass("col-md-6 col-md-offset-0").append(
                $("<div/>").addClass("row").append(
                  $("<div/>").addClass("col-md-10 col-md-offset-1").append(
                    current_questions
                  ).append($("<br/>")).append($("<div/>").prop("id", "answers_box"))
                )
              ).append($("<div/>").prop("id", "question_preview"))
            ).append(
              $("<div/>").addClass("col-md-6 col-md-offset-0").append(
                $("<div/>").addClass("row well").append(
                  $("<div/>").addClass("col-md-10 col-md-offset-1").append($("<div/>").prop("id", "new_question_alert")).append(
                    $("<h2/>").prop("align", "center").append($("<i/>").addClass("fa fa-pencil-square")).append(" New Question")
                  ).append(
                    $("<div/>").prop("id", "new_question").append(
                      $("<div/>").addClass("row").append(
                        $("<div/>").addClass("col-md-12 col-sm-10 col-md-offset-0 col-sm-offset-1").append(
                          $("<label/>").prop("for", "new_question_text").append($("<i/>").addClass("fa fa-thumb-tack")).append(" Question")
                        ).append(
                          $("<input/>").prop("type", "text").addClass("form-control").prop("name", "new_question_text").prop("id", "new_question_text")
                            .prop("placeholder", "Question")
                        )
                      )
                    ).append($("<br>")).append(
                      $("<div/>").addClass("row").append(
                        $("<div/>").addClass("col-md-12 col-sm-10 col-md-offset-0 col-sm-offset-1").append(
                          $("<label/>").prop("for", "new_question_answer_0").append($("<i/>").addClass("fa fa-circle")).append(" Answer 1")
                        ).append(
                          $("<input/>").prop("type", "text").addClass("form-control").prop("name", "new_question_answer_0").prop("id", "new_question_answer_0")
                            .prop("placeholder", "Answer 1")
                        )
                      )
                    )
                  ).append($("<br>")).append(
                    $("<div/>").addClass("row").append(
                      $("<div/>").addClass("col-md-12 col-md-offset-0").append(
                        $("<label/>").prop("for", "new_question_max_answers").append($("<i/>").addClass("fa fa-thumb-tack")).append(" Max Answers")
                      ).append(
                        $("<input/>").prop("type", "text").addClass("form-control").prop("name", "new_question_max_answers").prop("id", "new_question_max_answers")
                          .prop("placeholder", "Max Answers").val(1)
                      )
                    )
                  ).append($("<br>")).append(
                    $("<div/>").addClass("row").append(
                      $("<div/>").addClass("col-md-12 col-md-offset-0").prop("align", "right").append(
                        $("<a/>").addClass("btn btn-danger").append(
                          $("<i/>").addClass("fa fa-plus")
                        ).append(" Add Answer").click(function() {
                          addAnswerToNewQuestion();
                        })
                      ).append(" ").append(
                        $("<a/>").addClass("btn btn-success").append(
                          $("<i/>").addClass("fa fa-save")
                        ).append(" Save Question").click(function() {
                          saveNewQuestion();
                        })
                      )
                    )
                  )
                )
              )
            );
            
            board.append($("<br>")).append(frame);
          }
          else if (data.status == "fail") {
            alertMessage("questions_help_alert", "Try again.", "warning", false);
          }
          else if (data.status == "missing_param") {
            alertMessage("questions_help_alert", "Select one university.", "warning", false);
          }
        },
        error: function(data) {
          console.log(data);
          alertMessage("questions_help_alert", "Error.", "danger", false);
        }
      });
    }
  }
</script>