		<% provide(:title, getTextMessage("button_announce")) %>
		<div id="advertisepage">
			<div class="container">
				<div id="error_message">
					<% flash.each do |key, value| %>
						<div class="alert alert-<%= key %>" role="alert">
							<strong><%= value %></strong>
							<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						</div>
						<script>
							$( document ).ready(function() {
								searchAdvertiments();
								$('html, body').animate({
									scrollTop: $("#error_message").offset().top - 160
								}, 500);
							});
						</script>
					<% end %>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 advertiseheader text-center">
					<% case @type %>
					<% when "property" %>
						<h1 class="hidden-xs hidden-sm"><i class="fa fa-bullhorn"></i> <%= getTextMessage("register_view_title_property") %></h1>
						<h2 class="hidden-md hidden-lg"><i class="fa fa-bullhorn"></i> <%= getTextMessage("register_view_title_property") %></h2>
					<% when "people" %>
						<h1 class="hidden-xs hidden-sm"><i class="fa fa-bullhorn"></i> <%= getTextMessage("register_view_title_yourself") %></h1>
						<h2 class="hidden-md hidden-lg"><i class="fa fa-bullhorn"></i> <%= getTextMessage("register_view_title_yourself") %></h2>
					<% when "vacancy" %>
						<h1 class="hidden-xs hidden-sm"><i class="fa fa-bullhorn"></i> <%= getTextMessage("register_view_title_vacancy") %></h1>
						<h2 class="hidden-md hidden-lg"><i class="fa fa-bullhorn"></i> <%= getTextMessage("register_view_title_vacancy") %></h2>
					<% else %>
						<%   puts "it was something else" %>
					<% end %>
					</div>
				</div>
				<%= form_for(@user, url: (!logged_in? ? signup_path : new_republic_path), :html => {:multipart => true}, onSubmit: (!logged_in? ? "return validateSignup()" : "return validateNewRepublic()")) do |f| %>
					<input type="hidden" name="announce_type" value="<%= @type %>">
					<div class="row">
						<div class="col-md-12 col-md-offset-0 well">
						<div id="advertise_message"></div>
							<% if !logged_in? %>
								<div class="page-header">
									<h2><%= getTextMessage("contact_data") %> <small>(<%= getTextMessage("required_fields") %> <i class="fa fa-asterisk text-danger"></i>)</small></h2>
								</div>
								<div class="row">
									<div class="col-md-3 col-md-offset-0">
										<i class="fa fa-chevron-right"></i> <%= f.label :first_name, getTextMessage("name") %> <i class="fa fa-asterisk text-danger"></i>
										<%= f.text_field :first_name, class: "form-control", placeholder: getTextMessage("name") %>
									</div>
									<div class="col-md-3 col-md-offset-0">
										<i class="fa fa-chevron-right"></i> <%= f.label :last_name, getTextMessage("surname") %> <i class="fa fa-asterisk text-danger"></i>
										<%= f.text_field :last_name, class: "form-control", placeholder: getTextMessage("surname") %>
									</div>
									<div class="col-md-6 col-md-offset-0">
										<i class="fa fa-facebook-official"></i> <%= f.label :facebook, getTextMessage("facebook") %>
										<%= f.text_field :facebook, class: "form-control", placeholder: getTextMessage("facebook") %>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-md-3 col-md-offset-0">
										<i class="fa fa-inbox"></i> <%= f.label :email %> <i class="fa fa-asterisk text-danger"></i> 
										<div class="pull-right"><%= f.check_box :hide_email, checked: false %> <%= f.label :hide_email, getTextMessage("hide") %> <b><span data-toggle="tooltip" data-placement="top" title="<%= getTextMessage("hide_explanation") %>">[?]</span></b></div>
										<%= f.text_field :email, class: "form-control", placeholder: getTextMessage("email") %>
									</div>
									<div class="col-md-3 col-md-offset-0">
										<i class="fa fa-phone"></i> <%= f.label :phone, getTextMessage("phone") %>
										<div class="pull-right"><%= f.check_box :hide_phone, checked: false %> <%= f.label :hide_phone, getTextMessage("hide") %></div>
										<%= f.text_field :phone, class: "form-control", placeholder: getTextMessage("phone") %>
									</div>
									<div class="col-md-3 col-md-offset-0">
										<i class="fa fa-lock"></i> <%= f.label :password, getTextMessage("password") %> <i class="fa fa-asterisk text-danger"></i>
										<%= f.password_field :password, class: "form-control", placeholder: getTextMessage("password") %>
									</div>
									<div class="col-md-3 col-md-offset-0">
										<i class="fa fa-lock"></i> <%= f.label :password_confirmation, getTextMessage("password_confirmation") %> <i class="fa fa-asterisk text-danger"></i>
										<%= f.password_field :password_confirmation, class: "form-control", placeholder: getTextMessage("password_confirmation") %>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-md-12 col-md-offset-0" align="center">
										<%= f.submit getTextMessage("signup"), class: "btn btn-success btn-lg", onclick: "return validateSignup()" %>
									</div>
								</div>
							<% else %>
								<div class="page-header">
									<h2><%= getTextMessage("vacancy_information") %> <small>(<%= getTextMessage("required_fields") %> <i class="fa fa-asterisk text-danger"></i>)</small></h2>
								</div>
								
								<div class="row">
									<div class="col-md-6 col-md-offset-0">
										<label for="university_id"><i class="fa fa-university"></i> <%= getTextMessage("select_your_university") %> <i class="fa fa-asterisk text-danger"></i></label>
										<select name="republic[university_id]" id="university_id" class="form-control">
											<option value="0">-- <%= getTextMessage("select_your_university") %> --</option>
											<% universities_available.each_with_index do |university, index| %>
												<option value="<%= university.id %>" <%= isSystemUniversity(university.acronym) %>><%= university.acronym %> - <%= university.name %></option>
											<% end %>
										</select>
									</div>
								</div>
								<br>
								<div class="row">
									<input type="hidden" name="republic[is_people]" id="is_people" value="<%= @type == "people" ? "true" : "false" %>">
									<input type="hidden" name="republic[is_landlord]" id="is_landlord" value="<%= @type == "property" ? "true" : "false" %>">
									<div class="col-md-6 col-md-offset-0">
										<label for="title"><i class="fa fa-tags"></i> <%= getTextMessage("title") %> <i class="fa fa-asterisk text-danger"></i></label>
										<input type="text" name="republic[title]" id="title" class="form-control" placeholder="<%= getTextMessage("title") %>">
									</div>
									<div class="col-md-4 col-md-offset-0">
										<label for="address"><i class="fa fa-envelope"></i> <%= getTextMessage("street_label") %> <i class="fa fa-asterisk text-danger"></i></label>
										<div class="pull-right"><input type="checkbox" name="republic[hide_address]" id="hide_address"> <label for="hide_address"><%= getTextMessage("hide") %></label> <b><span data-toggle="tooltip" data-placement="top" title="<%= getTextMessage("hide_address") %>">[?]</span></b></div>
										<input type="text" name="republic[address]" id="address" class="form-control" placeholder="<%= getTextMessage("street_label") %>">
									</div>
									<div class="col-md-2 col-md-offset-0">
										<label for="number"><%= getTextMessage("number") %> <i class="fa fa-asterisk text-danger"></i></label>
										<div class="pull-right"><b><span data-toggle="tooltip" data-placement="top" title="<%= getTextMessage("approximate") %>">[?]</span></b></div>
										<input type="text" name="republic[number]" id="number" class="form-control" placeholder="<%= getTextMessage("number") %>">
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-md-3 col-md-offset-0">
										<label for="shape"><i class="fa fa-newspaper-o"></i> <%= getTextMessage("shape") %></label>
										<select id="shape" name="republic[shape]" class="form-control">
											<% @types.each do |k,v| %>
												<option value="<%= "#{k}" %>"><%= "#{v}" %></option>
											<% end %>
										</select>
									</div>
									<% if @type == "property" %>
										<input type="hidden" id="gender" name="republic[gender]" value="0">
									<% else %>
										<div class="col-md-3 col-md-offset-0">
											<label for="gender"><i class="fa fa-male"></i> <i class="fa fa-female"></i> <%= getTextMessage("gender") %></label>
											<select id="gender" name="republic[gender]" class="form-control">
												<% @genders.each do |k,v| %>
													<option value="<%= "#{k}" %>"><%= "#{v}" %></option>
												<% end %>
											</select>
										</div>
									<% end %>
									<div class="col-md-3 col-md-offset-0">
										<label for="cost"><i class="fa fa-usd"></i> <%= getTextMessage("cost") %> <i class="fa fa-asterisk text-danger"></i></label>
										<input type="text" id="cost" name="republic[cost]" class="form-control" placeholder="<%= getTextMessage("cost") %>">
									</div>
									<div class="col-md-3 col-md-offset-0">
										<label for="roommates"><i class="fa fa-users"></i> <%= @type == "property" ? getTextMessage("bedrooms") : getTextMessage("roommates") %></label>
										<select id="roommates" name="republic[roommates]" class="form-control" placeholder="<%= @type == "property" ? getTextMessage("bedrooms") : getTextMessage("roommates") %>">
											<option value="1"><%= getTextMessage("individual") %></option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4"><%= getTextMessage("three_or_more") %></option>
										</select>
									</div>
								<% if @type != "property" %>
									</div>
									<br>
									<div class="row">
								<% end %>
									<div class="col-md-3 col-md-offset-0">
										<label for="lease"><i class="fa fa-book"></i> <%= getTextMessage("lease_options") %></label>
										<select id="lease" name="republic[lease]" class="form-control">
											<% lease_options.each do |k,v| %>
												<option value="<%= "#{k}" %>"><%= "#{v}" %></option>
											<% end %>
										</select>
									</div>
									<% if @type == "property" %>
										</div>
										<br>
										<div class="row">
									<% end %>
									<div class="col-md-<%= @type == "property" ? "2" : "3" %> col-md-offset-0">
										<label for="bathrooms"><i class="fa fa-recycle"></i> <%= getTextMessage("bathrooms") %> <i class="fa fa-asterisk text-danger"></i></label>
										<input type="text" id="bathrooms" name="republic[bathrooms]" class="form-control" placeholder="<%= getTextMessage("bathrooms") %>" value="1">
									</div>
									<div class="col-md-2 col-md-offset-0">
										<label for="pets"><i class="fa fa-cube"></i> <%= getTextMessage("pets") %></label>
										<br>
										<div class="btn-group" data-toggle="buttons">
											<label class="btn btn-primary">
												<input type="radio" name="republic[pets]" id="pets_true" value="true" autocomplete="off"> <i class="fa fa-check"></i> 
											</label>
											<label class="btn btn-primary active">
												<input type="radio" name="republic[pets]" id="pets_false" value="false" autocomplete="off" checked> <i class="fa fa-remove"></i>
											</label>
										</div>
									</div>
									<div class="col-md-2 col-md-offset-0">
										<label for="heating"><i class="fa fa-tachometer"></i> <%= getTextMessage("heating") %></label>
										<br>
										<div class="btn-group" data-toggle="buttons">
											<label class="btn btn-primary">
												<input type="radio" name="republic[heating]" id="heating_true" value="true" autocomplete="off"> <i class="fa fa-check"></i> 
											</label>
											<label class="btn btn-primary active">
												<input type="radio" name="republic[heating]" id="heating_false" value="false" autocomplete="off" checked> <i class="fa fa-remove"></i>
											</label>
										</div>
									</div>
									<div class="col-md-2 col-md-offset-0">
										<label for="parking"><i class="fa fa-car"></i> <%= getTextMessage("parking") %></label>
										<br>
										<div class="btn-group" data-toggle="buttons">
											<label class="btn btn-primary">
												<input type="radio" name="republic[parking]" id="parking_true" value="true" autocomplete="off"> <i class="fa fa-check"></i> 
											</label>
											<label class="btn btn-primary active">
												<input type="radio" name="republic[parking]" id="parking_false" value="false" autocomplete="off" checked> <i class="fa fa-remove"></i>
											</label>
										</div>
									</div>
								<% if @type != "property" %>
									</div>
									<br>
									<div class="row">
										<div class="col-md-3 col-md-offset-0">
											<label for="organization"><i class="fa fa-cutlery"></i> <%= getTextMessage("organization") %></label>
											<select id="organization" name="republic[organization]" class="form-control">
												<% organization_options.each do |k,v| %>
													<option value="<%= "#{k}" %>"><%= "#{v}" %></option>
												<% end %>
											</select>
										</div>
										<div class="col-md-3 col-md-offset-0">
											<label for="parties"><i class="fa fa-birthday-cake"></i> <%= getTextMessage("parties") %></label>
											<select id="parties" name="republic[parties]" class="form-control">
												<% parties_options.each do |k,v| %>
													<option value="<%= "#{k}" %>"><%= "#{v}" %></option>
												<% end %>
											</select>
										</div>
										<% if systemCountry == "br" %>
											<input type="hidden" id="stuff" name="republic[stuff]" value="0">
										<% else %>
											<div class="col-md-2 col-md-offset-0">
												<label for="stuff"><i class="fa fa-clock-o"></i> <%= getTextMessage("stuff") %></label>
												<select id="stuff" name="republic[stuff]" class="form-control">
													<% stuff_options.each do |k,v| %>
														<option value="<%= "#{k}" %>"><%= "#{v}" %></option>
													<% end %>
												</select>
											</div>
										<% end %>
								<% else %>
									<input type="hidden" id="organization" name="republic[organization]"value="0">
									<input type="hidden" id="parties" name="republic[parties]" value="0">
									<input type="hidden" id="stuff" name="republic[stuff]" value="0">
								<% end %>
									<div class="col-md-2 col-md-offset-0">
										<label for="smoking"><i class="fa fa-fire"></i> <%= getTextMessage("smoking") %></label>
										<br>
										<div class="btn-group" data-toggle="buttons">
											<label class="btn btn-primary">
												<input type="radio" name="republic[smoking]" id="smoking_true" value="true" autocomplete="off"> <i class="fa fa-check"></i> 
											</label>
											<label class="btn btn-primary active">
												<input type="radio" name="republic[smoking]" id="smoking_false" value="false" autocomplete="off" checked> <i class="fa fa-remove"></i>
											</label>
										</div>
									</div>
									<div class="col-md-2 col-md-offset-0">
										<label for="alcohol"><i class="fa fa-beer"></i> <%= getTextMessage("alcohol") %></label>
										<br>
										<div class="btn-group" data-toggle="buttons">
											<label class="btn btn-primary active">
												<input type="radio" name="republic[alcohol]" id="alcohol_true" value="true" autocomplete="off" checked> <i class="fa fa-check"></i> 
											</label>
											<label class="btn btn-primary">
												<input type="radio" name="republic[alcohol]" id="alcohol_false" value="false" autocomplete="off"> <i class="fa fa-remove"></i>
											</label>
										</div>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-md-12 col-md-offset-0">
										<label for="description"><i class="fa fa-home"></i> <%= getTextMessage("description") %> <i class="fa fa-asterisk text-danger"></i></label>
										<textarea class="form-control" name="republic[description]" id="description" placeholder="<%= getTextMessage("description_long") %>" rows="3"></textarea>
									</div>
								</div>
								<br>
								<div class="page-header">
									<h2><%= getTextMessage("pictures") %> <small>(<%= getTextMessage("ask_pictures_message") %>)</small></h2>
								</div>
								<div class="row" align="center">
									<div class="col-md-12 col-md-offset-0">
										<label for="republic_pictures" class="sr-only"><i class="fa fa-image"></i> <%= getTextMessage("pictures") %></label>
										<div class="fileUpload btn btn-primary">
											<i class="fa fa-picture-o"></i>
											<span><%= getTextMessage("select_pictures") %></span>
											<input type="file" name="pictures[]" id="republic_pictures" multiple="multiple" class="upload" accept="image/*" onchange="listPicturesPreview();">
										</div>
										<div class="row" id="pictures_preview" align="center"></div>
									</div>
								</div>
								<br>
								<hr>
								<div class="row">
									<div class="col-md-12 col-md-offset-0" align="center">
									<%= f.submit getTextMessage("announce"), class: "btn btn-success btn-lg", onclick: "return validateNewRepublic()" %>
									</div>
								</div>
							<% end %>
						</div>
					</div>
				<% end %>
			</div>
		</div>