<% provide(:title, getTextMessage("search_people")) %>
		<style>
			body {
				background-color: #606075;	
			}
		</style>
		<div class="container-fluid" style="background-color: #606075; margin-top: 5vh;" id="people_announcement">
			<div class="container">
				<div class="">
					<div class="row subbottom" align="center">
						<div class="col-md-12 col-xs-12 col-sm-12">
							<h2><i class="fa fa-users"></i>  <%= getTextMessage("people_looking_for_vacancies") %></h2>
							<br>
							<p class="lead"><%= getTextMessage("people_looking_for_vacancies_long") %> <a href="/register_people"><%= getTextMessage("people_looking_for_vacancies_button") %></a>.</p>
						</div>
					</div>
					<% @republics.each_with_index do |republic, index| %>
						<div class="row well" style="margin-bottom: 5vh;">
							<div class="col-md-12 col-xs-12 col-sm-12" style="background-color: #fff;">
								<div class="row">
									<div class="col-md-3 col-md-offset-1 col-xs-12 col-sm-12" style="background-color: #fff;" align="center">
										<h2><%= republic.user.first_name %> <%= republic.user.last_name %></h2>
										<br>
										<% if republic.pictures.length > 0 %>
											<img src="<%= republic.pictures.first.path %>" class="" style="width: 100%;">
										<% end %>
										<% if !republic.user.facebook.nil? and !republic.user.facebook.empty? and !republic.user.facebook != "" %>
											<br><br>
											<a href="javascript: window.open('<%= republic.user.facebook %>')" class="btn btn-info"><i class="fa fa-facebook-square"></i> Facebook</a>
										<% end %>
									</div>
									<div class="col-md-4 col-xs-12 col-sm-12" style="background-color: #fff; padding-top: 3vh;">
										<p><label><i class="fa fa-inbox"></i> <%= getTextMessage("email") %>:</label> <%= republic.user.email %></p>
										<p><label><i class="fa fa-phone"></i> <%= getTextMessage("phone") %>:</label> <%= republic.user.phone %></p>
										<p><label><i class="fa fa-cutlery"></i> <%= getTextMessage("organization") %>:</label> <%= organization_options[republic.organization] %></p>
										<p><label><i class="fa fa-beer"></i> <%= getTextMessage("alcohol") %>:</label> <label><i class="fa fa-thumbs-<%= republic.alcohol ? "up" : "down" %>"></i></p>
										<p><label><i class="fa fa-fire"></i> <%= getTextMessage("smoking") %>:</label> <label><i class="fa fa-thumbs-<%= republic.smoking ? "up" : "down" %>"></i></p>
									</div>
									<div class="col-md-4 col-xs-12 col-sm-12" style="background-color: #fff; padding-top: 3vh;">
										<p><label><i class="fa fa-birthday-cake"></i> <%= getTextMessage("parties") %>:</label> <%= parties_options[republic.parties] %></p>
										<p><label><i class="fa fa-usd"></i> <%= getTextMessage("max_cost") %>:</label> <%= republic.cost %></p>
										<p><label><i class="fa fa-book"></i> <%= getTextMessage("lease_option") %>:</label> <%= lease_options[republic.lease] %></p>
										<p><label><i class="fa fa-cube"></i> <%= getTextMessage("pets") %>:</label> <label><i class="fa fa-thumbs-<%= republic.pets ? "up" : "down" %>"></i></p>
										<p><label><i class="fa fa-car"></i> <%= getTextMessage("parking") %>:</label> <label><i class="fa fa-thumbs-<%= republic.parking ? "up" : "down" %>"></i></p>
									</div>
								</div>
								<div class="row">
									<div class="col-md-10 col-md-offset-1 col-xs-12 col-sm-12" style="background-color: #fff; padding-top: 3vh;">
										<p class="lead" id="description_small_<%= republic.id %>"><label><i class="fa fa-user"></i> <%= getTextMessage("description") %>:</label> <%= republic.description[0,30] + "..." %> <a href="javascript: shrink(<%= republic.id %>);"><i class="fa fa-expand"></i> <%= getTextMessage("show") %></a></p>
										<p class="lead" id="description_large_<%= republic.id %>" style="display: none;"><label><i class="fa fa-user"></i> <%= getTextMessage("description") %>:</label> <%= republic.description %>  <a href="javascript: shrink(<%= republic.id %>);"><i class="fa fa-compress"></i> <%= getTextMessage("hide") %></a></p>
									</div>
								</div>
								<div class="row">
									<div class="col-md-10 col-md-offset-1 col-xs-12 col-sm-12" style="background-color: #fff; padding-top: 3vh;">
										<p class="lead pull-right"><%= getTextMessage("created_at") %>: <%= systemLanguage == "en" ? republic.created_at.strftime("%m/%d/%Y") : republic.created_at.strftime("%d/%m/%Y") %></p>
									</div>
								</div>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
		<script>
			/* scroll to page */
			$("a[data-section]").click(function(e) {
				e.preventDefault();
				var offSet = 50;
				$('html, body').animate({
					scrollTop: $("#" + $(this).data("section") + "page").offset().top - offSet
				}, 1000);
				$("li.active").toggleClass("active");
				$(this).parent().toggleClass("active");
			});
			var shrink = function (id) {
				if ($("#description_small_" + id).is(":visible")) {
		      $("#description_small_" + id).hide();
		      $("#description_large_" + id).show();
		    }
		    else {
		      $("#description_small_" + id).show();
		      $("#description_large_" + id).hide();
		    }
			};
			<% flash.each do |key, value| %>
				$( document ).ready(function() {
					$("#login").modal("show");
					alertMessage("login_message", "<%= value %>", "<%= key %>", false);
				});
	    <% end %>
		</script>
		