<% provide(:title, getTextMessage("buttom_search")) %>
		<div class="listings-frame">
			<div class="container" style="width: 100%;">
				<input type="hidden" id="university_id" value="<%= @university.id %>">
				<input type="hidden" id="university_zoom" value="<%= @university.zoom %>">
				<input type="hidden" id="university_latitude" value="<%= @university.latitude %>">
				<input type="hidden" id="university_longitude" value="<%= @university.longitude %>">
				
				<!-- <div class="row">
					<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1" align="center">
						<a id="compatibility_research_button_search" href="javascript: launchCompatibilityDialog();" class="btn btn-danger btn-lg"><i class="fa fa-star fa-spin"></i> <strong><%= getTextMessage("smarty_search") %></strong> <i class="fa fa-star fa-spin"></i></a>
					</div> 
				</div> -->
				<br>
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="row">
							<div class="col-md-12 col-md-offset-0">
								<label for="filter_cost_range"><i class="fa fa-usd"></i> <%= getTextMessage("price_range") %></label>
								<p class="text-center">
									<input type="text" id="filter_cost_range" onblur="filter_cost_range" onchange="searchAdvertiments();" readonly class="price-range">
								</p>
								<div id="slider-range"></div>
							</div>
						</div>
						<br>
						<div class="row">
							<% if systemCountry == "br" %>
								<div class="col-md-4 col-md-offset-0">
									<label for="filter_gender"><i class="fa fa-male"></i> <i class="fa fa-female"></i> <%= getTextMessage("gender") %></label>
									<select id="filter_gender" name="filter[gender]" onchange="searchAdvertiments();" class="form-control">
										<option value="-1"><%= getTextMessage("all_options") %></option>
										<% @genders.each do |k,v| %>
											<option value="<%= "#{k}" %>" <%= "#{k}" == @gender ? "selected" : "" %>><%= "#{v}" %></option>
										<% end %>
									</select>
								</div>
							<% else %>
								<div class="col-md-4 col-md-offset-0">
									<label for="filter_lease"><i class="fa fa-book"></i> <%= getTextMessage("lease_options") %></label>
									<select id="filter_lease" name="filter[lease]" onchange="searchAdvertiments();" class="form-control">
										<option value="-1"><%= getTextMessage("all_options") %></option>
										<% lease_options.each do |k,v| %>
											<option value="<%= "#{k}" %>"><%= "#{v}" %></option>
										<% end %>
									</select>
								</div>
							<% end %>
							<div class="col-md-4 col-md-offset-0">
								<label for="filter_shape"><i class="fa fa-newspaper-o"></i> <%= getTextMessage("shape") %></label>
								<select id="filter_shape" name="filter[shape]" onchange="searchAdvertiments();" class="form-control">
									<option value="-1"><%= getTextMessage("all_options") %></option>
									<% @types.each do |k,v| %>
										<option value="<%= "#{k}" %>" <%= "#{k}" == @shape ? "selected" : "" %>><%= "#{v}" %></ >
									<% end %>
								</select>
							</div>
							<div class="col-md-4 col-md-offset-0">
								<label for="filter_roommates"><i class="fa fa-users"></i> <%= getTextMessage("roommates") %></label>
								<select id="filter_roommates" name="filter[roommates]" onchange="searchAdvertiments();" class="form-control">
									<option value="0"><%= getTextMessage("any") %></option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4"><%= getTextMessage("three_or_more") %></option>
								</select>
							</div>
						</div>
						
						<br>
						<a href="javascript: toggleAdvancedOptions();" class="text-danger pull-right"><b><%= getTextMessage("advanced_options") %></b></a>
						<br>
						<div id="advanced_options" style="display: none;">
							<br>
							<div class="row">
								<div class="col-md-4 col-md-offset-0">
									<label for="filter_bathrooms"><i class="fa fa-recycle"></i> <%= getTextMessage("bathrooms") %></label>
									<select id="filter_bathrooms" name="filter[bathrooms]" onchange="searchAdvertiments();" class="form-control" value="" placeholder="<%= getTextMessage("bathrooms") %> (<%= getTextMessage("number") %>)">
										<option value="-1"></option>
										<option value="1">+1</option>
										<option value="2">+2</option>
										<option value="3">+3</option>
									</select>
								</div>
								
								<div class="col-md-4 col-md-offset-0">
									<label for="filter_pets"><i class="fa fa-cube"></i> <%= getTextMessage("pets") %></label>
									<select id="filter_pets" name="filter[pets]" onchange="searchAdvertiments();" class="form-control">
										<option value="-1" selected></option>
										<option value="false"><%= getTextMessage("no") %></option>
										<option value="true"><%= getTextMessage("yes") %></option>
									</select>
								</div>
								
								<div class="col-md-4 col-md-offset-0">
									<label for="filter_parking"><i class="fa fa-car"></i> <%= getTextMessage("parking") %></label>
									<select id="filter_parking" name="filter[parking]" onchange="searchAdvertiments();" class="form-control">
										<option value="-1" selected></option>
										<option value="false"><%= getTextMessage("no") %></option>
										<option value="true"><%= getTextMessage("yes") %></option>
									</select>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-4 col-md-offset-0">
									<label for="filter_heating"><i class="fa fa-tachometer"></i> <%= getTextMessage("heating") %></label>
									<select id="filter_heating" name="filter[heating]" onchange="searchAdvertiments();" class="form-control">
										<option value="-1" selected></option>
										<option value="false"><%= getTextMessage("no") %></option>
										<option value="true"><%= getTextMessage("yes") %></option>
									</select>
								</div>
								
								
								<div class="col-md-4 col-md-offset-0">
									<label for="filter_smoking"><i class="fa fa-fire"></i> <%= getTextMessage("smoking") %></label>
									<select id="filter_smoking" name="filter[smoking]" onchange="searchAdvertiments();" class="form-control">
										<option value="-1" selected></option>
										<option value="false"><%= getTextMessage("no") %></option>
										<option value="true"><%= getTextMessage("yes") %></option>
									</select>
								</div>
								
								<div class="col-md-4 col-md-offset-0">
									<label for="filter_alcohol"><i class="fa fa-beer"></i> <%= getTextMessage("alcohol") %></label>
									<select id="filter_alcohol" name="filter[alcohol]" onchange="searchAdvertiments();" class="form-control">
										<option value="-1" selected></option>
										<option value="false"><%= getTextMessage("no") %></option>
										<option value="true"><%= getTextMessage("yes") %></option>
									</select>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-4 col-md-offset-0">
									<label for="filter_organization"><i class="fa fa-cutlery"></i> <%= getTextMessage("organization") %></label>
									<select id="filter_organization" name="filter[organization]" onchange="searchAdvertiments();" class="form-control">
										<option value="-1"><%= getTextMessage("all_options") %></option>
										<% organization_options.each do |k,v| %>
											<option value="<%= "#{k}" %>"><%= "#{v}" %></option>
										<% end %>
									</select>
								</div>
								<div class="col-md-4 col-md-offset-0">
									<label for="filter_parties"><i class="fa fa-birthday-cake"></i> <%= getTextMessage("parties") %></label>
									<select id="filter_parties" name="filter[parties]" onchange="searchAdvertiments();" class="form-control">
										<option value="-1"><%= getTextMessage("all_options") %></option>
										<% parties_options.each do |k,v| %>
											<option value="<%= "#{k}" %>"><%= "#{v}" %></option>
										<% end %>
									</select>
								</div>
								<% if systemCountry != "br" %>
									<div class="col-md-4 col-md-offset-0">
										<label for="filter_stuff"><i class="fa fa-clock-o"></i> <%= getTextMessage("stuff") %></label>
										<select id="filter_stuff" name="filter[stuff]" onchange="searchAdvertiments();" class="form-control">
											<option value="-1"><%= getTextMessage("all_options") %></option>
											<% stuff_options.each do |k,v| %>
												<option value="<%= "#{k}" %>"><%= "#{v}" %></option>
											<% end %>
										</select>
									</div>
								<% else %>
									<input type="hidden" id="filter_stuff" name="filter[stuff]" value="-1">
									<div class="col-md-4 col-md-offset-0">
										<label for="filter_lease"><i class="fa fa-book"></i> <%= getTextMessage("lease_options") %></label>
										<select id="filter_lease" name="filter[lease]" onchange="searchAdvertiments();" class="form-control">
											<option value="-1"><%= getTextMessage("all_options") %></option>
											<% lease_options.each do |k,v| %>
												<option value="<%= "#{k}" %>"><%= "#{v}" %></option>
											<% end %>
										</select>
									</div>
								<% end %>
							</div>
							<% if systemCountry != "br" %>
								<br>
								<div class="row">
									<div class="col-md-4 col-md-offset-0">
										<label for="filter_gender"><i class="fa fa-male"></i> <i class="fa fa-female"></i> <%= getTextMessage("gender") %></label>
										<select id="filter_gender" name="filter[gender]" onchange="searchAdvertiments();" class="form-control">
											<option value="-1"><%= getTextMessage("all_options") %></option>
											<% @genders.each do |k,v| %>
												<option value="<%= "#{k}" %>" <%= "#{k}" == @gender ? "selected" : "" %>><%= "#{v}" %></option>
											<% end %>
										</select>
									</div>	
								</div>	
							<% end %>
						</div>
					</div>
				</div>
				
				
				
				<div class="previewcontainer">
					<div class="row">
						<div class="col-md-12 col-md-offset-0" id="advertises_preview"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="maps-frame">
			<div id="map-canvas" style="margin: 0px 0px 0px 0px; height: 100%;"></div>
		</div>
		
		<div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="detail_title"></h4>
					</div>
						<div class="modal-body">
							<div id="detail_message_messag"></div>
							<div id="detail_body"></div>
						</div>
						<div class="modal-footer">
							<div id="detail_footer_text" class="pull-left" style="padding-top: 8px;"></div>
							<button type="reset" class="btn btn-default" data-dismiss="modal"><i class="fa fa-remove"></i> <%= getTextMessage("close") %></button>
						</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
		<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
		<script>
			$(function() {
				$( "#slider-range" ).slider({
					range: true,
					min: 0,
					max: 3200,
					values: [ 0, <%= @max_cost %> ],
					slide: function( event, ui ) {
						$( "#filter_cost_range" ).val( "<%= getTextMessage("currency") %> " + ui.values[ 0 ] + " - <%= getTextMessage("currency") %> " + ui.values[ 1 ] );
					},
					stop: function(event, ui) {
						searchAdvertiments();
					}  
				});
				$( "#filter_cost_range" ).val( "<%= getTextMessage("currency") %> " + $( "#slider-range" ).slider( "values", 0 ) +
					" - <%= getTextMessage("currency") %> " + $( "#slider-range" ).slider( "values", 1 ) );
			});
			$( document ).ready(function() {
				loadScript();
				setTimeout(function() {
					searchAdvertiments();
				}, 1000);
			});
			
			var toggleAdvancedOptions = function() {
				if ($("#advanced_options").is(":visible")) {
					$("#advanced_options").hide();
				}
				else {
					$("#advanced_options").show();
				}
			};
			
			$(function () {
			  $('[data-toggle="tooltip"]').tooltip()
			})
		</script>