<!DOCTYPE html>
<html lang="<%= getTextMessage("lang") %>">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			Thiago Melo - Bac. Física | Desenvolvedor
		</title>
		<link rel="icon" type="image/png" href="assets/img/favicon_<%= getTextMessage("mascot") %>.png?v=<%= getTextMessage("country") %>4">
		<!-- Bootstrap -->
		<link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<!-- Google Analytics -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-<%= getTextMessage("analytics_code") %>', 'auto');
			ga('send', 'pageview');
		</script>
		<!-- End Google Analytics -->
	</head>
	<!-- <body data-spy="scroll" data-target="#myScrollspy"> -->
	<body>
		<div class="container">
		  <div class="row">
		    <div class="col-md-12" align="center">
		      <h1 class="text-primary">Thiago <b>Melo</b></h1>
		      <h2 class="text-info" >Bac. Física | Desenvolvedor</h2>
		    </div>
		  </div>
		  <div class="row">
		    <div class="col-md-8 col-xs-8 col-md-offset-2 col-xs-offset-2" align="center">
		      <hr>
		    </div>
		  </div>
		  <div class="row">
		    <div class="col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1">
		      <div class="row">
		        <div class="col-md-4">
		          <h3>Contato</h3>
		        </div>
		        <div class="col-md-8">
		          <br>
		          <p class="lead"><label><i class="fa fa-envelope"></i> Email: </label> thiago.lc.melo@gmail.com</p>
		          <p class="lead"><label><i class="fa fa-phone"></i> Telefone: </label> +1 (707) 296-3723</p>
		          <p class="lead"><label><i class="fa fa-skype"></i> Skype: </label> thiago.lc.melo</p>
		        </div>
		      </div>
		      <hr>
		      <div class="row">
		        <div class="col-md-4">
		          <h3>Formação</h3>
		        </div>
		        <div class="col-md-8">
		          <br>
		          <blockquote>
                <p><a href="javascript: window.open('http://www5.usp.br/');">Universidade de São Paulo - USP</a></p>
                <footer>Bacharel em Física (2009-2013)</footer>
              </blockquote>
              <blockquote>
                <p><a href="javascript: window.open('http://humboldt.edu/');">Humboldt State University - HSU | CA, USA</a></p>
                <footer>Intercâmbio acadêmico (2014-2015)</footer>
              </blockquote>
		        </div>
		      </div>
		      <br>
		      <div class="row">
		        <div class="col-md-4">
		          <h3>Experiência</h3>
		        </div>
		        <div class="col-md-8">
		          <br>
		          <blockquote>
                <p>HSBC Asset Management</p>
                <footer>Estagiário (2013-2014)</footer>
              </blockquote>
              <blockquote>
                <p>Banco Itaú</p>
                <footer>Estagiário (2012-2013)</footer>
              </blockquote>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
	</body>
</html>
