<!DOCTYPE html>
<html lang="<%= getTextMessage("lang") %>">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			Thiago Melo - B.S. Physics | Developer
		</title>
		<link rel="icon" type="image/png" href="assets/img/favicon_<%= getTextMessage("mascot") %>.png?v=<%= getTextMessage("country") %>4">
		<!-- Bootstrap -->
		<link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<!-- Google Analytics -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-<%= getTextMessage("analytics_code") %>', 'auto');
			ga('send', 'pageview');
		</script>
		<!-- End Google Analytics -->
	</head>
	<!-- <body data-spy="scroll" data-target="#myScrollspy"> -->
	<body>
	  <%= javascript_tag do %>
			window.getTextMessage = {};
			<% textMessages.each do |key, value| %>
				window.getTextMessage['<%= j key %>'] = '<%= j getTextMessage key %>';
			<% end %>
		<% end %>
		<div class="container" style="padding-top: 30px; padding-bottom: 50px;">
		  <div class="row">
		    <div class="col-md-12" align="center">
		      <img src="resume/thiago_melo.jpg" alt="Thiago Melo" class="img-circle">
		      <h1 class="text-primary">Thiago <b>Melo</b></h1>
		      <h2 class="text-info" >B.S. Physics | Full Stack Developer</h2>
		      <br>
		      <p>
		        <a href="javascript: window.open('http://br.linkedin.com/pub/thiago-melo/37/a21/14b');" class="btn btn-primary"><i class="fa fa-linkedin"></i> Linkedin</a>
	          <a href="javascript: window.open('https://bitbucket.org/thiago-melo');" class="btn btn-info"><i class="fa fa-bitbucket"></i> Bitbucket</a>
	          <a href="javascript: window.open('http://stackoverflow.com/users/833913/thiago-melo');" class="btn btn-primary"><i class="fa fa-stack-overflow"></i> stackover<b>flow</b></a>
	          <a href="javascript: window.open('https://www.facebook.com/thiago.l.c.melo');" class="btn btn-info"><i class="fa fa-facebook-official"></i> Facebook</a>
		      </p>
		    </div>
		  </div>
		  <div class="row">
		    <div class="col-md-8 col-xs-8 col-md-offset-2 col-xs-offset-2" align="center">
		      <hr>
		    </div>
		  </div>
		  <div class="row">
		    <div class="col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1">
		      <div class="row">
		        <div class="col-md-4">
		          <h3>Contact</h3>
		          <br>
		          <p class="lead"><a href="#" data-toggle="modal" data-target="#contact" class="btn btn-primary"><i class="fa fa-envelope"></i> Send a message</a></p>
		        </div>
		        <div class="col-md-8">
		          <br>
		          <p class="lead"><label><i class="fa fa-at"></i> Email: </label> thiago.lc.melo@gmail.com</p>
		          <p class="lead"><label><i class="fa fa-phone"></i> Phone: </label> +1 (707) 296-3723</p>
		          <p class="lead"><label><i class="fa fa-skype"></i> Skype: </label> thiago.lc.melo</p>
		        </div>
		      </div>
		      <hr>
		      <div class="row">
		        <div class="col-md-4">
		          <h3>Academic Background</h3>
		        </div>
		        <div class="col-md-8">
		          <br>
		          
              <blockquote>
                <p><a href="javascript: window.open('http://humboldt.edu/');">Humboldt State University - HSU | CA, USA</a></p>
                <footer>Academic Exchange (2014-2015)</footer>
                <footer>Scholarship: <a href="javascript: window.open('http://www.cienciasemfronteiras.gov.br/web/csf-eng/');">Science Without Borders</a></footer>
              </blockquote>
              
              <blockquote>
                <p><a href="javascript: window.open('http://www5.usp.br/');">Universidade de São Paulo - USP | SP, Brazil</a></p>
                <footer>B.S. Physics (2009-2013-pending)</footer>
                <footer>Research: <a href="javascript: window.open('resume/thiago_melo_research.pdf');">Electronics States Calculation in Semiconductor Structures (pt-br)</a></footer>
                <footer>Advisor: <a href="javascript: window.open('http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4797109P5');">Euzi Conceição</a> | Sponsor: <a href="javascript: window.open('http://www.cnpq.br/web/guest/geral');">CnPQ</a></footer>
              </blockquote>
		        </div>
		      </div>
		      <hr>
		      <div class="row">
		        <div class="col-md-4">
		          <h3>Projects</h3>
		        </div>
		        <div class="col-md-8">
		          <br>
              <blockquote>
                <p><a href="javascript: window.open('http://uniowl.org/');"><strong>UniOwl</strong> - Find and List College Rooms</a></p>
                <footer>Partner and Full Stack Developer</footer>
                <footer><strong>Keywords: <a href="javascript: window.open('http://rubyonrails.org/');">Ruby on Rails</a>, <a href="javascript: window.open('http://jquery.com/');">jQuery</a>, <a href="javascript: window.open('http://getbootstrap.com/');">Twitter Bootstrap</a>, <a href="javascript: window.open('http://aws.amazon.com/');">AWS</a>.</strong></footer>
              </blockquote>
              <blockquote>
                <p><a href="javascript: window.open('http://unicoruja.com.br/');"><strong>UniCoruja</strong> - Anuncie e Encontre quartos e vagas em repúblicas</a></p>
                <footer>Partner and Full Stack Developer</footer>
                <footer><strong>Keywords: <a href="javascript: window.open('http://rubyonrails.org/');">Ruby on Rails</a>, <a href="javascript: window.open('http://jquery.com/');">jQuery</a>, <a href="javascript: window.open('http://getbootstrap.com/');">Twitter Bootstrap</a>, <a href="javascript: window.open('http://aws.amazon.com/');">AWS</a>.</strong></footer>
              </blockquote>
              
              <blockquote>
                <p><a href="javascript: window.open('http://careforme.co/');"><strong>CareForMe</strong> - Find Pregnancy Massage Therapists and Lactation Consultants in your area</a></p>
                <footer>Partner and Full Stack Developer</footer>
                <footer><strong>Keywords: <a href="javascript: window.open('http://rubyonrails.org/');">Ruby on Rails</a>, <a href="javascript: window.open('http://jquery.com/');">jQuery</a>, <a href="javascript: window.open('http://getbootstrap.com/');">Twitter Bootstrap</a>, <a href="javascript: window.open('http://aws.amazon.com/');">AWS</a>.</strong></footer>
              </blockquote>
              
              <blockquote>
                <p><a href="javascript: window.open('http://interactivetrailsmaps.com/');"><strong>InteractiveTrailsMaps</strong></a></p>
                <footer>Cooperator</footer>
                <footer><strong>Keywords: <a href="javascript: window.open('http://php.net/');">PHP</a>, <a href="javascript: window.open('http://jquery.com/');">jQuery</a>, <a href="javascript: window.open('http://getbootstrap.com/');">Twitter Bootstrap</a>, <a href="javascript: window.open('http://aws.amazon.com/');">AWS</a>.</strong></footer>
              </blockquote>
		        </div>
		      </div>
		      <hr>
		      <div class="row">
		        <div class="col-md-4">
		          <h3>Experience</h3>
		        </div>
		        <div class="col-md-8">
		          <br>
		          <blockquote>
                <p><a href="javascript: window.open('http://www.global.assetmanagement.hsbc.com/')">HSBC Asset Management - British Bank</a></p>
                <footer>Fixed Income Intern (2013-2014)</footer>
                <footer>Development of automatic spreadsheets using Excel, VBA and Access.</footer>
                <footer><strong>Keywords: Financial Market, Fixed Income, Derivatives, VBA.</strong></footer>
              </blockquote>
              <blockquote>
                <p><a href="javascript: window.open('https://www.itau.com.br/')">Itaú Unibanco - Brazilian Bank</a></p>
                <footer>Credit Risk Research Intern (2011-2012)</footer>
                <footer>Development of automatic spreadsheets using Excel, VBA.</footer>
                <footer><strong>Keywords: Process Mapping, Sharepoint, VBA.</strong></footer>
              </blockquote>
              <blockquote>
                <p><a href="javascript: window.open('http://www.luz-ef.com/')">Luz Engenharia Financeira - Risk Software House</a></p>
                <footer>Development Intern (2011-2011)</footer>
                <footer>System development using Delphi and Oracle.</footer>
                <footer><strong>Keywords: Delphi, Scrum, TDD.</strong></footer>
              </blockquote>
              <blockquote>
                <p><a href="javascript: window.open('http://www.lote45.com.br/BR/index.php')">Lote45 Participações - Risk Software House</a></p>
                <footer>Systems Developer (2010-2011)</footer>
                <footer>System development using C# and SQL Server.</footer>
                <footer><strong>Keywords: C#, Financial Market, Bloomberg API.</strong></footer>
              </blockquote>
              <blockquote>
                <p><a href="javascript: window.open('http://webcenter.com.br/')">Webcenter Sistemas - Software House and Internet Provider</a></p>
                <footer>Systems Developer (2009-2010)</footer>
                <footer>Full stack developer, using PHP, JavaScript (jQuery) and MySQL.</footer>
                <footer><strong>Keywords: PHP, JavaScript, jQuery, MySQL, Linux.</strong></footer>
              </blockquote>
		        </div>
		      </div>
		      <hr>
		      <div class="row">
		        <div class="col-md-4">
		          <h3>Thanks</h3>
		        </div>
		        <div class="col-md-8">
		          <br>
		          <a href="javascript: window.open('http://fortawesome.github.io/Font-Awesome/');" class="btn btn-primary"><i class="fa fa-flag"></i> Font Awesome</a>
		          <a href="javascript: window.open('https://c9.io/');" class="btn btn-info"><i class="fa fa-cloud"></i> Cloud9</a>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
		
		<div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="contact_title">Contact</h4>
					</div>
					<div class="modal-body contactpage" id="contactpage">
						<div id="contact_message"></div>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 contacttext text-center">
								<p class="lead" id="contact_subtitle">I am glad about your intention in contact me <i class="fa fa-smile-o"></i></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-5 col-md-offset-1">
								<label for="message_name">Name</label>
								<input id="message_name" name="message_name" type="text" class="form-control" placeholder="Name">
							</div>
							<div class="col-md-5 col-md-offset-0">
								<label for="message_email">Email</label>
								<input id="message_email" name="message_email" type="text" class="form-control" placeholder="Email">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-10 col-md-offset-1">
								<label for="message_subject">Subject</label>
								<input id="message_subject" name="message_subject" type="text" class="form-control" placeholder="Subject">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-10 col-md-offset-1">
								<label for="message_body">Message</label>
								<textarea id="message_body" name="message_body" class="form-control" placeholder="Message" rows="6"></textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="reset" class="btn btn-default" data-dismiss="modal"><i class="fa fa-remove"></i> Cancel</button>
						<a href="javascript: sendMessageThiago();" class="btn btn-success"><i class="fa fa-check"></i> Send</a>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</body>
	<script>
	  var sendMessageThiago = function() {
    	if (validateMessage()) {
    		$.ajax({
    			type: 'GET',
    			url: '/send_message_thiago',
    			dataType: 'json',
    			data: {
    				'message[name]': $("#message_name").val(),
    				'message[email]': $("#message_email").val(),
    				'message[subject]': $("#message_subject").val(),
    				'message[body]': $("#message_body").val()
    			},
    			success: function(data) {
    				if (data.status == "success") {
    					$("#message_name").val("");
    					$("#message_email").val("");
    					$("#message_subject").val("");
    					$("#message_body").val("");
    					alertMessage("contact_message", "Thanks for cantact me, I'll contact you ASAP :) ", "success", false);
    				}
    				else if(data.status == "fail") {
    					alertMessage("contact_message", "Sorry, something went wrong, please don't give up: thiago.lc.melo@gmail.com :)", "warning", false);
    				}
    			},
    			error: function(data) {
    				console.log("error");
    				console.log(data);
    				alertMessage("contact_message", "Sorry, something went wrong, please don't give up: thiago.lc.melo@gmail.com :)", "danger", false);
    			}
    		});
    	}
    };
	</script>
</html>
