<% provide(:title, "Universities") %>
<div class="container" style="padding-top: 90px; padding-bottom: 90px;">
  <div id="university_alert_message"></div>
  <%= csrf_meta_tag %>
  <br><br>
  <div class="row">
    <div class="col-md-6" id="universities_list">
      <label for="university_id">Universities:</label>
      <select class="form-control" name="university_id" id="university_id" onchange="viewUniversity();">
        <option value="0" selected>New</option>
        <% @universities.each_with_index do |university, index| %>
          <option value="<%= university.id %>"><%= university.name %></option>
        <% end %>
      </select>
    </div>
  </div>
  
  <h2>Universities Register</h2>
  
  <div class="row">
    <div class="col-md-6">
      <label for="university_name">Name:</label>
      <input type="text" name="university_name" id="university_name" class="form-control" placeholder="Name">
    </div>
    <div class="col-md-6">
      <label for="university_acronym">Acronym:</label>
      <input type="text" name="university_acronym" id="university_acronym" class="form-control" placeholder="Acronym">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <label for="university_latitude">Latitude:</label>
      <input type="text" name="university_latitude" id="university_latitude" class="form-control" placeholder="Latitude">
    </div>
    <div class="col-md-6">
      <label for="university_longitude">Longitude:</label>
      <input type="text" name="university_longitude" id="university_longitude" class="form-control" placeholder="Longitude">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <label for="university_zoom">Zoom:</label>
      <input type="text" name="university_zoom" id="university_zoom" class="form-control" placeholder="zoom">
    </div>
    <div class="col-md-6">
      <label for="university_active">Active:</label>
      <input type="checkbox" name="university_active" id="university_active" class="form-control" checked>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4" align="center">
      <div class="input-group">
        <span class="input-group-btn">
          <div class="fileUpload btn btn-primary">
            <span id="logo_upload_button"><i class="fa fa-cube"></i> Upload Logo</span>
            <input type="file" accept="image/*" class="upload" id="university_logo" onchange="loadUniversityPreview('logo');">
          </div>
        </span>
      </div>
      <br><br>
      <div id="university_logo_preview"></div>
    </div>
    <div class="col-md-4" align="center">
      <div class="input-group">
        <span class="input-group-btn">
          <div class="fileUpload btn btn-primary">
            <span id="small_logo_upload_button"><i class="fa fa-cube"></i> Upload Small Logo</span>
            <input type="file" accept="image/*" class="upload" id="university_small_logo" onchange="loadUniversityPreview('small_logo');">
          </div>
        </span>
      </div>
      <br><br>
      <div id="university_small_logo_preview"></div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12" align="right">
      <a href="javascript: cleanUniversityScreen();" class="btn btn-default"><i class="fa fa-remove"></i> Cancel</a>
      <a href="javascript: saveUniversity();" class="btn btn-primary"><i class="fa fa-save"></i> Save</a>
    </div>
  </div>
</div>

<script>
  var loadUniversityPreview = function(type) {
    var input_picture = document.getElementById('university_' + type).files;
    var reader = new FileReader();
  	reader.onload = function(e) {
			var picture_loaded = "<img src=\"" + e.target.result + "\" alt=\"\" class=\"img-thumbnail\">";
			$("#university_" + type + "_preview").html(picture_loaded);
    };
    reader.readAsDataURL(input_picture[0]);
    $("#university_" + type + "_preview").html("<i class=\"fa fa-spinner fa-spin fa-5x\"></i>");
  };
  
  var saveUniversity = function() {
    if (validSaveUniversity()) {
      
      var input_logo = document.getElementById('university_logo').files;
      var input_small_logo = document.getElementById('university_small_logo').files;
    	var formData = new FormData();
  		var formTarget = "";
  		if ($("#university_id").val() != "0") {
  		  formData.append("university_id", $("#university_id").val());
  		  formTarget = "/update_university";
  		}
  		else {
  		  if (!!input_logo[0].type.match(/image.*/) && !!input_small_logo[0].type.match(/image.*/)) {
    		  formTarget = "/new_university";
    		  formData.append("university_logo", input_logo[0]);
      		formData.append("university_small_logo", input_small_logo[0]);
  		  }
  		  else {
  		    return;
  		  }
  		}
  		formData.append("university[name]", $("#university_name").val());
  		formData.append("university[acronym]", $("#university_acronym").val());
  		formData.append("university[latitude]", $("#university_latitude").val());
  		formData.append("university[longitude]", $("#university_longitude").val());
  		formData.append("university[zoom]", $("#university_zoom").val());
  		formData.append("university[active]", ($("#university_active").prop("checked") ? "true" : "false"));
  		
  		$.ajax({
  			url: formTarget,
  			type: 'POST',
  			data: formData,
  			async: false,
  			cache: false,
  			contentType: false,
  			processData: false,
  			success: function(data) {
  				if (data.status == "success") {
  					alertMessage("university_alert_message", "Success!", "success", false);
  					var content = "";
  					if ($("#university_id").val() != "0") {
        		  
        		}
        		else {
        		  content += "<label for=\"university_id\">Universities:</label>";
              content += "<select class=\"form-control\" name=\"university_id\" id=\"university_id\" onchange=\"viewUniversity();\">";
              content += "  <option value=\"0\" selected>New</option>";
              $.each(data.universities, function( index, university ) {
                content += "  <option value=\"" + university.id + "\">" + university.name + "</option>";
              });
              content += "</select>";
              $("#university_list").html(content);
        		}
  				}
  				else if (data.status == "fail") {
  					alertMessage("university_alert_message", "Try again.", "warning", false);
  				}
  			},
  			error: function(data) {
  				console.log(data);
  				alertMessage("university_alert_message", "Error!", "danger", false);
  			}
  		});
    }
  };
  
  var viewUniversity = function() {
    var university_id = $("#university_id").val();
    if (university_id == "0") {
      clearUniversityForm();
    }
    else {
      $.ajax({
    		type: 'GET',
    		url: '/university_info',
    		dataType: "json",
    		data: { 
    			'university_id': university_id
    		},
    		success: function(data) {
    			if (data.status == "success") {
    			  $("#university_name").val(data.university.name);
    			  $("#university_acronym").val(data.university.acronym);
    			  $("#university_latitude").val(data.university.latitude);
    			  $("#university_longitude").val(data.university.longitude);
    			  $("#university_zoom").val(data.university.zoom);
            $("#university_active").prop("checked", data.partner.active);
    			}
    			else if (data.status == "fail") {
    				alertMessage("university_alert_message", "Try again.", "warning", false);
    			}
    		},
    		error: function(data) {
    			console.log(data);
    			alertMessage("university_alert_message", "Error.", "danger", false);
    		}
    	});
    }
  };
  
  var cleanUniversityScreen = function() {
    $("#university_name").val("");
    $("#university_acronym").val("");
    $("#university_latitude").val("");
    $("#university_longitude").val("");
    $("#university_zoom").val("");
    $("#university_active").prop("checked", true);
    $("#university_logo").val("");
    $("#university_small_logo").val("");
  };
  
  var validSaveUniversity = function () {
    if (!validateNotEmpty($("#university_name").val())) {
      alertMessage("university_alert_message", "Fill the university name.", "warning", false);
      $("#university_name").focus();
      return false;
    }
    if (!validateNotEmpty($("#university_acronym").val())) {
      alertMessage("university_alert_message", "Fill the university acronym.", "warning", false);
      $("#university_acronym").focus();
      return false;
    }
    if (!validateNotEmpty($("#university_latitude").val())) {
      alertMessage("university_alert_message", "Fill the university latitude.", "warning", false);
      $("#university_latitude").focus();
      return false;
    }
    if (!validateNotEmpty($("#university_longitude").val())) {
      alertMessage("university_alert_message", "Fill the university longitude.", "warning", false);
      $("#university_longitude").focus();
      return false;
    }
    if (!validateNotEmpty($("#university_zoom").val())) {
      alertMessage("university_alert_message", "Fill the university zoom.", "warning", false);
      $("#university_zoom").focus();
      return false;
    }
    if ($("#university_id").val() == "0") {
      if (!validateNotEmpty($("#university_logo").val())) {
        alertMessage("university_alert_message", "Fill the university logo.", "warning", false);
        return false;
      }
      if (!validateNotEmpty($("#university_small_logo").val())) {
        alertMessage("university_alert_message", "Fill the university small logo.", "warning", false);
        return false;
      }
    }
	  return true;
  };
</script>
