#homepage {
  padding-top: 70px;
  padding-bottom: 50px;
}

#pictures_preview {
  img {
    max-width: 100%;
  }
}

.preview-image {
  max-width: 100%;
}

#republic_content {
  margin-top: 20px;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin-top: 30px;
	.upload {
  	position: absolute;
  	top: 0;
  	right: 0;  
  	margin: 0;
  	padding: 0;
  	font-size: 20px;
  	cursor: pointer;
  	opacity: 0;
  	filter: alpha(opacity=0);
  }
}

.upload_box {
    margin-top: 20px;
}

.preview-image-block {
  margin-bottom: 20px;
}