/* sections */

/* first page - begin */

@font-face {
  font-family: 'Folktale';
  src: image-url('Folktale.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.modal {
	overflow: auto;
}


#firstpage {
	height: 80vh;
	.mainheader {
		padding-top: 75px;
		border-bottom: 2px solid #fff;
		h1 {
	  	color: #fff;
	  	font-size: 400%;
	  }
	}
	.subheader {
		padding-top: 10vh;
		color: #fff;
		margin-bottom: 1vh;
		margin-top: 2vh;
	}
	
	.subheader-text {
		padding-top: 8vh;
		color: #fff;
		margin-bottom: 1vh;
		margin-top: 2vh;
	}
	
	.search_bar {
		margin-bottom: 5vh;
		background-color: rgba(255, 255, 255, 0.8);
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	.button_bar {
		padding-top: 10vh;
		margin-bottom: 5vh;
	}
}

.facebook-bottom {
	height: 20vh;
	padding-top: 5vh;
}

.mainbottom {
	padding-top: 5vh;
	img {
		width: 80%;
	}
}

.subbottom {
	padding-top: 5vh;
	color: #fff;
	a {
		font-weight: bolder;
		color: #fff;
	}
}

.mainfooter {
	border-top: 2px solid #fff;
	h1 {
  	color: #fff;
  	font-size: 200%;
  }
  p {
  	color: #fff;
  	font-size: 200%;
  }
}

.overlay:after {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAHUlEQVQIW2NkYGD4D8SM6DRIAAQwJDFUwhRRUQcALRkSBISGlPAAAAAASUVORK5CYII=") repeat top left;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	
	filter:alpha(opacity=40);
}

#how-stuff-works {
	background-color: #EFEFEF;
	padding-top: 10vh;
	padding-bottom: 10vh;
	hr {
		display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0;
	}
}

#how-stuff-works-student {
	background-color: #fff;
	padding-top: 10vh;
	padding-bottom: 10vh;
	hr {
		display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0;
	}
}

/* first page - end */


/*----------------------------------------------*/
/* about page - begin */

#aboutpage {
	height: 100vh;
	background-color: #fff;
	.abouttop {
		padding-top: 5vh;
		height: 20vh;
		.aboutheader {
			border-bottom: 2px solid #e32a25;
		}
	}
	.aboutbottom {
		height: 70vh;
	}
	
	.well-wrapper {
		padding: 5px 5px 5px 5px !important;
	}
}

/* about page - end */
/*----------------------------------------------*/
/* contact page - begin */

.contactpage {
	background-color: #4B5467;
	background-repeat: no-repeat;
	background-position:50% 50%;
	background-position:50% 50%9 !important;
	color: #fff;
	background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  
  label {
		font-size: 150%;
	}
}

.contactheader {
	border-bottom: 2px solid #fff;
	margin-bottom: 2%;
}

.contacttext p {
	margin-top: 2%;
	margin-bottom: 5%;
	color: #fff;
}

/* contact page - end */
/*----------------------------------------------*/
/* footer page - begin */

.footer {
	padding-top: 15px;
	background-color: #EEE;
	p{
	  a {
    	font-weight: bold;
    	text-decoration: none;
    	&:hover {
      	text-decoration: underline;
      }
    }
	} 
}

/* footer page - end */
/*----------------------------------------------*/


/* miscellaneous */

#main_navbar {
	/*margin-top: 10px;*/
}

html, body{
  height:100%;
}

.top-5 {
	margin-top: 5%;
}

.top-15 {
	margin-top: 10%;
}

* {
  /*
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  
  font-family: 'Roboto', sans-serif;
  */
  font-family: 'Open Sans', sans-serif;
}

#teampage {
	padding-top: 100px;
}


/*
.btn-primary {
	background-color: #ff5100;
	border-color: #d94500;
	&:hover {
		background-color: #e04700;
		border-color: #d94500;
	}
}


.active {
	background-color: #e04700;
	border-color: #d94500;
}


.btn-success {
	background-color: #47bf37;
	border-color: #409e01;
	&:hover {
		border-color: #409e01;
		background-color: #409e01;
	}
}

.btn-info {
	background-color: #4B5467;
	border-color: #2c3d5b;
	&:hover {
		border-color: #2c3d5b;
		background-color: #2c3d5b;
	}
}
*/

/*! jQuery UI - v1.11.2 - 2014-10-16
* http://jqueryui.com
* Includes: core.css, accordion.css, autocomplete.css, button.css, datepicker.css, dialog.css, draggable.css, menu.css, progressbar.css, resizable.css, selectable.css, selectmenu.css, slider.css, sortable.css, spinner.css, tabs.css, tooltip.css, theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Verdana%2CArial%2Csans-serif&fwDefault=normal&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=cccccc&bgTextureHeader=highlight_soft&bgImgOpacityHeader=75&borderColorHeader=aaaaaa&fcHeader=222222&iconColorHeader=222222&bgColorContent=ffffff&bgTextureContent=flat&bgImgOpacityContent=75&borderColorContent=aaaaaa&fcContent=222222&iconColorContent=222222&bgColorDefault=e6e6e6&bgTextureDefault=glass&bgImgOpacityDefault=75&borderColorDefault=d3d3d3&fcDefault=555555&iconColorDefault=888888&bgColorHover=dadada&bgTextureHover=glass&bgImgOpacityHover=75&borderColorHover=999999&fcHover=212121&iconColorHover=454545&bgColorActive=ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=aaaaaa&fcActive=212121&iconColorActive=454545&bgColorHighlight=fbf9ee&bgTextureHighlight=glass&bgImgOpacityHighlight=55&borderColorHighlight=fcefa1&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=fef1ec&bgTextureError=glass&bgImgOpacityError=95&borderColorError=cd0a0a&fcError=cd0a0a&iconColorError=cd0a0a&bgColorOverlay=aaaaaa&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=aaaaaa&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
* Copyright 2014 jQuery Foundation and other contributors; Licensed MIT */

/* Layout helpers
----------------------------------*/

.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.ui-slider-horizontal {
	height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-slider-vertical {
	width: .8em;
	height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}
.ui-sortable-handle {
	-ms-touch-action: none;
	touch-action: none;
}

/* Component containers
----------------------------------*/
.ui-widget {
	font-family: Verdana,Arial,sans-serif;
	font-size: 1.1em;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Verdana,Arial,sans-serif;
	font-size: 1em;
}
.ui-widget-content {
	border: 1px solid #aaaaaa;
	color: #000;
}
.ui-widget-content a {
	color: #000;
}
.ui-widget-header {
	border: 1px solid #aaaaaa;
	background: #cccccc;
	color: #000;
	font-weight: bold;
}
.ui-widget-header a {
	color: #000;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #d3d3d3;
	background: #e6e6e6;
	font-weight: normal;
	color: #555555;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #555555;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #999999;
	background: #dadada;
	font-weight: normal;
	color: #212121;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
	color: #212121;
	text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #aaaaaa;
	background: #ffffff url("images/ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x;
	font-weight: normal;
	color: #212121;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #212121;
	text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #fcefa1;
	background: #fbf9ee url("images/ui-bg_glass_55_fbf9ee_1x400.png") 50% 50% repeat-x;
	color: #363636;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
	color: #363636;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
	border: 1px solid #cd0a0a;
	background: #fef1ec url("images/ui-bg_glass_95_fef1ec_1x400.png") 50% 50% repeat-x;
	color: #cd0a0a;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
	color: #cd0a0a;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
	color: #cd0a0a;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
	font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter:Alpha(Opacity=70); /* support: IE8 */
	font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter:Alpha(Opacity=35); /* support: IE8 */
	background-image: none;
}
.ui-state-disabled .ui-icon {
	filter:Alpha(Opacity=35); /* support: IE8 - See #6059 */
}

/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 4px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 4px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: 4px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: 4px;
}
