/*----------------------------------------------*/
/* advertise page - begin */

#advertisepage {
	/*background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAHUlEQVQIW2NkYGD4D8SM6DRIAAQwJDFUwhRRUQcALRkSBISGlPAAAAAASUVORK5CYII=") repeat top left;
	filter:alpha(opacity=40);*/
	background-color: #606075;
	padding-top: 70px;
	padding-bottom: 1%;
	
	min-height: 100vh;
	
	label {
		margin-left: 5px;
	}
}

.advertiseheader {
	border-bottom: 2px solid #fff;
	margin-bottom: 3%;
	h1 {
  	color: #fff;
  	font-size: 400%;
  }
  h2 {
  	color: #fff;
  }
}

.advertisefooter {
	border-top: 2px solid #fff;
	margin-top: 5%;
	margin-bottom: 5%;
	color: #fff;
}

.advertisetext p {
	margin-top: 5%;
	margin-bottom: 5%;
	color: #fff;
}

/* advertise page - end */