/* MAPS */

@media (max-width:960px) {
	.maps-frame {
		position: absolute;
		width: 0%;
		right: 0px;
		padding: 75px 0px 0px 0px;
		height: 100vh;
	}
	
	.listings-frame {
		position: absolute;
		width: 100%;
		left: 0px;
		margin: 0px 0px 0px 0px;
		padding: 105px 0px 0px 0px;
		overflow-y: scroll;
		overflow-x: hidden;
		height: 100vh;
	}
} //nothing with screen size bigger than 960px

@media (min-width:960px) {
	.maps-frame {
		position: absolute;
		width: 40%;
		right: 0px;
		padding: 75px 0px 0px 0px;
		height: 100vh;
	}
	
	.listings-frame {
		position: absolute;
		width: 60%;
		left: 0px;
		margin: 0px 0px 0px 0px;
		padding: 105px 0px 0px 0px;
		overflow-y: scroll;
		overflow-x: hidden;
		height: 100vh;
	}
}

.price-range {
	border: 0px;
	font-weight: bold;
}








/*----------------------------------------------*/
/* find page - begin */

#searchpage {
	.help-block {
		margin-top: 15px;
	}
	height: 105vh;
	padding-top: 80px;
	
	.searchtop {
		height: 13vh;
	}
	
	.searchmiddle {
		height: 100vh;
		padding-top: 0vh;
	}
	
	.wholecontent {
		height: 98vh;
	}
	
	.filtercontainer {
		margin-top: 2vh;
	}
	
	.previewcontainer {
		
	}
}

#searchpage-mobile {
	.help-block {
		margin-top: 15px;
	}
	padding-top: 50px;
	
	.searchtop {
	}
	
	.searchmiddle {
		padding-top: 0vh;
	}
	
	.wholecontent {
	}
	
	.filtercontainer {
		margin-top: 5vh;
	}
	
	.previewcontainer {
	}
}

.findheader {
	border-bottom: 2px solid #e3070a;
}

.findfooter {
	border-top: 2px solid #e3070a;
}

#map-canvas {
	width: 100%;
	margin: 0px;
	padding: 0px;
	height: 98vh;
}

/* find page - end */

/* advertises preview begin */

#advertises_preview {
	/*overflow-y: scroll;
  overflow-x: hidden;*/
  //white-space: nowrap;
	width: 100%;
  /*height: 68vh;*/
  padding: 0px 0px 0px 10px;
  
  .left {
		//margin-right: -20px;
	}
	.right {
		//margin-left: -20px;
	}
  
  
  
  .republic-preview {
  	padding: 0px 0px 0px 0px;
  	width: 48%;
  	margin-left: 1%;
  	
  	.single-preview {
  		opacity: 0.9;
  		&:hover {
				opacity: 1.0;
  		}
  		cursor: pointer;
  		background-color: #f2f2f2;
  		margin-bottom: 2%;
  		padding-bottom: 50px;
  		width: 100%;
  		position: relative;
  		.main-preview-image {
				width: 100%;
			}
			.no-main-preview-image {
				display: block;
		    margin-left: auto;
		    margin-right: auto;
			}
			.text-over-preview {
				position: absolute;
			}
			.perroom {
				left: 10px;
		    bottom: 26px;
			}
			.shape {
		    left: 10px;
		    bottom: 26px;
			}
			.title {
				left: 10px;
		    bottom: 4px;
			}
			.cost {
				left: 0px;
		    bottom: 60px;
		    padding: 4px 8px 4px 8px;
		    background-color: rgba(50, 50, 50, 0.7);
		    color: #fff;
		    border: 0px;
		    font-size: 150%;
		    border-radius: 0px;
			}
			.is_landlord {
				left: 0px;
		    top: 15px;
		    padding: 4px 8px 4px 8px;
		    background-color: rgba(50, 50, 50, 0.7);
		    color: #fff;
		    border: 0px;
		    font-size: 150%;
		    border-radius: 0px;
			}
			.gender {
				padding: 16px 15px 16px 15px;
				border-radius: 35px !important;
				min-width: 65px;
				right: 10px;
		    bottom: 20px;
		    border: 2px solid #fff;
		    background-color: rgb(70, 70, 70);
			}
			.compatibility {
				top: 0px;
				width: 100%;
				padding: 4px 8px 4px 8px;
		    background-color: rgba(50, 50, 50, 0.7);
		    color: #fff;
		    border: 0px;
		    font-size: 150%;
		    border-radius: 0px;
			}
  	}
  }
  
  .republic-preview-line {
  	padding: 0px 0px 0px 0px;
  	width: 94%;
  	margin-left: 2%;
  	
  	.single-preview {
  		opacity: 0.9;
  		&:hover {
				opacity: 1.0;
  		}
  		cursor: pointer;
  		background-color: #f2f2f2;
  		margin-bottom: 2%;
  		padding-bottom: 50px;
  		width: 100%;
  		position: relative;
  		.main-preview-image {
				width: 100%;
			}
			.no-main-preview-image {
				display: block;
		    margin-left: auto;
		    margin-right: auto;
			}
			.text-over-preview {
				position: absolute;
			}
			.perroom {
				left: 10px;
		    bottom: 26px;
			}
			.shape {
		    left: 10px;
		    bottom: 26px;
			}
			.title {
				left: 10px;
		    bottom: 4px;
			}
			.cost {
				left: 0px;
		    bottom: 60px;
		    padding: 4px 8px 4px 8px;
		    background-color: rgba(50, 50, 50, 0.7);
		    color: #fff;
		    border: 0px;
		    font-size: 150%;
		    border-radius: 0px;
			}
			.is_landlord {
				left: 0px;
		    top: 15px;
		    padding: 4px 8px 4px 8px;
		    background-color: rgba(50, 50, 50, 0.7);
		    color: #fff;
		    border: 0px;
		    font-size: 150%;
		    border-radius: 0px;
			}
			.gender {
				padding: 16px 15px 16px 15px;
				border-radius: 30px !important;
				right: 10px;
		    bottom: 20px;
		    border: 2px solid #fff;
		    background-color: rgb(70, 70, 70);
			}
  	}
  }
}

.single-preview-maps {
	cursor: pointer;
	background-color: #f2f2f2;
	margin-bottom: 2%;
	padding-bottom: 50px;
	width: 100%;
	min-width: 250px;
	position: relative;
	.main-preview-image {
		width: 100%;
	}
	.no-main-preview-image {
		display: block;
    margin-left: auto;
    margin-right: auto;
	}
	.text-over-preview {
		position: absolute;
	}
	.shape {
    left: 10px;
    bottom: 26px;
	}
	.title {
		left: 10px;
    bottom: 4px;
	}
	.detail {
		right: 4px;
    top: 4px;
    padding: 4px 8px 4px 8px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #ccc;
    border: 0px;
    font-size: 150%;
    border-radius: 0px;
	}
	.cost {
		left: 0px;
    bottom: 60px;
    padding: 4px 8px 4px 8px;
    background-color: rgba(50, 50, 50, 0.7);
    color: #fff;
    border: 0px;
    font-size: 150%;
    border-radius: 0px;
	}
	.gender {
		padding: 16px 15px 16px 15px;
		border-radius: 30px !important;
		right: 10px;
    bottom: 20px;
    border: 2px solid #fff;
    background-color: rgb(70, 70, 70);
	}
}

.filter-shadow {
    padding-top: 50px;
}

/* advertises preview end */