<!DOCTYPE html>
<html lang="<%= getTextMessage("lang") %>">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:image" content="http://<%= getTextMessage("mascot") %>/assets/img/facebook_img_<%= getTextMessage("mascot") %>.jpg"/>
		<meta property="og:title" content="<%= getTextMessage("web_site_title") %>" />
		<meta property="og:description" content="<%= getTextMessage("web_site_description") %>" />
		<title>
			<%= getTextMessage("web_site_title") %> &#8226; <%= yield(:title) %>
		</title>
		<link rel="icon" type="image/png" href="assets/img/favicon_<%= getTextMessage("mascot") %>.png?v=<%= getTextMessage("country") %>4">
		<!-- Bootstrap -->
		<!-- <link href="assets/plugins/font-awesome/css/font-awesome.min.css?v=2" rel="stylesheet"> -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<!-- <script src="//cdn.optimizely.com/js/3345090630.js"></script> -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		
		<!-- Google Tag Manager -->
			<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MGR553"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
			<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-MGR553');</script>
		<!-- End Google Tag Manager -->
		
	</head>
	<!-- <body data-spy="scroll" data-target="#myScrollspy"> -->
	<body>
		<div id="fb-root"></div>
		<script>
			/*
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=<%= getTextMessage("facebook_app_id") %>&version=v2.2";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
			*/
			// Load the SDK asynchronously
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/sdk.js";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

		</script>
		<div class="container-fluid" id="myScrollspy">
			<nav class="navbar navbar-default navbar-fixed-top" style="height: 75px; padding-top: 2vh; border-bottom: 0px;" role="navigation" id="main_navbar">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-bar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<%= link_to root_path, class: "navbar-brand" do %>
							<img src="assets/img/logo_<%= getTextMessage("mascot") %>.png" style="margin-top: -6px" alt="<%= getTextMessage("web_site_title") %>">
						<% end %>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="main-nav-bar" style="background-color: rgba(75, 84, 103, 1);">
						<ul class="nav navbar-nav">
							<li><a href="#" data-toggle="modal" data-target="#contact"><i class="fa fa-envelope"></i> <%= getTextMessage("contact") %></a></li>
							<li><a href="/partners"><i class="fa fa-heart"></i> <%= getTextMessage("partners") %></a></li>
							<li><a href="#" data-toggle="modal" data-target="#pricing_types"><i class="fa fa-map"></i> <%= getTextMessage("plans") %></a></li>
							
							<% if yield(:title) != "" %>
								
								<li style="margin-top: 16px;" class="hidden-sm hidden-xs">
									<!--
									<div class="fb-like" data-href="https://www.facebook.com/<%= getTextMessage("facebook_page") %>" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"  data-colorscheme="dark"></div>
									-->
									<div class="fb-like" data-href="https://www.facebook.com/<%= getTextMessage("facebook_page") %>" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
								</li>
								
							<% end %>
							<li class="hidden-md hidden-lg  hidden-sm">
								<%= link_to search_path do %>
									<i class="fa fa-search"></i> <%= getTextMessage("housing") %>
								<% end %>
							</li>
							<li class="hidden-md hidden-lg  hidden-sm">
								<%= link_to search_people_path do %>
									<i class="fa fa-search"></i> <%= getTextMessage("roommate") %>
								<% end %>
							</li>
							<li class="hidden-md hidden-lg  hidden-sm">
								<%= link_to register_vacancy_path do %>
									<i class="fa fa-sitemap"></i> <%= getTextMessage("vacancy_button") %>
								<% end %>
							</li>
							<li class="hidden-md hidden-lg  hidden-sm">
								<%= link_to register_people_path do %>
									<i class="fa fa-user"></i> <%= getTextMessage("people_button") %>
								<% end %>
							</li>
							<li class="hidden-md hidden-lg  hidden-sm">
								<%= link_to register_property_path do %>
									<i class="fa fa-home"></i> <%= getTextMessage("property_button") %>
								<% end %>
							</li>
							<% if logged_in? %>
								<li class="hidden-md hidden-lg hidden-sm">
									<%= link_to user_home_path, method: "get" do %>
										<i class="fa fa-home"></i> Home
									<% end %>
								</li>
								<li class="hidden-md hidden-lg hidden-sm">
									<%= link_to logout_path, method: "delete" do %>
										<i class="fa fa-sign-out"></i> <%= getTextMessage("signout") %>
									<% end %>
								</li>
							<% else %>
								<li class="hidden-md hidden-lg hidden-sm">
									<a data-toggle="modal" data-target="#login"><i class="fa fa-sign-in"></i> <%= getTextMessage("signin_or_signup") %></a>
								</li>
							<% end %>
						</ul>
						<div class="hidden-xs">
							<% if logged_in? %>
								<ul class="nav navbar-nav navbar-right">
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"><b><i class="fa fa-user"></i> <%= @current_user.first_name %> <span class="caret"></b></a>
										<ul class="dropdown-menu" role="menu">
											<li>
												<%= link_to user_home_path, method: "get" do %>
													<i class="fa fa-home"></i> Home
												<% end %>
											</li>
											<li class="divider"></li>
											<li>
												<% if current_user.facebook_id.nil? %>
													<%= link_to logout_path, method: "delete" do %>
														<i class="fa fa-sign-out"></i> <%= getTextMessage("signout") %>
													<% end %>
												<% else %>
													<%= link_to logout_path, method: "delete", onclick: 'signoutFacebook()' do %>
														<i class="fa fa-sign-out"></i> <%= getTextMessage("signout") %>
													<% end %>
												<% end %>
											</li>
										</ul>
									</li>
								</ul>
								<form class="navbar-form navbar-right" role="search">
									<% if yield(:title) != "" %>
										<a href="#" data-toggle="modal" data-target="#search_type" class="btn btn-primary"><i class="fa fa-search"></i> <%= getTextMessage("buttom_search") %></a>
									<% end %>
									<% if yield(:title) != "" %>
										<a href="#" data-toggle="modal" data-target="#announce_type" class="btn btn-success"><i class="fa fa-bullhorn"></i> <%= getTextMessage("button_announce") %></a>
									<% end %>
									
									<div class="btn-group">
									  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									    <i class="fa fa-university"></i> <%= getTextMessage("university") %> <span class="caret"></span>
									  </button>
									  <ul class="dropdown-menu" role="menu">
									  	<% universities_available.each_with_index do |university, index| %>
												<li><a href="/search?university=<%= university.acronym %>" onmousedown="trackButton('university', '<%= university.acronym %>')"><% if systemUniversity == university.acronym %> <i class="fa fa-circle"></i><% else %> <i class="fa fa-circle-o fa-inverse"></i><% end %> <%= university.acronym %> - <%= university.name %></a></li>
											<% end %>
									  </ul>
									</div>
									
									<div class="btn-group">
									  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									    <i class="fa fa-language"></i> <%= getTextMessage("language") %> <span class="caret"></span>
									  </button>
									  <ul class="dropdown-menu" role="menu">
									    <li><a href="/change_lang?lang=en" onmousedown="trackButton('language', 'english')"><img src="assets/img/us.png"> English<% if systemLanguage == "en" %> <i class="fa fa-circle pull-right"></i><% end %></a></li>
									    <li><a href="/change_lang?lang=es" onmousedown="trackButton('language', 'spanish')"><img src="assets/img/es.png"> Español<% if systemLanguage == "es" %> <i class="fa fa-check pull-right"></i><% end %></a></li>
									    <li><a href="/change_lang?lang=pt" onmousedown="trackButton('language', 'portuguese')"><img src="assets/img/br.png"> Português<% if systemLanguage == "pt" %> <i class="fa fa-circle pull-right"></i><% end %></a></li>
									  </ul>
									</div>
								</form>
								<script>var logged_in = true;</script>
							<% else %>
								<form class="navbar-form navbar-right" role="search">
									<% if yield(:title) != "" %>
										<a href="#" data-toggle="modal" data-target="#search_type" class="btn btn-primary"><i class="fa fa-search"></i> <%= getTextMessage("buttom_search") %></a>
									<% end %>
									<% if yield(:title) != "" %>
										<a href="#" data-toggle="modal" data-target="#signup" class="btn btn-success"><i class="fa fa-bullhorn"></i> <%= getTextMessage("button_announce") %></a>
									<% end %>
									<div class="btn-group">
									  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									    <i class="fa fa-university"></i> <%= getTextMessage("university") %> <span class="caret"></span>
									  </button>
									  <ul class="dropdown-menu" role="menu">
									  	<% universities_available.each_with_index do |university, index| %>
												<li><a href="/search?university=<%= university.acronym %>" onmousedown="trackButton('university', '<%= university.acronym %>')"><% if systemUniversity == university.acronym %> <i class="fa fa-circle"></i><% else %> <i class="fa fa-circle-o fa-inverse"></i><% end %> <%= university.acronym %> - <%= university.name %></a></li>
											<% end %>
									  </ul>
									</div>
									<div class="btn-group">
									  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									    <i class="fa fa-language"></i> <%= getTextMessage("language") %> <span class="caret"></span>
									  </button>
									  <ul class="dropdown-menu" role="menu">
									    <li><a href="/change_lang?lang=en" onmousedown="trackButton('language', 'english')"><img src="assets/img/us.png"> English<% if systemLanguage == "en" %> <i class="fa fa-check pull-right"></i><% end %></a></li>
									    <li><a href="/change_lang?lang=es" onmousedown="trackButton('language', 'spanish')"><img src="assets/img/es.png"> Español<% if systemLanguage == "es" %> <i class="fa fa-check pull-right"></i><% end %></a></li>
									    <li><a href="/change_lang?lang=pt" onmousedown="trackButton('language', 'portuguese')"><img src="assets/img/br.png"> Português<% if systemLanguage == "pt" %> <i class="fa fa-check pull-right"></i><% end %></a></li>
									  </ul>
									</div>
									<button type="button" class="btn btn-default" data-toggle="modal" data-target="#login"><i class="fa fa-sign-in"></i> <%= getTextMessage("signin_or_signup") %></button>
								</form>
								<script>var logged_in = false;</script>
							<% end %>
						</div>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
		</div>
		<%= javascript_tag do %>
			window.getTextMessage = {};
			<% textMessages.each do |key, value| %>
				window.getTextMessage['<%= j key %>'] = '<%= j getTextMessage key %>';
			<% end %>
		<% end %>

		<%= yield %>
		
		<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title"><%= getTextMessage("login_title") %></h4>
					</div>
					<%= form_for(:session, url: login_path, onSubmit: "return validateSignin()") do |f| %>
						<div class="modal-body">
							<div id="login_message"></div>
							<br>
							<div class="row">
								<div class="col-md-6 col-md-offset-3">
									<a class="btn btn-block btn-social btn-facebook" onclick="fb_login();"><i class="fa fa-facebook"></i> <%= getTextMessage("signin_with_facebook") %></a>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-6 col-md-offset-3">
									<i class="fa fa-user"></i> <%= f.label :email, getTextMessage("email") %>
									<%= f.text_field :email, placeholder: getTextMessage("email"), class: "form-control" %>
									<br>
									<i class="fa fa-lock"></i> <%= f.label :password, getTextMessage("password") %>
									<%= f.password_field :password, placeholder: getTextMessage("password"), class: "form-control"  %>
									<%= f.label :remember_me, class: "checkbox inline" do %>
										<%= f.check_box :remember_me %>
										<span><%= getTextMessage("keep_signed") %></span>
									<% end %>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-8 col-md-offset-2">
									<a href="javascript: showListingModal();" class="pull-left"><%= getTextMessage("dont_have_account") %>?</a>
									<a href="javascript: showRecoveryModal();" class="pull-right"><%= getTextMessage("forgot_password") %>?</a>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="reset" class="btn btn-default" data-dismiss="modal"><i class="fa fa-remove"></i> <%= getTextMessage("cancel") %></button>
							<%= f.submit getTextMessage("signin"), class: "btn btn-success", onclick: "return validateSignin()" %>
						</div>
					<% end %>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
		<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title"><%= getTextMessage("signup_title") %></h4>
					</div>
					<div class="modal-body">
						<div id="signup_message"></div>
							<br>
							<div class="row">
								<div class="col-md-8 col-md-offset-2">
									<a class="btn btn-block btn-social btn-facebook" onclick="fb_login();"><i class="fa fa-facebook"></i> <%= getTextMessage("signin_with_facebook") %></a>
								</div>
							</div>
							<br>
							<div class="row" align="center">
								<div class="col-md-10 col-md-offset-1">
									<h2><%= getTextMessage("or_signup") %></h2>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-5 col-md-offset-1">
									<label for="signup_first_name"><i class="fa fa-chevron-right"></i> <%= getTextMessage("name") %> <i class="fa fa-asterisk"></i></label>
									<input type="text" name="user[first_name]" id="signup_first_name" placeholder="<%= getTextMessage("name") %>" class="form-control">
								</div>
								<div class="col-md-5 col-md-offset-0">
									<label for="signup_last_name"><i class="fa fa-chevron-right"></i> <%= getTextMessage("surname") %> <i class="fa fa-asterisk"></i></label>
									<input type="text" name="user[last_name]" id="signup_last_name" placeholder="<%= getTextMessage("surname") %>" class="form-control">
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-5 col-md-offset-1">
									<label for="signup_email"><i class="fa fa-at"></i> <%= getTextMessage("email") %> <i class="fa fa-asterisk"></i></label>
									<div class="pull-right"><input type="checkbox" name="user[hide_email]" id="signup_hide_email"> <label for="signup_hide_email"><%= getTextMessage("hide") %></label> <b><span data-toggle="tooltip" data-placement="top" title="<%= getTextMessage("hide_explanation") %>">[?]</span></b></div>
									<input type="text" name="user[email]" id="signup_email" placeholder="<%= getTextMessage("email") %>" class="form-control">
								</div>
								<div class="col-md-5 col-md-offset-0">
									<label for="signup_phone"><i class="fa fa-phone"></i> <%= getTextMessage("phone") %></label>
									<div class="pull-right"><input type="checkbox" name="user[hide_phone]" id="signup_hide_phone"> <label for="signup_hide_phone"><%= getTextMessage("hide") %></label></div>
									<input type="text" name="user[phone]" id="signup_phone" placeholder="<%= getTextMessage("phone") %>" class="form-control">
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-10 col-md-offset-1">
									<label for="signup_facebook"><i class="fa fa-facebook"></i> <%= getTextMessage("facebook") %></label>
									<input type="text" name="user[facebook]" id="signup_facebook" placeholder="<%= getTextMessage("facebook") %>" class="form-control">
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-5 col-md-offset-1">
									<label for="signup_password"><i class="fa fa-lock"></i> <%= getTextMessage("password") %> <i class="fa fa-asterisk"></i></label>
									<input type="password" name="user[password]" id="signup_password" placeholder="<%= getTextMessage("password") %>" class="form-control">
								</div>
								<div class="col-md-5 col-md-offset-0">
									<label for="signup_password_confirmation"><i class="fa fa-lock"></i> <%= getTextMessage("password_confirmation") %> <i class="fa fa-asterisk"></i></label>
									<input type="password" name="user[password_confirmation]" id="signup_password_confirmation" placeholder="<%= getTextMessage("password_confirmation") %>" class="form-control">
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-10 col-md-offset-1">
									<a href="#" data-dismiss="modal" data-toggle="modal" data-target="#login"><%= getTextMessage("already_a_member") %></a>
								</div>
							</div>
					</div>
					<div class="modal-footer">
						<button type="reset" class="btn btn-default" data-dismiss="modal"><i class="fa fa-remove"></i> <%= getTextMessage("cancel") %></button>
						<a href="javascript: signupWizard();" class="btn btn-success"><i class="fa fa-pencil"></i> <%= getTextMessage("register") %></a>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
		<div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" onclick="cleanContactForm()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="contact_title"><%= getTextMessage("contact_title") %></h4>
					</div>
					<div class="modal-body contactpage" id="contactpage">
						<div id="contact_message"></div>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 contacttext text-center">
								<p class="lead" id="contact_subtitle"><%= getTextMessage("contact_subtitle") %> <i class="fa fa-smile-o"></i></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-5 col-md-offset-1">
								<label for="message_name"><%= getTextMessage("name") %></label>
								<input id="message_name" name="message_name" type="text" class="form-control" placeholder="<%= getTextMessage("name") %>">
							</div>
							<div class="col-md-5 col-md-offset-0">
								<label for="message_email"><%= getTextMessage("email") %></label>
								<input id="message_email" name="message_email" type="text" class="form-control" placeholder="<%= getTextMessage("email") %>">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-10 col-md-offset-1">
								<label for="message_subject"><%= getTextMessage("subject") %></label>
								<input id="message_subject" name="message_subject" type="text" class="form-control" placeholder="<%= getTextMessage("subject") %>">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-10 col-md-offset-1">
								<label for="message_body"><%= getTextMessage("message") %></label>
								<textarea id="message_body" name="message_body" class="form-control" placeholder="<%= getTextMessage("message") %>" rows="6"></textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="reset" class="btn btn-default" data-dismiss="modal" onclick="cleanContactForm()"><i class="fa fa-remove"></i> <%= getTextMessage("cancel") %></button>
						<a href="javascript: sendMessage();" id="send_message_button" class="btn btn-success"><i class="fa fa-check"></i> <%= getTextMessage("send") %></a>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
		<div class="modal fade" id="contact_partner" tabindex="-1" role="dialog" aria-labelledby="contactPartnerModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="contact_partner_title"><%= getTextMessage("contact_partner_title") %></h4>
					</div>
					<div class="modal-body contactpage" id="contactpage">
						<div id="contact_partner_message"></div>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 contacttext text-center">
								<p class="lead" id="contact_partner_subtitle"><%= getTextMessage("contact_partner_subtitle") %> <i class="fa fa-smile-o"></i></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-5 col-md-offset-1">
								<label for="contact_partner_message_name"><%= getTextMessage("name") %></label>
								<input id="contact_partner_message_name" name="message_name" type="text" class="form-control" placeholder="<%= getTextMessage("name") %>">
							</div>
							<div class="col-md-5 col-md-offset-0">
								<label for="contact_partner_message_email"><%= getTextMessage("email") %></label>
								<input id="contact_partner_message_email" name="message_email" type="text" class="form-control" placeholder="<%= getTextMessage("email") %>">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-10 col-md-offset-1">
								<label for="contact_partner_message_subject"><%= getTextMessage("subject") %></label>
								<input id="contact_partner_message_subject" name="message_subject" type="text" class="form-control" placeholder="<%= getTextMessage("subject") %>">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-10 col-md-offset-1">
								<label for="contact_partner_message_body"><%= getTextMessage("message") %></label>
								<textarea id="contact_partner_message_body" name="message_body" class="form-control" placeholder="<%= getTextMessage("message") %>" rows="6"></textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="reset" class="btn btn-default" data-dismiss="modal"><i class="fa fa-remove"></i> <%= getTextMessage("cancel") %></button>
						<a href="javascript: sendPartnerMessage();" class="btn btn-success"><i class="fa fa-check"></i> <%= getTextMessage("send") %></a>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<div class="modal fade" id="recovery" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title"><%= getTextMessage("password_recovery") %></h4>
					</div>
					<div class="modal-body">
						<div id="recovery_message"></div>
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
								<label for="recovery_email"><i class="fa fa-inbox"></i> <%= getTextMessage("enter_your_email") %></label>
								<input type="text" name="recovery_email" id="recovery_email" class="form-control" placeholder="<%= getTextMessage("enter_your_email") %>">
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="reset" class="btn btn-default" data-dismiss="modal"><i class="fa fa-remove"></i> <%= getTextMessage("cancel") %></button>
						<a href="javascript: recoveryPassword();" class="btn btn-primary"><i class="fa fa-recycle"></i> <%= getTextMessage("recover") %></a>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<div class="modal fade" id="announce_type" tabindex="-1" role="dialog" aria-labelledby="announceModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body" align="center">
						<h2><%= getTextMessage("what_register") %>?</h2>
						<br>
						<div class="row">
							<div class="col-md-8 col-md-offset-2">
								<%= link_to register_vacancy_path, class: "btn btn-primary btn-block" do %>
									<i class="fa fa-sitemap"></i> <%= getTextMessage("vacancy_button") %>
								<% end %>
								<%= link_to register_people_path, class: "btn btn-success btn-block" do %>
									<i class="fa fa-user"></i> <%= getTextMessage("people_button") %>
								<% end %>
								<%= link_to register_property_path, class: "btn btn-info btn-block" do %>
									<i class="fa fa-home"></i> <%= getTextMessage("property_button") %>
								<% end %>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="reset" class="btn btn-default" data-dismiss="modal"><i class="fa fa-remove"></i> <%= getTextMessage("cancel") %></button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<div class="modal fade" id="search_type" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body" align="center">
						<div id="select_university_alert"></div>
						<h2><%= getTextMessage("what_search") %>?</h2>
						<br>
						<div class="row">
							<div class="col-md-8 col-md-offset-2">
								<label for="university"><i class="fa fa-university"></i> <%= getTextMessage("select_your_university") %></label>
								<select id="university" class="form-control" onchange="setSystemUniversity();">
									<option value="0">-- <%= getTextMessage("select_your_university") %> --</option>
									<% universities_available.each_with_index do |university, index| %>
										<option value="<%= university.acronym %>" <%= isSystemUniversity(university.acronym) %>><%= university.acronym %> - <%= university.name %></option>
									<% end %>
								</select>
								<br>
								<a href="javascript: searchValidadeGo('housing')" class="btn btn-primary btn-block"><i class="fa fa-home"></i> <%= getTextMessage("housing") %></a>
								<a href="javascript: searchValidadeGo('roommate')" class="btn btn-success btn-block"><i class="fa fa-user"></i> <%= getTextMessage("roommate") %></a>
								<!--
								<%= link_to search_path, class: "btn btn-primary btn-block" do %>
									<i class="fa fa-home"></i> <%= getTextMessage("housing") %>
								<% end %>
								<%= link_to search_people_path, class: "btn btn-success btn-block" do %>
									<i class="fa fa-user"></i> <%= getTextMessage("roommate") %>
								<% end %>
								-->
							</div>
						</div>
						
					</div>
					<div class="modal-footer">
						<button type="reset" class="btn btn-default" data-dismiss="modal"><i class="fa fa-remove"></i> <%= getTextMessage("cancel") %></button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
		
		<div class="modal fade" id="pricing_types" tabindex="-1" role="dialog" aria-labelledby="pricingModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-body" align="center">
						<div class="row">
							<div class="col-md-12">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							</div>
						</div>
						<br>
						<div class="row">
						  <!-- item -->
						  <div class="col-md-4 text-center">
						    <div class="panel panel-danger panel-pricing">
						      <div class="panel-heading">
						        <i class="fa fa-graduation-cap"></i>
						        <h3><%= getTextMessage("student") %></h3>
						      </div>
						      <div class="panel-body text-center">
						        <p><strong><%= getCountryMessage("currency") %><%= getCountryMessage("price_plan1") %> / <%= getTextMessage("month") %></strong></p>
						      </div>
						      <ul class="list-group text-center">
						        <li class="list-group-item"><i class="fa fa-check"></i> &infin; <%= getTextMessage("listings") %></li>
						        <li class="list-group-item"><i class="fa fa-check"></i> &infin; <%= getTextMessage("images") %> / <%= getTextMessage("listing") %></li>
						        <li class="list-group-item"><i class="fa fa-check"></i> <%= getTextMessage("only_for_students") %></li>
						      </ul>
						      <div class="panel-footer">
						        <a class="btn btn-lg btn-block btn-danger" href="javascript: switchPlanToSignup()"><%= getTextMessage("register") %></a>
						      </div>
						    </div>
						  </div>
						  <!-- /item -->
						  <!-- item -->
						  <div class="col-md-4 text-center">
						    <div class="panel panel-warning panel-pricing">
						      <div class="panel-heading">
						        <i class="fa fa-building-o"></i>
						        <h3><%= getTextMessage("business") %></h3>
						      </div>
						      <div class="panel-body text-center">
						        <p><strong><%= getCountryMessage("currency") %><%= getCountryMessage("price_plan2") %> / <%= getTextMessage("month") %></strong></p>
						      </div>
						      <ul class="list-group text-center">
						        <li class="list-group-item"><i class="fa fa-check"></i> <%= getCountryMessage("plan2_listings") %> <%= getTextMessage("listings") %></li>
						        <li class="list-group-item"><i class="fa fa-check"></i> &infin; <%= getTextMessage("images") %> / <%= getTextMessage("listing") %></li>
						        <li class="list-group-item"><i class="fa fa-check"></i> <%= getTextMessage("for_landlords") %></li>
						        <li class="list-group-item"><i class="fa fa-check"></i> <%= getTextMessage("seven_days_free") %></li>
						      </ul>
						      <div class="panel-footer">
						      	<%= link_to register_property_path, class: "btn btn-lg btn-block btn-warning" do %>
											<%= getTextMessage("hire") %>
										<% end %>
						      </div>
						    </div>
						  </div>
						  <!-- /item -->
						  <!-- item -->
						  <div class="col-md-4 text-center">
						    <div class="panel panel-success panel-pricing">
						      <div class="panel-heading">
						        <i class="fa fa-trophy"></i>
						        <h3><%= getTextMessage("admin") %></h3>
						      </div>
						      <div class="panel-body text-center">
						        <p><strong><%= getTextMessage("on_request") %></strong></p>
						      </div>
						      <ul class="list-group text-center">
						        <li class="list-group-item"><i class="fa fa-check"></i> <%= getTextMessage("administration") %></li>
						        <li class="list-group-item"><i class="fa fa-check"></i> <%= getTextMessage("contracts") %></li>
						        <li class="list-group-item"><i class="fa fa-check"></i> <%= getTextMessage("billing") %></li>
						      </ul>
						      <div class="panel-footer">
						        <a class="btn btn-lg btn-block btn-success" href="javascript: switchPlanToContact()"><%= getTextMessage("contact_us") %></a>
						      </div>
						    </div>
						  </div>
						  <!-- /item -->
						</div>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script>
			// check if it is a login try
			var trying_login = false;
			function statusChangeCallback(response) {
				//console.log('statusChangeCallback');
				//console.log(response);
				// The response object is returned with a status field that lets the
				// app know the current login status of the person.
				// Full docs on the response object can be found in the documentation
				// for FB.getLoginStatus().
				if (response.status === 'connected') {
					// Logged into your app and Facebook.
					if (response.authResponse) {
						var access_token = undefined;
						var expires_in = undefined;
						var user_id = undefined;
						//console.log('Welcome!  Fetching your information.... ');
						//console.log(response); // dump complete info
						access_token = response.authResponse.accessToken; //get access token
						user_id = response.authResponse.userID; //get FB UID
						expires_in = response.authResponse.expiresIn;
						FB.api('/me', function(api_response) {
							var email = api_response.email;
							var name = api_response.name;
							var first_name = api_response.first_name;
							var last_name = api_response.last_name;
							var link = api_response.link;
							
							var formData = new FormData();
							formData.append('access_token', access_token);
							formData.append('expires_in', expires_in);
							formData.append('user_id', user_id);
							formData.append('name', name);
							formData.append('first_name', first_name);
							formData.append('last_name', last_name);
							formData.append('link', link);
							formData.append('email', email);
							
							$.ajax({
								type: 'POST',
								url: '/login_facebook',
								data: formData,
								async: false,
								cache: false,
								contentType: false,
								processData: false,
								success: function(data) {
									if (data.status == "success") {
									  if (trying_login) {
									  	trying_login = false;
									  	window.location.href = "/user_home";
									  }
									  else if (!logged_in) {
									  	location.reload();
									  }
									}
									else if (data.status == "fail") {
										
									}
									else if (data.status == "not_allowed") {
										
									}
								},
								error: function(data) {
									console.log("error");
									console.log(data);
								}
							});
							
						});
					}
					else {
						//user hit cancel button
						//console.log('User cancelled login or did not fully authorize.');
					}
				} 
				else if (response.status === 'not_authorized') {
					// The person is logged into Facebook, but not your app.
					//document.getElementById('status').innerHTML = 'Please log ' + 'into this app.';
				} 
				else {
					// The person is not logged into Facebook, so we're not sure if
					// they are logged into this app or not.
					//document.getElementById('status').innerHTML = 'Please log ' + 'into Facebook.';
				}
			}
			// This function is called when someone finishes with the Login
			// Button.  See the onlogin handler attached to it in the sample
			// code below.
			function checkLoginState() {
				FB.getLoginStatus(function(response) {
					statusChangeCallback(response);
				});
			}
			window.fbAsyncInit = function() {
			  FB.init({
			    appId      : getTextMessage["facebook_app_id"],
			    xfbml      : true,
			    version    : 'v2.2'
			  });
			};
			function fb_login(){
				trying_login = true;
				FB.login(function(response) {
					statusChangeCallback(response);
				}, {
					scope: 'public_profile,email'
				});
			}
			function signoutFacebook() {
				FB.logout(function(response) {
		       
		    });
			}
			
			// Now that we've initialized the JavaScript SDK, we call 
			// FB.getLoginStatus().  This function gets the state of the
			// person visiting this page and can return one of three states to
			// the callback you provide.  They can be:
			//
			// 1. Logged into your app ('connected')
			// 2. Logged into Facebook, but not your app ('not_authorized')
			// 3. Not logged into Facebook and can't tell if they are logged into
			//    your app or not.
			//
			// These three cases are handled in the callback function.
			/*
			FB.getLoginStatus(function(response) {
				statusChangeCallback(response);
			});
			*/
		
			$(function () {
				$('[data-toggle="tooltip"]').tooltip()
			});
			$( document ).ready(function() {
				setTimeout(function(){ checkLoginState(); }, 1000);
				
				<% if yield(:title) != "Home" %> 
					<% flash.each do |key, value| %>
						$("#login").modal("show");
						alertMessage("login_message", "<%= value %>", "<%= key %>", false);
					<% end %>
				<% end %>
			});
		</script>
		<div id="modal_temp"></div>
	</body>
</html>
